@model CTW_FIA.Models.LocalModels.MediaDto
@{
	
}

<div class="no-gutters text-dark">
<div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Add Media</h4>
                <form class="form-sample" method="post" asp-action="PostMedia" asp-controller="MediaSide" enctype="multipart/form-data">
                    <input asp-for="SourceTab" hidden value="@ViewBag.Table"/>
                    <input asp-for="strurn" hidden value="@ViewBag.Strurn"/>
            <div class="col-md-6">
                <div class="form-group row">
                <div class="col-sm-4">
                    <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="" checked> Add Picture <i class="input-helper"></i></label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios2" value="option2"> Add File <i class="input-helper"></i></label>
                    </div>
                </div>
   
                </div>
            </div>
            
                <div class="row">

                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="customFile">Image / File Upload</label>
                        <div class="col-sm-9">
                            <input type="file" asp-for="formFile" id="image-input" class="btn btn-outline-primary btn-icon-text" />
                        </div>
                    </div>
                </div>
            </div>
            @*<p class="card-description text-dark"> Details </p>*@

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">File name</label>
                <div class="col-sm-9">
                  <input type="text" asp-for="FileName" class="form-control" id="txtFilename" >
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Description</label>
                <div class="col-sm-9">
                  <textarea class="form-control" asp-for="Descr" id="txtDescription" rows="4"></textarea>
                </div>
              </div>
            </div>

          </div>
            <div id="display-image"></div>
          <br/>
           <button type="submit" class="btn btn-primary btn-fw" onclick="SaveMediaData()"> Save </button>

        </form>
      </div>
    </div>
  </div>
</div>
<style>
    #display-image {
        width: 350px;
        height: 290px;
        border: 2px solid #dddddd;
        background-position: center;
        background-size: cover;

        margin-left: 40rem;
        margin-top: -17rem;

    }
</style>
<script type="text/javascript">
     $(document).ready(function() {
               $('.spinner').css('display', 'none');
     });
    // Loading and showing Image
        const image_input = document.querySelector("#image-input");
        image_input.addEventListener("change", function () {
            const reader = new FileReader();
            reader.addEventListener("load", () => {
            const uploaded_image = reader.result;
            document.querySelector("#display-image").style.backgroundImage = `url(${uploaded_image})`;
        });
        reader.readAsDataURL(this.files[0]);
            //SaveFileData();
        });
        var loadFile = function (event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src) // free memory
        }
        alert('The file has been uploaded successfully.');
    };    
    
function CancelTask()
{            
      
}
     function  SaveFileData()
   {
      var fdata = new FormData();
        var fileInput = $("#image-input")[0];
        var Imagefile = fileInput.files[0];
        fdata.append("file", Imagefile);
         $.ajax({
             type: "POST",
             url: "/api/UploadMedia/PostMedia/",
             processData: false,
             contentType: false,
             data: fdata,
             dataType: "text",
             success: function(msg) {
                 console.log(msg);
                 $("#txtFilename").val(msg);
                 //SaveMediaData();
             },
             error: function(msg) {
                 console.log(msg);
             }
         });
   }


</script>
