@model CTW_FIA.Models.DatabaseModels.Person
@{
    Layout = null;
}
<style>
    .custom-message-box {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 20px;
        z-index: 1000;
        text-align: center;
    }

    #validationMessage {
        display: none; /* Hide the div by default */
    }

    #validationText {
        display: inline-flex; /* Use flexbox to center vertically */
        align-items: center; /* Center vertically */
    }

</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-dark">Add Reporting Agency</h4>
            </div>
            <div class="modal-body">
                <input type="text" id="txtReportingAgency" class="form-control" placeholder="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default text-dark" onclick="AddReportingAgency()">Add</button>
                <button type="button" class="btn btn-default text-dark" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<form method="post" id="personform" asp-action="AddPerson" asp-controller="Person" enctype="multipart/form-data">
    <div class="row no-gutters">

        <div class="col-md-12 grid-margin stretch-card">


            <div class="card">
                <div class="card-body">
                    <h5>Person Involved / Terrorist</h5>
                    @*<label class="card-description" style="font-size: 13px;"> Please fill Person Involved Form </label>*@
                    <div>
                        <label class="card-description" style="font-size: 13px;"><span style="font:bold">Note:</span>  Mandatory fields represented by (<span style="color:red">*</span> sign ) </label>
                    </div>
                    <fieldset class="border p-3">

                        <div class="form-group row">
                            <label for="personcategory" class="col-sm-2 col-form-label" style="font-size: 13px;">Insert Media</label>
                            <div class="col-sm-4">
                                <input name="File" type="file" class="form-control" id="fileInput" onchange="previewImage();" /> @*onchange="readURL(this);"*@
                            </div>
                            <div class="col-sm-4" id="imgttag">
                                <img id="imagePreview" src="https://placehold.jp/150*150.png" alt="" style="width:150PX;height:auto; margin-left: 150PX; border:1px solid red;border-radius:10px; padding:5px" />
                            </div>
                        </div>
                    </fieldset>
                    <br />
                    <fieldset class="border p-3">

                        <div class="form-group row">
                            <label for="personcategory" class="col-sm-2 col-form-label" style="font-size: 13px;">Category<span style="color:red">*</span></label>
                            <div class="col-sm-4">
                                <select asp-for="Category"  id="personcategory" class="form-control">
                                    <option>Select</option>
                                    <option>ACCUSED/SUSPECT</option>
                                    <option>FRIEND / RELATIVE</option>
                                    <option>VICTIM</option>
                                    <option>WITNESS</option>
                                    <option>OTHER</option>
                                </select>
                                <span id="categoryValidation" class="text-danger"></span>
                            </div>
                            <label for="Personcurrentstatus" class="col-sm-2 col-form-label" style="font-size: 13px;">Current Status<span style="color:red">*</span></label>
                            <div class="col-sm-4">
                                <select asp-for="CurrentStatus"  id="Personcurrentstatus" class="form-control">
                                    <option>Select</option>
                                    <option>Arrested</option>
                                    <option>On Bail</option>
                                    <option>Convicted</option>
                                    <option>Released</option>
                                    <option>POs</option>
                                    <option>CAs</option>
                                    <option>Died</option>
                                    <option>Red Notice</option>
                                    <option>Blue Notice</option>
                                    <option>Other</option>
                                </select>
                                <span id="StatusValidation" class="text-danger"></span>
                            </div>


                        </div>
                    </fieldset>
                    <br>
                    <fieldset class="border p-3">

                        <div class="form-group row">
                            <label for="Personpreportingagency" class="col-sm-2 col-form-label" style="font-size: 13px;">Reporting Agency<span style="color:red">*</span></label>
                            <div class="col-sm-4">
                                <select asp-for="ReportingAgency" id="Personpreportingagency" class="form-control">
                                </select>
                               
                                <span id="AgencyValidation" class="text-danger"></span>
                            </div>
                   @*         <div class="col-sm-2">

                                <button id="new-item" type="button" class="btn btn-primary mr-2" style="font-size: 11px" data-toggle="modal" data-target="#myModal">Add</button>

                            </div>*@
                            <label for="Personaccusationstatus" class="col-sm-2 col-form-label" style="font-size: 13px;">Current Accusation Status<span style="color:red">*</span></label>
                            <div class="col-sm-4">
                                <select asp-for="AccusationStatus" id="Personaccusationstatus" class="form-control">
                                    @*onchange="addPersonaccusation()"*@
                                    <option>Select</option>
                                    @foreach (var accusation in ViewBag.AccusationList)
                                    {
                                        <option value="@accusation">@accusation</option>
                                    }
                                    @*<option value="Red Book">Red Book</option>
                                    <option>4th Schedule</option>
                                    <option value="4th Schedule of ATA">List under 4th Schedule of ATA</option>
                                    <option value="UN Consolidated List">UN Consolidated List</option>
                                    <option value="Foreign Terrorist Fighter">Foreign Terrorist Fighter</option>
                                    <option value="NCB_Interpol">NCB_Interpol</option>
                                    <option value="ATBs-Afghan">ATBs-Afghan Trained Boys</option>
                                    <option value="RAPs-Returnee">RAPs-Returnee from Afghan Prisons</option>
                                    <option value="RPPs-Released">RPPs-Released from Pakistan Prisons</option>
                                    <option value="Other">Other</option>*@
                                </select>

                                <span id="AccusationValidation" class="text-danger"></span>
                            </div>
                            
                        </div>

                        @*<div class="form-group row">
                            
                            <div class="col-sm-4">
                                <div class="custom-control custom-switch customSwitch1" style="">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                    <label class="custom-control-label" for="customSwitch1">Head Money/ Not Head Money</label>
                                </div>
                            </div>
                            <label id="headmoneyCol" class="col-sm-2 col-form-label headmoney" style="font-size: 13px;margin-left:18px; display:">Reward / Headmoney</label>
                            <div class="col-sm-4 headmoney">
                                <input type="number" asp-for="NHeadMoney" class="form-control headmoney" style=" display:" />
                            </div>
                        </div>*@

                    </fieldset>
                    <fieldset class="border p-3">
                        <legend class="float-none w-auto p-2" style="font-size: 12px">Reward</legend>

                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label" style="font-size: 13px;">Is Head Money</label>

                            <div class="col-sm-4">
                                <input type="checkbox" Asp-for="iSHeadMoney" id="headMoneyCheckbox" style="height:20px; width:20px;margin-top:12px;" class="form-control" />
                            </div>
                            <label for="" class="col-sm-2 col-form-label" style="font-size: 13px;">HeadMoney Amount</label>
                            <div class="col-sm-4">
                                <input type="number" Asp-for="NHeadMoney" id="headMoneyAmount" class="form-control" maxlength="200" disabled />
                            </div>
                        </div>
                        

                    </fieldset>
                    <fieldset class="border p-3">
                        <legend class="float-none w-auto p-2" style="font-size: 12px">Basic Information</legend>

                        <div class="form-group row">
                            <label for="Name" class="col-sm-2 col-form-label" style="font-size: 13px;">Name<span style="color:red">*</span></label>

                            <div class="col-sm-4">
                                <input type="text" id="nameid" asp-for="Name" class="form-control" maxlength="200" />
                                <span id="NameValidation" class="text-danger"></span>
                            </div>


                            <label for="Aliases" class="col-sm-2 col-form-label" style="font-size: 13px;">Aliases</label>
                            <div class="col-sm-4">
                                <input type="text" asp-for="Aliases" class="form-control" maxlength="200" />
                            </div>
                        </div>
                        <div class="form-group row">

                            <label for="FatherName" class="col-sm-2 col-form-label" style="font-size: 13px;">Father Name</label>

                            <div class="col-sm-4">
                                <input type="text" asp-for="FatherName" class="form-control" maxlength="200" />
                            </div>

                            <label for="FamilyName" class="col-sm-2 col-form-label" style="font-size: 13px;">Caste</label>
                            <div class="col-sm-4">
                                <input type="text" asp-for="FamilyName" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Personcurrentstatus" class="col-sm-2 col-form-label" style="font-size: 13px;">Criminal Record</label>
                            <div class="col-sm-4">
                                <textarea class="form-control" rows="4"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="pgender" class="col-sm-2 col-form-label" style="font-size: 13px;">Gender</label>
                            <div class="col-sm-4">
                                <select asp-for="Gender" id="selectedgender" class="form-control">
                                    <option value="Unknown">Select</option>
                                    <option>Male</option>
                                    <option>Female</option>
                                    <option>Transgender </option>
                                </select>
                            </div>
                            <br />
                            <br />
                            <label for="DOB" class="col-sm-2 col-form-label" style="font-size: 13px;">DOB</label>
                            <div class="col-sm-4">
                                <input type="date" asp-for="DOB" class="form-control" />
                            </div>
                            <label for="Age" class="col-sm-2 col-form-label" style="font-size: 13px;">Age</label>
                            <div class="col-sm-4">
                                <input type="number" asp-for="Age" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group row">

                            <label for="PlaceofBirth" class="col-sm-2 col-form-label" style="font-size: 13px;">Place of Birth</label>
                            <div class="col-sm-4">
                                <input type="text" asp-for="PlaceOfBirth" class="form-control" maxlength="200" />
                            </div>

                            <label class="col-sm-2 col-form-label" style="font-size: 13px;">Tribe</label>
                            <div class="col-sm-4">
                                <input type="text" asp-for="Tribe" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="CnicNo" class="col-sm-2 col-form-label" style="font-size: 13px;">CNIC</label>
                            <div class="col-sm-4">
                                <input id="cnicInput" type="number" asp-for="CNIC" class="form-control" pattern="[0-9]{1,13}" maxlength="13" />
                            </div>

                            <label for="Passport No" class="col-sm-2 col-form-label" style="font-size: 13px;">Passport No</label>
                            <div class="col-sm-4">
                                <input type="text" asp-for="PassPortNo" class="form-control" placeholder="" maxlength="30">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="MaritalStatus" class="col-sm-2 col-form-label" style="font-size: 13px;">Marital Status</label>
                            <div class="col-sm-4">

                                <select asp-for="MaritalStatus" class="form-control">
                                    <option value="Unknown">Select</option>
                                    <option value="Single">Single</option>
                                    <option value="Married">Married</option>
                                    <option value="Divorced">Divorced</option>
                                    <option value="Widow">Widow</option>
                                    <option value="Other">Other </option>
                                </select>
                            </div>
                            
                            <label for="Religion" class="col-sm-2 col-form-label" style="font-size: 13px;">Religion</label>
                            <div class="col-sm-4">
                                <select asp-for="Religion" class="form-control">
                                    <option value="Unknown">Select</option>
                                    <option value="">Sikhism</option>
                                    <option value="Islam">Islam</option>
                                    <option value="Christianity">Christianity</option>
                                    <option value="Hinduism">Hinduism</option>
                                    <option value="Sikhism">Sikhism</option>
                                    <option value="Buddhism">Buddhism</option>
                                    <option value="Other">Other </option>
                                </select>
                            </div>

                         </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" style="font-size: 13px;">Sect</label>
                            <div class="col-sm-4">

                                <select asp-for="Sect" class="form-control">
                                    <option value="Unknown">Select</option>
                                    <option value="Sunni">Sunni</option>
                                    <option value="Shia">Shia</option>

                                </select>
                            </div>
                            <label for="" class="col-sm-2 col-form-label" style="font-size: 13px;">Language</label>
                            <div class="col-sm-4">
                                <input asp-for="Languages" type="text" class="form-control" maxlength="200" />
                            </div>
                        </div>
                        
                        
                        <div class="form-group row">
                            <label for="Occupation" class="col-sm-2 col-form-label" style="font-size: 13px;">Occupation</label>
                            <div class="col-sm-4">
                                <input type="text" asp-for="Occupation" class="form-control" maxlength="200" />
                            </div>

                            <label for="Education" class="col-sm-2 col-form-label" style="font-size: 13px;">Education / Academic</label>
                            <div class="col-sm-4">
                                <input type="text" asp-for="Education" class="form-control" />

                            </div>
                        </div>
                      
                    </fieldset>



                    <fieldset class="border p-3">
                        <legend class="float-none w-auto p-2" style="font-size: 12px">Addresses</legend>

                        <div class="form-group row">

                            <label for="pcountry" class="col-sm-2 col-form-label" style="font-size: 13px;">Country<span style="color:red">*</span></label>

                            <div class="col-sm-4">
                                <select asp-for="Country" id="selectedcountry" class="form-control">
                                    <option>Select Country</option>
                                    @for (var i = 0; i < ViewBag.Allcountries.Count; i++)
                                    {
                                        <option value="@ViewBag.Allcountries[i].strCountry">@ViewBag.Allcountries[i].strCountry</option>
                                    }
                                </select>
                                <span id="CountryValidation" class="text-danger"></span>
                                
                            </div>

                            <label for="personprovince" class="col-sm-2 col-form-label" style="font-size: 13px;">Province</label>
                            <div class="col-sm-4">
                                <select id="personprovince" asp-for="Province"  class="form-control">
                                    <option value="Unknown">Select the Province</option>
                                </select>
                                <span id="ProvinceValidation" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="pdistrict" class="col-sm-2 col-form-label" style="font-size: 13px;">District</label>

                            <div class="col-sm-4">

                                <select id="ProvinceDistrict" asp-for="District" class="form-control">
                                    <option value="Unknown">Select the District</option>

                                </select>
                                <span id="DistrictValidation" class="text-danger"></span>
                            </div>


                            <label for="PostalCode" class="col-sm-2 col-form-label" style="font-size: 13px;">Postal Code</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" asp-for="Postelcode"  placeholder="">

                            </div>
                        </div>

                        <div class="form-group row">

                            @*<label for="PostalCode" class="col-sm-2 col-form-label" style="font-size: 13px;">Police Station</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" asp-for="PoliceAstation" placeholder="">
                            </div>*@
                        </div>
                        <div class="form-group row">
                            <label for="paddress" class="col-sm-2 col-form-label" style="font-size: 13px;">Address</label>


                            <div class="col-sm-9">
                                <textarea class="form-control" asp-for="AddressDescription"  rows="4"></textarea>
                            </div>
                            <div class="col-sm-1">
                                <button type="submit" class="btn btn-primary mr-2" style="font-size: 13px;">
                                    +
                                </button>

                            </div>
                        </div>

                    </fieldset>
                    <fieldset class="border p-3">
                        <legend class="float-none w-auto p-2" style="font-size: 12px">Contact Details</legend>

                        <div class="form-group row">
@*
                            <label for="cellno" class="col-sm-2 col-form-label" style="font-size: 13px;">Cell No</label>

                            <div class="col-sm-4">
                                <input type="text" name="cellno" asp-for class="form-control" maxlength="11" />
                            </div>*@

                            <label for="personprovince" class="col-sm-2 col-form-label" style="font-size: 13px;">Email</label>
                            <div class="col-sm-4">
                                <input type="Email" asp-for="Email" class="form-control" maxlength="200" />
                            </div>
                            <br />
                            <br />
                            <label for="personprovince" class="col-sm-2 col-form-label" style="font-size: 13px;">Social Media Account</label>
                            <div class="col-sm-4">
                                <input type="text" asp-for="SocialMediaAccounts"  class="form-control" />
                            </div>
                        </div>

                    </fieldset>

                    <fieldset class="border p-3">
                        <legend class="float-none w-auto p-2" style="font-size:12px">Physical Appearance</legend>
                        <div class="form-group row">
                            <label for="Body Structure" class="col-sm-2 col-form-label" style="font-size: 13px;">Body Structure</label>
                            <div class="col-sm-4">
                                <select class="form-control" asp-for="BodyStructure">
                                    <option value="Unknown">Select</option>
                                    <option>Healthy / Heavy</option>
                                    <option>Healthy / Heavy(Medium)</option>
                                    <option>Healthy / Heavy(Slightly)</option>
                                    <option>Healthy / Heavy(with Big Tummy)</option>
                                    <option>Normal / Medium</option>
                                    <option>Normal / Medium (Small)</option>
                                    <option>Smart</option>
                                    <option>Thin</option>
                                    <option>UNKOWN</option>
                                </select>
                            </div>
                            <label for="BaldType" class="col-sm-2 col-form-label" style="font-size: 13px;">Bald Type</label>

                            <div class="col-sm-4">
                                <select class="form-control" asp-for="BaldType">
                                    <option value="Unknown">Select</option>
                                    <option>Back Bald</option>
                                    <option>Complete Bald</option>
                                    <option>Front Bald</option>
                                    <option>Temples / Receded Bald</option>
                                    <option>UNKOWN</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="BodyBuild" class="col-sm-2 col-form-label" style="font-size: 13px;">Body Build</label>

                            <div class="col-sm-4">
                                <input type="text" class="form-control" asp-for="BodyBuild" placeholder="">
                            </div>

                            <label for="Beard" class="col-sm-2 col-form-label" style="font-size: 13px;">Beard </label>

                            <div class="col-sm-4">
                                <select class="form-control" asp-for="BeardColor">
                                    <option value="Unknown">Select </option>
                                    <option>As per Sunnat</option>
                                    <option>Complete</option>
                                    <option>Curly Hair</option>
                                    <option> Fair </option>
                                    <option> Long (Religious Type) </option>
                                    <option> Long / Big / Large </option>
                                    <option> Near Mouth & Chin </option>
                                    <option>No (Almost)</option>
                                    <option> No (Shaves) </option>
                                    <option> Normal </option>
                                    <option> Normal (Curly Hair) </option>
                                    <option> Not grown yet </option>
                                    <option> Now Growing </option>
                                    <option> Small </option>
                                    <option> Some times large Some times Small </option>
                                    <option> Thick </option>
                                    <option> Thick (Religious Type) </option>
                                    <option> Thick (Small) </option>
                                    <option> Thin </option>
                                    <option> Thin (Religious Type) </option>
                                    <option> Thin (Small) </option>
                                    <option> Thin (Wide) </option>
                                    <option> UNKOWN </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">

                            <label for="Height" class="col-sm-2 col-form-label" style="font-size: 13px;"> Height</label>
                            <div class="col-sm-4">
                                <select class="form-control" asp-for="Height">
                                    <option value="Unknown">Select</option>
                                    <option>Normal</option>
                                    <option>Small</option>
                                    <option>Tall</option>
                                    <option>UNKOWN</option>
                                </select>
                            </div>

                            <label for="HeightInFeet" class="col-sm-2 col-form-label" style="font-size: 13px;">Height in Feets</label>
                            <div class="col-sm-4">
                                <input type="text" asp-for="HeightInFeet" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Complexion" class="col-sm-2 col-form-label" style="font-size: 13px;">Complexion</label>

                            <div class="col-sm-4">
                                <input type="text" asp-for="Complexion" class="form-control" />
                            </div>
                            <label for="Identification Mark" class="col-sm-2 col-form-label" style="font-size: 13px;">identification Mark</label>

                            <div class="col-sm-4">
                                <input type="text" asp-for="IdentificationMark" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Permanent Identification Mark" class="col-sm-2 col-form-label" style="font-size: 13px;">
                                Permanent
                                Identification Mark
                            </label>

                            <div class="col-sm-4">
                                <input type="text" asp-for="PermanentIdentificationMark" class="form-control" />
                            </div>

                            <label for="DistinguishingMarks" class="col-sm-2 col-form-label" style="font-size: 13px;">Distinguishing Marks</label>

                            <div class="col-sm-4">
                                <input type="text" asp-for="DistinguishingMarks" class="form-control" />

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="WalkingStyle" class="col-sm-2 col-form-label" style="font-size: 13px;">Walking Style</label>
                            <div class="col-sm-4">
                                <select class="form-control">
                                    <option value="Unknown">Select </option>
                                    <option>Walks like rogue</option>
                                    <option>Walks Slow</option>
                                    <option>Walks Sluggish 3</option>
                                    <option>Walks Squatingly</option>
                                    <option>Walks Straight</option>
                                    <option>Walks with belly wide open</option>
                                    <option>Walks with chest wide open</option>
                                    <option>Walks with Face Down</option>
                                </select>
                            </div>
                            <label for="OvertAppearance" class="col-sm-2 col-form-label" style="font-size: 13px;">Overt Appearance</label>
                            <div class="col-sm-4">
                                <select class="form-control" asp-for="OvertAppearance">
                                    <option value="Unknown">Select </option>
                                    <option>Baritone</option>
                                    <option>High</option>
                                    <option>Low</option>
                                    <option>UNKNOWN</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="TalkingStyle" class="col-sm-2 col-form-label" style="font-size: 13px;">Talking Style</label>
                            <div class="col-sm-4">
                                <select class="form-control" asp-for="TalkingStyle">
                                    <option value="Unknown">Select</option>
                                    <option>Stutters</option>
                                    <option>Loud</option>
                                    <option>Speaks carefully</option>
                                    <option>Loud (& Harsh)</option>
                                    <option>Normal</option>
                                    <option>Slow</option>
                                    <option>Talks like Behari</option>
                                    <option>NULL</option>
                                    <option>Soft (& Heavy)</option>
                                    <option>Talkative</option>
                                    <option>Serious</option>
                                    <option>Jolly / Sense of Humour</option>
                                    <option>UNKOWN</option>
                                    <option>Fast</option>
                                    <option>Cunning</option>
                                    <option>Talks like Bangali</option>
                                    <option>Talks like educated people</option>
                                    <option>Aggressive / Harsh</option>
                                </select>
                            </div>
                            <label for="VoicePitch" class="col-sm-2 col-form-label" style="font-size: 13px;">Voice Pitch</label>
                            <div class="col-sm-4">
                                <select class="form-control" asp-for="VoicePitch">
                                    <option value="Unknown">Select</option>
                                    <option>Low</option>
                                    <option>Medium</option>
                                    <option>High</option>
                                    <option>UNKOWN</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="NormalDress" class="col-sm-2 col-form-label" style="font-size: 13px;">Normal Dress</label>
                            <div class="col-sm-4">
                                <select class="form-control" asp-for="NormalDress">
                                    <option value="Unknown">Select</option>
                                    <option>Kameez Dhoti</option>
                                    <option>Kurta and Shalwar (White)</option>
                                    <option>Pant / Shirt</option>
                                    <option>Shalwar Kameez</option>
                                    <option>Shalwar Kameez (& Pant Shirt)</option>
                                    <option>Shalwar Kameez (with Hand Kerchief on Shoulders)</option>
                                    <option>Shalwar Kameez (with Shawl)</option>
                                    <option>UNKOWN</option>
                                </select>
                            </div>

                        </div>

                    </fieldset>

                    <fieldset class="border p-3">
                        <legend class="float-none w-auto p-2" style="font-size:12px">Hair Appearance</legend>

                        <div class="form-group row">
                            <label for="Hair" class="col-sm-2 col-form-label" style="font-size: 13px;">Hair Cut Style</label>
                            <div class="col-sm-4">
                                <select class="form-control" asp-for="HairCutStyle">
                                    <option value="Unknown">Select </option>
                                    <option>Fashoinable Cut</option>
                                    <option>Long Hair</option>
                                    <option>Long Hair (Ladies Style)</option>
                                    <option>Long Hair upto Shoulders</option>
                                    <option>Military Cut</option>
                                    <option>Normal / Medium</option>
                                    <option>Shaves Hair / Remain Bald</option>
                                    <option>Small / Short</option>
                                    <option>UNKNOWN</option>
                                </select>
                            </div>

                            <label for="HairType" class="col-sm-2 col-form-label" style="font-size: 13px;">Hair Type </label>
                            <div class="col-sm-4">
                                <select class="form-control" asp-for="HairType">
                                    <option value="Unknown">Select</option>
                                    <option>Bald</option>
                                    <option>Curly</option>
                                    <option>Curly (in front of forehead)</option>
                                    <option>Hard</option>
                                    <option>Straight</option>
                                    <option>Thick / Densive</option>
                                    <option>Thin / Light</option>
                                    <option>UNKOWN</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="HairColor" class="col-sm-2 col-form-label" style="font-size: 13px;">Hair Color </label>
                            <div class="col-sm-4">
                                <select class="form-control" asp-for="HairColor">
                                    <option value="Unknown">Select</option>
                                    <option>Black and White</option>
                                    <option>Black (Shining)</option>
                                    <option>Blackish</option>
                                    <option>Blue</option>
                                    <option>Brown</option>
                                    <option>Brownish</option>
                                    <option>Brownish / Black</option>
                                    <option>Dark Brown</option>
                                    <option>Fair Color</option>
                                    <option>Golden</option>
                                    <option>Green</option>
                                    <option>None</option>
                                    <option>Olive</option>
                                    <option>Pink</option>
                                    <option>Red</option>
                                    <option>UNKNOWN</option>
                                    <option>Wheatish</option>
                                    <option>Wheatish Fair</option>
                                    <option>White</option>
                                    <option>White Redish</option>
                                </select>
                            </div>

                            <label for="HairImplants" class="col-sm-2 col-form-label" style="font-size: 13px;">Hair Implants</label>
                            <div class="col-sm-4">
                                <div class="">
                                    <label class="">
                                        <input type="checkbox" class="form-control" />
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Wig" class="col-sm-2 col-form-label" style="font-size: 13px;">Wig</label>
                            <div class="col-sm-4">
                                <div class="">
                                    <label class="">
                                        <input class="form-control" type="checkbox">
                                    </label>
                                </div>
                            </div>
                        </div>

                    </fieldset>

                    <fieldset class="border p-3">
                        <legend class="float-none w-auto p-2" style="font-size:12px">Face Appearance</legend>
                        <div class="form-group row">
                            <label for="CheekStructure" class="col-sm-2 col-form-label" style="font-size: 13px;">Cheek Structure</label>
                            <div class="col-sm-4">
                                <select class="form-control" asp-for="CheekStructure">
                                    <option value="Unknown">Select</option>
                                    <option>Frackles</option>
                                    <option>Healthy / Filled Outside</option>
                                    <option>Healthy / Filled Outside (Slightly)</option>
                                    <option>Normal Medium</option>
                                    <option>Pressed Inside</option>
                                    <option>Round</option>
                                    <option>Round (Slightly)</option>
                                    <option>Thin</option>
                                </select>
                            </div>

                            <label for="Contact" class="col-sm-2 col-form-label" style="font-size: 13px;">Contact Lenses</label>
                            <div class="col-sm-4">
                                <div class="">
                                    <label class="">
                                        <input type="checkbox" class="form-control" />
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="FaceShape" class="col-sm-2 col-form-label" style="font-size: 13px;">Face Shape</label>
                            <div class="col-sm-4">
                                <select class="form-control" asp-for="VFaceShape">
                                    <option value="Unknown">Select</option>
                                    <option>Healthy / Heavy</option>
                                    <option>Large</option>
                                    <option>Long</option>
                                    <option>Long (SLightly) / Longish</option>
                                    <option>Long (Thin)</option>
                                    <option>Normal / Medium</option>
                                    <option>Oval</option>
                                    <option>Pressed</option>
                                </select>
                            </div>

                            <label for="EyeStructureShape" class="col-sm-2 col-form-label" style="font-size: 13px;">Eye Structure Shape</label>
                            <div class="col-sm-4">
                                <select class="form-control" asp-for="EyeColor">
                                    <option value="Unknown">Select</option>
                                    <option>Big / Long</option>
                                    <option>Big / Large</option>
                                    <option>Roundish</option>
                                    <option>Normal</option>
                                    <option>Normal / Medium</option>
                                    <option>Thin</option>
                                    <option>Sharp</option>
                                    <option>Narrow</option>
                                    <option>Small</option>
                                    <option>UNKOWN</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="EyeLook" class="col-sm-2 col-form-label" style="font-size: 13px;">Eye Look</label>
                            <div class="col-sm-4">
                                <select class="form-control" asp-for="EyeLook">
                                    <option value="Unknown">Select</option>
                                    <option>Big / Large</option>
                                    <option>Drooping</option>
                                    <option>Narrow</option>
                                    <option>Normal</option>
                                    <option>Normal / Medium</option>
                                    <option>Roundish</option>
                                    <option>Small</option>
                                    <option>Thick / Healthy</option>
                                    <option>Thick / Healthy (Slightly)</option>
                                    <option>UNKOWN</option>
                                </select>
                            </div>

                            <label for="EyeColor" class="col-sm-2 col-form-label" style="font-size: 13px;">Eye Color</label>
                            <div class="col-sm-4">
                                <select class="form-control" asp-for="EyeColor">
                                    <option value="Unknown">Select </option>
                                    <option>Black</option>
                                    <option>Black & White</option>
                                    <option>Black (Shining)</option>
                                    <option>Blackish</option>
                                    <option>Blue</option>
                                    <option>Brown</option>
                                    <option>Brownish</option>
                                    <option>Brownish / Black</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Eyebrows" class="col-sm-2 col-form-label" style="font-size: 13px;">Eyebrows</label>
                            <div class="col-sm-4">
                                <select class="form-control" asp-for="Eyebrows">
                                    <option value="Unknown">Select</option>
                                    <option>Broad</option>
                                    <option>Joining Eyebrows</option>
                                    <option>Thick</option>
                                    <option>Thin</option>
                                    <option>UNKNOWN</option>
                                </select>
                            </div>

                            <label for="EyeGlasses" class="col-sm-2 col-form-label" style="font-size: 13px;">Eye Glasses</label>
                            <div class="col-sm-4">
                                <div class="">
                                    <label class="">
                                        <input type="checkbox" class="form-control" />
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="NoseStructure" class="col-sm-2 col-form-label" style="font-size: 13px;">Nose Structure</label>
                            <div class="col-sm-4">
                                <select class="form-control" asp-for="NoseStructure">
                                    <option value="Unknown">Select</option>
                                    <option>Long (Slightly)</option>
                                    <option>Long / Large</option>
                                    <option>Normal / Medium</option>
                                    <option>Round (Like Bangalis)</option>
                                    <option>Sharp</option>
                                    <option>Small</option>
                                    <option>Small (Slightly)</option>
                                    <option>Standing</option>
                                    <option>Thick / Healthy</option>
                                    <option>Thick / Healthy (Long)</option>
                                    <option>Thick / Healthy (Slightly)</option>
                                    <option>Thin</option>
                                    <option>Thin (Long)</option>
                                    <option>Thin (Slightly)</option>
                                    <option>UNKNOWN</option>
                                    <option>Wide (Long)</option>
                                    <option>Wide (Slightly)</option>
                                    <option>Wide / Broad</option>
                                </select>
                            </div>

                            <label for="LipStucture" class="col-sm-2 col-form-label" style="font-size: 13px;">Lip Stucture </label>
                            <div class="col-sm-4">
                                <select class="form-control" asp-for="LipStucture">
                                    <option value="Unknown">Select </option>
                                    <option>Large</option>
                                    <option>Thin (Slightly)</option>
                                    <option>Healthy / Fat / Thick</option>
                                    <option>Lower Lip Healthy / Fat</option>
                                    <option>Normal / Medium</option>
                                    <option>Medium</option>
                                    <option>Thin</option>
                                    <option>Fat / Healthy (Slightly)</option>
                                    <option>Small</option>
                                    <option>UNKOWN</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Mustache" class="col-sm-2 col-form-label" style="font-size: 13px;">Mustache</label>
                            <div class="col-sm-4">
                                <select class="form-control" asp-for="Mustaches">
                                    <option value="Unknown">Select </option>
                                    <option>Back Bald</option>
                                    <option>Wide / Long</option>
                                    <option>Thick / Healthy (Slightly)</option>
                                    <option>Thick / Healthy</option>
                                    <option>Thin (Slightly)</option>
                                    <option>Normal Beard & Mustaches</option>
                                    <option>Normal</option>
                                    <option>No (Shaves)</option>
                                    <option>Normal (downward)</option>
                                    <option>Long Beard & Small Mustaches</option>
                                    <option>NULL</option>
                                    <option>Thick (Small)</option>
                                    <option>Thin (Small)</option>
                                    <option>Thin (Large)</option>
                                    <option>Wide / Long (downward)</option>
                                    <option>Fair</option>
                                    <option>Upward</option>
                                    <option>Normal / Medium</option>
                                    <option>As per Sunnat</option>
                                    <option>Thin</option>
                                    <option>Thick (Large)</option>
                                    <option>Now Growing</option>
                                    <option>Small</option>
                                    <option>UNKOWN</option>
                                </select>
                            </div>

                            <label for="MustacheColor" class="col-sm-2 col-form-label" style="font-size: 13px;">Mustache Color</label>
                            <div class="col-sm-4" asp-for="MustacheColor">
                                <select class="form-control">
                                    <option value="Unknown">Select</option>
                                    <option>Brown</option>
                                    <option>Brownish</option>
                                    <option>Blackish</option>
                                    <option>Black & White</option>
                                    <option>Black</option>
                                    <option>White</option>
                                    <option>UNKOWN</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="border p-3">
                        <div class="form-group row">
                            <label for="Remarks" class="col-sm-2 col-form-label" style="font-size: 13px">Affiliation</label>
                            <div class="col-sm-10">
                                <textarea asp-for="Affiliation" class="form-control" rows="4"></textarea>

                            </div>
                        </div>
                        <br>
                        <div class="form-group row">
                            <label for="Remarks" class="col-sm-2 col-form-label" style="font-size: 13px">Remarks</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" asp-for="memRemarks" rows="4"></textarea>

                            </div>
                        </div>
                    </fieldset>
                    

                    <br>
                    @*<div id="validationMessage" style="color:lightgrey; font:bolder; font-size:medium; background:red;margin-bottom:20px; height: 40px;"><i class="fas fa-exclamation-triangle" style="margin-right: 5px;"></i></div>*@
                    @*<div id="validationMessage" style="color: lightgrey; font-weight: bold; font-size: small; background: red; margin-bottom: 20px; height: 40px; display: none; text-align: center;">
                        <i class="fas fa-exclamation-triangle" style="margin-right: 5px;"></i>
                        <span id="validationText" style="display: inline-flex; align-items: center;"></span>
                    </div>*@
                    @*<div id="validationMessage" style="color: lightgrey; font-weight: bold; font-size: medium; background: red; margin-bottom: 20px; height: 40px; display: none; text-align: center; align-items: center; justify-content: center;">
                        <i class="fas fa-exclamation-triangle" style="margin-right: 5px; background:yellow;"></i>
                        <span id="validationText"></span>
                    </div>*@
                    <div id="validationMessage" style="color: lightgrey; font: bolder; font-size: medium; background: red; margin-bottom: 20px; height: 40px; display: none;text-align: center; align-items: center; justify-content: center;">
                        <i class="fas fa-exclamation-triangle" style="margin-right: 5px;color:yellow;"></i>
                        <span id="validationText" style="display: inline-block; vertical-align: middle;"></span>
                    </div>



                    <button type="submit" class="btn btn-primary mr-2">Save</button>
                    <button class="btn btn-dark">Cancel</button>
                </div>
            </div>
        </div>

    </div>
</form>


<script>
    
        $(document).ready(function () {
        
        // Select the checkbox and the input field
        

        $.ajax({

            url: '/Jsonside/GetAllReportingAgency',
            type: 'GET',
            data: { },
            contentType: 'application/json',
            success: function (response) {
                
                $("#Personpreportingagency").empty();
                $("#Personpreportingagency").append(`<option value="">Select Reporting Agency</option>`);
                for (var i = 0; i < response.length; i++) {

                    addOption(response[i].reportingAgencyTitle, response[i].reportingAgencyTitle, '#Personpreportingagency')


                }
                if (response.length == 0) {
                    $("#personprovince").empty();

                }
                else {
                    $('.spinner').css('display', 'none');
                }


            }
        });
        $('#selectedcountry').change(function () {
            if ($(this).val() == ""||$(this).val() != "Pakistan") {
            
                $("#personprovince").empty();
            }
            else {
                $('.spinner').css('display', 'block');
                $.ajax({
                 
                    url: '/Jsonside/GetAllProvince',
                    type: 'GET',
                    data: { country: $(this).val() },
                    contentType: 'application/json',
                    success: function (response) {
                        $("#personprovince").empty();
                        $("#personprovince").append(`<option value="">Select Province</option>`);
                        for (var i = 0; i < response.length; i++) {

                            addOption(response[i].strProvince, response[i].strProvince, '#personprovince')


                        }
                        if (response.length == 0) {
                            $("#personprovince").empty();

                        }
                        else
                        {
                            $('.spinner').css('display', 'none');
                        }


                    }
                });
            }



        });
        $('#personprovince').change(function () {
            if ($(this).val() == "") {

                $("#ProvinceDistrict").empty();
            }
            else {
                $('.spinner').css('display', 'block');
                $.ajax({

                    url: '/Jsonside/GetDistrictByProvince',
                    type: 'GET',
                    data: { Province: $(this).val() },
                    contentType: 'application/json',
                    success: function (response) {
                        
                        $("#ProvinceDistrict").empty();
                        $("#ProvinceDistrict").append(`<option value="">Select District</option>`);
                        for (var i = 0; i < response.length; i++) {

                            addOption(response[i].strDistrict, response[i].strDistrict, '#ProvinceDistrict')


                        }
                        if (response.length == 0) {
                            $("#ProvinceDistrict").empty();
                            $('.spinner').css('display', 'none');

                        }
                        else {
                            $('.spinner').css('display', 'none');
                        }


                    }
                });
            }



        });
        
        
        });
        
    function addOption(value, text,userid) 
    {
        $(userid).append(`<option value="${value}">${text}</option>`);
    }

    $(document).ready(function () {
        $("#personform").on("submit", function (event) {
            // Reset all validation messages
            $(".text-danger").text("");
            // Flag to check if there are validation errors
            var hasValidationErrors = false;

            var nameid = $("#nameid").val();
            if (nameid === "") {
                event.preventDefault();
                $("#NameValidation").text("Name is mandatory.");
                hasValidationErrors = true;
            }

            var selectedagency = $("#Personpreportingagency").val();
            if (selectedagency === "Select Reporting Agency" || selectedagency === "") {
                event.preventDefault();
                $("#AgencyValidation").text("Reporting Agency is mandatory.");
                hasValidationErrors = true;
            }

            var selectedCategory = $("#personcategory").val();
            if (selectedCategory === "Select") {
                event.preventDefault();
                $("#categoryValidation").text("Category is mandatory.");
                hasValidationErrors = true;
            }

            var selectedStatus = $("#Personcurrentstatus").val();
            if (selectedStatus === "Select") {
                event.preventDefault();
                
                $("#StatusValidation").text("Current Status is mandatory.");
                hasValidationErrors = true;
            }

            var selectedAgency = $("#Personaccusationstatus").val();
            if (selectedAgency === "Select") {
                event.preventDefault();
                
                $("#AccusationValidation").text("Person Accusation Status is mandatory.");
                hasValidationErrors = true;
            }

            var selectedCountry = $("#selectedcountry").val();

            if (selectedCountry === "Select Country") {
                event.preventDefault();
                
                $("#CountryValidation").text("Country is mandatory.");
                hasValidationErrors = true;
            }

            if (selectedCountry === "Pakistan") {
                var selectedprovince = $("#personprovince").val();

                if (selectedprovince === "Select Province" || selectedprovince === "Select the Province" || selectedprovince === "") {
                    event.preventDefault();
                    
                    $("#ProvinceValidation").text("Province is required.");
                    hasValidationErrors = true;
                }

                var selecteddistrict = $("#ProvinceDistrict").val();
                if (selecteddistrict === "Select the District" || selecteddistrict === "") {
                    event.preventDefault();
                    
                    $("#DistrictValidation").text("District is mandatory.");
                    hasValidationErrors = true;
                }
            }

            // Check if there are validation errors
            if (hasValidationErrors) 
            {
                // Display a message above the save button
                var validationMessage = "Record not saved! Please fill all Mandatory fields";
                $("#validationText").text(validationMessage);
                $("#validationMessage").css("display", "flex");
            }
            else {
                $("#validationText").text("");
                $("#validationMessage").css("display", "none");
                //document.getElementById("personform").reset();
            }
        });
    });


    
    document.getElementById('cnicInput').addEventListener('input', function () {
        if (this.value.length > 13) {
            this.value = this.value.slice(0, 13); 
        }
    });
    function previewImage() {
        var fileInput = document.getElementById('fileInput');
        var imgTag = document.getElementById('imgttag'); // Updated to 'imgttag'
        var imagePreview = document.getElementById('imagePreview');

        if (fileInput.files && fileInput.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                imgTag.style.display = 'block';
                imagePreview.src = e.target.result;
            };

            reader.readAsDataURL(fileInput.files[0]);
        }
    }
    const headMoneyCheckbox = document.getElementById("headMoneyCheckbox");
    const headMoneyAmountInput = document.getElementById("headMoneyAmount");

    // Add an event listener to the checkbox
    headMoneyCheckbox.addEventListener("change", function () {
        // Enable or disable the input field based on the checkbox's checked state
        headMoneyAmountInput.disabled = !this.checked;
    });
</script>
