@model CTW_FIA.Models.Address
@{
    Layout = null;
}

<div class="row no-gutters" >
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <form class="forms-sample" asp-action="Add_PersonAddress">
          <h5>Address Form</h5>
          
          <fieldset class="border p-3">
            <legend class="float-none w-auto p-2" style="font-size: 12px">
              Address Details
            </legend>

            <div class="form-group row">
              <label
                for="Address Description"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Address Description
              </label>
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  id="adDescription"
                  placeholder=""
                  asp-for="AddressDescription"
                />
              </div>
            </div>
            <div class="form-group row">
              <label
                for="Address Name"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Address Name
              </label>
              <div class="col-sm-10">
                <input
                    type="text"
                    asp-for="AddressName"
                  class="form-control"
                  id="adName"
                  placeholder=""
                />
              </div>
            </div>

            <div class="form-group row">
              <label
                for="Address Type"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Address Type
              </label>
              <div class="col-sm-4">
                <select id="adType" class="form-control" asp-for="AddressType">
                  <option value="" disabled selected>
                    Select the Address Type
                  </option>
                  <option>RESIDENTIAL</option>
                  <option>COMMERCIAL</option>
                  <option>OTHER</option>
                </select>
              </div>

              <label
                for="HouseNo"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >House No.</label
              >
              <div class="col-sm-4">
                  <input
                      asp-for="HouseNumber"
                  type="text"
                  class="form-control"
                  id="HouseNo"
                  placeholder=""
                />
              </div>
            </div>

            <div class="form-group row">
              <label for="Country"  class="col-sm-2 col-form-label" style="font-size: 13px">Country</label>

              <div class="col-sm-4">
                      <select  asp-for="Country" id="selectedcountry" class="form-control">
                                    <option>Select Country</option>
                                    @for (var i = 0; i < ViewBag.country.Count; i++)
                                    {
                                        <option>@ViewBag.country[i].Country</option>
                                    }
                                        </select>
              </div>
              <label
                for="Province"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Province
              </label>
              <div class="col-sm-4">

                     <select id="personprovince" asp-for="Province" class="form-control">
                                           <option>Select the Province</option>
                                    </select>
          
              </div>
            </div>
            <div class="form-group row">
              <label
                for="City"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >District</label
              >
              <div class="col-sm-4">
              <select asp-for="District" id="SelectDistrict" class="form-control">
                                        <option>Select the District</option>
                                           
                                        </select>
              </div>
      
            </div>
            <div class="form-group row">
              <label
                for="StreetNo"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Street No.</label
              >
              <div class="col-sm-4">
                  <input
                      asp-for="StreetNumber"
                  type="text"
                  class="form-control"
                  id="adStreetNo"
                  placeholder=""
                />
              </div>

              <label
                for="CityName"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Mohallah</label
              >
              <div class="col-sm-4">
                  <input
                      asp-for="Mohallah"
                  type="text"
                  class="form-control"
                  id="Mohallah"
                  placeholder=""
                />
              </div>
            </div>
            <div class="form-group row">
              <label
                for="Mohallah"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Village</label
              >
              <div class="col-sm-4">
                <input asp-for="Village" type="text"  class="form-control" id="Village" placeholder="" />
              </div>

              <label
                for="Town"  class="col-sm-2 col-form-label" style="font-size: 13px" >Town</label>
              <div class="col-sm-4">
                <input asp-for="Town"  type="text" class="form-control"   id="Town" placeholder=""/>
              </div>
            </div>
            <div class="form-group row">
              <label for="PostOffice" class="col-sm-2 col-form-label" style="font-size: 13px">Post Office</label>
              <div class="col-sm-4">
                <input
                    type="text"
                    asp-for="PostOffice"
                  class="form-control"
                  id="PostOffice"
                  placeholder=""
                />
              </div> 
             
              <label for="TehsilTaluka" class="col-sm-2 col-form-label" style="font-size: 13px">Tehsil Taluka</label>
              <div class="col-sm-4">
                <input asp-for="TehsilTaluka" type="text" class="form-control"  id="TehsilTaluka" placeholder=""/>
              </div>
            </div>
            <div class="form-group row">
              <label  for="ZipCode" class="col-sm-2 col-form-label"  style="font-size: 13px">Zip Code</label>
              <div class="col-sm-4">
                <input asp-for="PostalZip"  type="text" class="form-control" id="ZipCode" placeholder="" />
              </div>

              <label for="CommonwealthTerritory" class="col-sm-2 col-form-label" style="font-size: 13px">Commonwealth Territory</label>
              <div class="col-sm-4">
                <input asp-for="CommonwealthTerritory" type="text" class="form-control" id="CommonwealthTerritory" placeholder="" />
              </div>
            </div>
            @*
            <div class="form-group row">
              <label
                for="Latitude"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Latitude</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="adLatitude"
                  placeholder=""
                />
              </div>

              <label
                for="Longitude"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Longitude</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="adLongitude"
                  placeholder=""
                />
              </div>
            </div>
            *@
            <div class="form-group row">
              <label for="Other1" class="col-sm-2 col-form-label" style="font-size: 13px">Other 1</label>
              <div class="col-sm-10">
                <input asp-for="Other1" type="text" class="form-control" id="adOther1" placeholder=""/>
              </div>
            </div>
            <div class="form-group row">
              <label for="Other2" class="col-sm-2 col-form-label"  style="font-size: 13px">Other 2</label>
              <div class="col-sm-10">
                <input asp-for="Other2" type="text"class="form-control"  id="adOther2" placeholder="" />
              </div>
            </div>
          </fieldset>

          <fieldset class="border p-3">
            <br />
            <div class="form-group row">
              <label for="Remarks" class="col-sm-2 col-form-label" style="font-size: 13px" >Remarks</label>
              
              <div class="col-sm-10">
                <textarea asp-for="memRemarks" class="form-control" id="adRemarks" rows="4"></textarea>
              </div>
            </div>
          </fieldset>
          <br />
            <input type="submit" class="btn btn-primary mr-2" value="Save" />
          <button class="btn btn-dark">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>
 <script type="text/javascript">
    $("#selectedcountry").change(function () {
        var conceptName = $('#selectedcountry').find(":selected").text();
        LoadCountryProvince(conceptName);
    });
    $("#personprovince").change(function () {
        var pn = $('#personprovince').find(":selected").text();
        getDistrictlist(pn);
    });
       function LoadCountryProvince(country)
    {
         $("#personprovince option").remove();
        $("#SelectDistrict option").remove();
        var personprovince = $('#personprovince');
        $.ajax({
            url: '/AllRcord/getProvinceList'
        , type: 'GET'
        , data: {country:country}
        , contentType: 'application/json'
        , success: function (response) {
         
                 var Prlist = "";
                 Prlist="<option>Select Province</option>";
                for (var m = 0; m < response.length; m++) {
                     Prlist += "<option value='" + response[m] + "'>" + response[m] + "</option>";
                    
                }
                personprovince.append(Prlist);
         
        }
    });
    }
    function getDistrictlist(Province)
    {
      
         $("#SelectDistrict option").remove();

        var Districlist = $('#SelectDistrict');
        $.ajax({
            url: '/AllRcord/getDistrictlist'
        , type: 'GET'
        , data: {Province:Province}
        , contentType: 'application/json'
        , success: function (response) {
         
                 var Dslist = "";
                 Dslist=null;

                for (var d = 0; d < response.length; d++) {
                     Dslist += "<option value='" + response[d] + "'>" + response[d] + "</option>";
                    
                }
                Districlist.append(Dslist);
         
        }
    });
    }
</script>

