@{
    Layout = null;
}

<div class="row no-gutters">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
          <h5>Detonators Form</h5>
        <form class="forms-sample">
          <fieldset class="border p-3">
            <legend class="float-none w-auto p-2" style="font-size: 12px">
              Detonators Details
            </legend>
            <div class="form-group row">
              <label
                for="Category"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Category
              </label>
              <div class="col-sm-4">
                <select id="Category" class="form-control">
                  <option value="">
                     Select
                  </option>
                  <option>Electric</option>
                  <option>Electronic</option>
                  <option>Shock Tube</option>
                  <option>IMPROVISED</option>
                  <option>Non-Electric</option>
                </select>
              </div>
              <label
                for="Type"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Type</label
              >
              <div class="col-sm-4">
                <select id="Type" class="form-control">
                  <option value="">
                Select
                  </option>
                  <option>Electric</option>
                  <option>Other</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label
                for="Other"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Other</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  id="detOther"
                  placeholder=""
                />
              </div>
            </div>
            <div class="form-group row">
              <label
                for="Quantity"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Quantity</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="Quantity"
                  placeholder=""
                />
              </div>
              <label
                for="Manufacturer"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Manufacturer</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="detManufacturer"
                  placeholder=""
                />
              </div>
            </div>

            <div class="form-group row">
              <label
                 class="col-sm-2 col-form-label"
                style="font-size: 13px"
              >Country of Origin</label>
              <div class="col-sm-4">
                <select id="deCountryofOrigin" class="form-control"></select>
                    
              </div>
              <label
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Country of Recovery</label
              >
              <div class="col-sm-4">
                  <select id="deCountryofRecovery" class="form-control"></select>
               
              </div>
            </div>

            <div class="form-group row">
              <label
                for="Brand"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Brand</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="detBrand"
                  placeholder=""
                />
              </div>
              <label
                for="Model"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Model</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="Model"
                  placeholder=""
                />
              </div>
            </div>

            <div class="form-group row">
              <label
                for="CapMaterial"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Cap Material</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="CapMaterial"
                  placeholder=""
                />
              </div>
              <label
                for="CapColor"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Cap Color</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="CapColor"
                  placeholder=""
                />
              </div>
            </div>

            <div class="form-group row">
              <label
                for="CapLength"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Cap Length</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="CapLength"
                  placeholder=""
                />
              </div>
              <label
                for="CapDiameter"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Cap Diameter</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="CapDiameter"
                  placeholder=""
                />
              </div>
            </div>

            <div class="form-group row">
              <label
                for="Crimp"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Crimp</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="Crimp"
                  placeholder=""
                />
              </div>
              <label
                for="CrimpType"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Crimp Type</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="CrimpType"
                  placeholder=""
                />
              </div>
            </div>

            <div class="form-group row">
              <label
                for="PlugColour"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Plug Color</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="PlugColor"
                  placeholder=""
                />
              </div>
              <label
                for="PlugMaterial"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Plug Material</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="PlugMaterial"
                  placeholder=""
                />
              </div>
            </div>

            <div class="form-group row">
              <label
                for="WireColor"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Wire Colour</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="WireColor"
                  placeholder=""
                />
              </div>
              <label
                for="WireColour2"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Wire Color2</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="WireColor2"
                  placeholder=""
                />
              </div>
            </div>

            <div class="form-group row">
              <label
                for="WireDiameter"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Wire Diameter</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="WireDiameter"
                  placeholder=""
                />
              </div>
              <label
                for="WireMaterial"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Wire Material</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="WireMaterial"
                  placeholder=""
                />
              </div>
            </div>

            <div class="form-group row">
              <label
                for="CaseTubeMaterial"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Case Tube Material</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="CaseTubeMaterial"
                  placeholder=""
                />
              </div>
              <label
                for="CaseTubeColor"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Case Tube Colour</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="CaseTubeColor"
                  placeholder=""
                />
              </div>
            </div>

            <div class="form-group row">
              <label
                for="CaseTubeLength"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Case Tube Length</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="CaseTubeLength"
                  placeholder=""
                />
              </div>
              <label
                for="CaseTubeDiameter"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Case Tube Diameter</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="CaseTubeDiameter"
                  placeholder=""
                />
              </div>
            </div>

            <div class="form-group row">
              <label
                for="BaseShape"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Base Shape</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="BaseShape"
                  placeholder=""
                />
              </div>
              <label
                for="BaseMarking"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Base Markings</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="BaseMarking"
                  placeholder=""
                />
              </div>
            </div>

            <div class="form-group row">
              <label
                for="BatchCode"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Batch Codes</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  id="BatchCode"
                  placeholder=""
                />
              </div>
            </div>
          </fieldset>
          <fieldset class="border p-3">
            <br />
            <div class="form-group row">
              <label
                for="Remarks"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Remarks</label
              >
              <div class="col-sm-10">
                <textarea class="form-control" id="Remarks" rows="4"></textarea>
              </div>
            </div>
          </fieldset>
          <br />
          <button type="button" class="btn btn-primary mr-2" onclick="DetonatorsClick()">Save</button>
          <button class="btn btn-dark">Cancel</button>
        </form>
      </div>
    </div>
  </div>
  @*<div class="col-md-3 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Matched Records</h4>
        <p class="card-description">No data to display</p>
      </div>
    </div>
  </div>*@
</div>

<script type="text/javascript">
    
        var vpage_name ="";
         var vparam_x ="";
         var vpage_status = "";
         $(document).ready(function () {
         const urlParams = new URLSearchParams(window.location.search);
         const param_x = urlParams.get('id');
         const page_status = urlParams.get('pageStatus');
         const page_name= urlParams.get('pageName');
         vpage_name=page_name;
         vparam_x=param_x;
         vpage_status=page_status;
         LoadDetCountry();
         
               
        if(page_status == "u" && param_x != "" && page_name == "PreviewDetonatorsRecord")
            {
                  alert(page_status +" " +param_x +" " +page_name);
                
                  loadDet(param_x);
                 
            } 
       });
         function LoadDetCountry()
        {
        var detCountryofOrigin = $('#deCountryofOrigin');
        var detCountryofRecovery = $('#deCountryofRecovery');
  
        try {
        $.ajax({
            url: '/api/Countries',
              method: 'Get',
            //headers: {
              //  'Content-Type': 'application/x-www-form-urlencoded'
            //},
            dataType: 'json',
           
            success: function ( data) {

           var v = JSON.stringify(data);
             var selOpts = "";
             selOpts += "<option value='' disabled selected>--Select--</option>";
              $.each(data, function (k, v) {
                   var id = data[k].strCountry;
                   var val = data[k].strCountry;
                   selOpts += "<option value='" + id + "'>" + val + "</option>";
                    });
                     detCountryofOrigin.append(selOpts); 
                    
                      detCountryofRecovery.append(selOpts); 
                  

              },
            error: function (request, status, error) {
           
                alert("Error.");
            }
        });
        }
        catch (err) {
            exceptionHandeld(err)
        }
        }
         function  DetonatorsClick()
         {
            if(vpage_status == "u" && vparam_x != "" && vpage_name == "PreviewDetonatorsRecord")
            {
                DetonatorsUpdation(vparam_x);
            } 
            else
            {
              DetonatorsPost();
            }
            
         }
function DetonatorsPost() {
    var Category = $("#Category").val();

    var Type = $("#Type").val();

    var detOther = $("#detOther").val();

    var Quantity = $("#Quantity").val();

    var detManufacturer = $("#detManufacturer").val();

    var detCountryOfRecovery = $("#deCountryofRecovery").val();
   
     
    var detCountryOfOrigin = $("#deCountryofOrigin").val();

    var detBrand = $("#detBrand").val();

    var Model = $("#Model").val();

    var CapMaterial = $("#CapMaterial").val();

    var CapColor = $("#CapColor").val();

    var CapLength = $("#CapLength").val();

    var CapDiameter = $("#CapDiameter").val();

    var Crimp = $("#Crimp").val();

    var CrimpType = $("#CrimpType").val();

    var PlugColor = $("#PlugColor").val();

    var PlugMaterial = $("#PlugMaterial").val();

    var WireColor = $("#WireColor").val();

    var WireColor2 = $("#WireColor2").val();

    var WireDiameter = $("#WireDiameter").val();

    var WireMaterial = $("#WireMaterial").val();

    var CaseTubeMaterial = $("#CaseTubeMaterial").val();

    var CaseTubeColor = $("#CaseTubeColor").val();

    var CaseTubeLength = $("#CaseTubeLength").val();

    var CaseTubeDiameter = $("#CaseTubeDiameter").val();

    var BaseShape = $("#BaseShape").val();

    var BaseMarking = $("#BaseMarking").val();

    var BatchCode = $("#BatchCode").val();

    var detoRemarks = $("#detoRemarks").val();
          alert(detCountryOfRecovery +" "+detCountryOfRecovery +" "+detBrand);

    var settings = {
        "url": "/api/Detonators",
        "method": "POST",
        "timeout": 0,
        "headers": {
            "Content-Type": "application/json"
        },
        "data": JSON.stringify({
            "intID": 0,
            "strURN": "string",
            "Category": Category,
            "Type": Type,
            "Other": detOther,
            "Quantity": Quantity,
            "countryOfRecovery": detCountryOfRecovery,
            "Manufacturer": detManufacturer,
            "CountryOfOrigin": detCountryOfOrigin,
            "Brand": detBrand,
            "Model": Model,
            "CapMaterial": CapMaterial,
            "CapColor": CapColor,
            "CapLength": CapLength,
            "CapDiameter": CapDiameter,
            "Crimp": Crimp,
            "CrimpType": CrimpType,
            "PlugColor": PlugColor,
            "PlugMaterial": PlugMaterial,
            "WireColor": WireColor,
            "WireColor2": WireColor2,
            "WireDiameter": WireDiameter,
            "WireMaterial": WireMaterial,
            "CaseTubeMaterial": CaseTubeMaterial,
            "CaseTubeColor": CaseTubeColor,
            "CaseTubeLength": CaseTubeLength,
            "CaseTubeDiameter": CaseTubeDiameter,
            "BaseShape": BaseShape,
            "BaseMarking": BaseMarking,
            "BatchCode": BatchCode,
            "MemRemarks": detoRemarks,
            "StrCreatedBy": "admin",
            "StrLastModifiedBy": "admin"
        }),
    };

    $.ajax(settings).done(function(response) {
        console.log(response);
          alert("Detonators has been added Successfully");

                  if (confirm('Do you want to add Media File ?')) {
                 
                      console.log("Media File.");
                   localStorage.setItem("strURN", response.strURN);
                   localStorage.setItem("tableName", "Detonator");
                   window.location.href = "/Admin/Records/AddMedia";
                  }
                  else
                  {
                        localStorage.setItem("strURN", response.strURN);
                   localStorage.setItem("tableName", "Detonator");
                       var id=response.strURN;
                       
                          window.location.href = "/Admin/Records/PreviewRecord?controller=Detonators&id="+id;
         
                        // window.location.href = "/Admin/Records/PreviewDetonatorsRecord?id="+id;
                 //    window.location.href = "/Admin/Records/PreviewIncidentRecord?id="+id;
                  }
    });

}

function DetonatorsUpdation(id) {


    var Category = $("#Category").val();

    var Type = $("#Type").val();

    var detOther = $("#detOther").val();

    var Quantity = $("#Quantity").val();

    var detManufacturer = $("#detManufacturer").val();
   
      var detCountryOfRecovery = $("#deCountryofRecovery").val();
   
     
    var detCountryOfOrigin = $("#deCountryofOrigin").val();
   
    var Brand = $("#detBrand").val();
    
     
    var Model = $("#Model").val();

    var CapMaterial = $("#CapMaterial").val();

    var CapColor = $("#CapColor").val();

    var CapLength = $("#CapLength").val();

    var CapDiameter = $("#CapDiameter").val();

    var Crimp = $("#Crimp").val();

    var CrimpType = $("#CrimpType").val();

    var PlugColor = $("#PlugColor").val();

    var PlugMaterial = $("#PlugMaterial").val();

    var WireColor = $("#WireColor").val();

    var WireColor2 = $("#WireColor2").val();

    var WireDiameter = $("#WireDiameter").val();

    var WireMaterial = $("#WireMaterial").val();

    var CaseTubeMaterial = $("#CaseTubeMaterial").val();

    var CaseTubeColor = $("#CaseTubeColor").val();

    var CaseTubeLength = $("#CaseTubeLength").val();

    var CaseTubeDiameter = $("#CaseTubeDiameter").val();

    var BaseShape = $("#BaseShape").val();

    var BaseMarking = $("#BaseMarking").val();

    var BatchCode = $("#BatchCode").val();

    var detoRemarks = $("#detoRemarks").val();


    var settings = {
        "url": "/api/Detonators/"+id,
        "method": "Put",
        "timeout": 0,
        "headers": {
            "Content-Type": "application/json"
        },
        "data": JSON.stringify({
            "intID": 0,
            "strURN": id,
            "Category": Category,
            "Type": Type,
            "Other": detOther,
            "Quantity": Quantity,
            "countryOfRecovery": CountryOfRecovery,
            "Manufacturer": detManufacturer,
            "countryOfOrigin": CountryOfOrigin,
            "Brand": Brand,
            "Model": Model,
            "CapMaterial": CapMaterial,
            "CapColor": CapColor,
            "CapLength": CapLength,
            "CapDiameter": CapDiameter,
            "Crimp": Crimp,
            "CrimpType": CrimpType,
            "PlugColor": PlugColor,
            "PlugMaterial": PlugMaterial,
            "WireColor": WireColor,
            "WireColor2": WireColor2,
            "WireDiameter": WireDiameter,
            "WireMaterial": WireMaterial,
            "CaseTubeMaterial": CaseTubeMaterial,
            "CaseTubeColor": CaseTubeColor,
            "CaseTubeLength": CaseTubeLength,
            "CaseTubeDiameter": CaseTubeDiameter,
            "BaseShape": BaseShape,
            "BaseMarking": BaseMarking,
            "BatchCode": BatchCode,
            "MemRemarks": detoRemarks,
            "StrCreatedBy": "admin",
            "StrLastModifiedBy": "admin"
        }),
    };

    $.ajax(settings).done(function(response) {
        console.log(response);
            alert("Detonators has been updated Successfully");
             window.location.href = "/Admin/Records/PreviewRecord?controller=Detonators&id="+id;
         
          // window.location.href = "/Admin/Records/PreviewDetonatorsRecord?id="+id;
    });

}
 function loadDet(id)
        {
               
                var url = "/api/Detonators/GetDetonatorById?id="+param_x;
                   // alert(url);
                    $.ajax({  
                    type: "GET",  
                    url: url,
                    dataType: 'json',      
                    contentType: 'application/json; charset=utf-8',
                    success: function (response) { 
                         alert(JSON.stringify(response));
                  alert((response.strURN.toString()));
                    $("#Category").val(response.category);
                    $("#Type").val(response.type);
                    $("#detOther").val(response.other); 
                    $("#Quantity").val(response.quantity); 
                    $("#detCountryOfRecovery").val(response.countryOfRecovery);     
                    $("#detCountryOfOrigin").val(response.countryOfOrigin);
                    $("#PlugColorid").val(response.plugColor);        
                    $("#Crimp").val(response.crimp);
                    
                     $("#detBrand").val(response.brand);
                   
                    $("#Model").val(response.model);
                 
                    $("#CrimpType").val(response.crimpType);
                     $("#CaseTubeMaterial").val(response.caseTubeMaterial);        
                    $("#WireMaterial").val(response.wireMaterial);
                    $("#WireDiameter").val(response.wireDiameter);
                    $("#WireColor2").val(response.wireColor2);
                   $("#PlugMaterial").val(response.plugMaterial);
                      $("#detManufacturer").val(response.manufacturer);
                    $("#WireColor").val(response.wireColor);    
                    
                     $("#PlugColor").val(response.plugColor);    
                    $("#CaseTubeColor").val(response.caseTubeColor);
                    
                     $("#CaseTubeLength").val(response.caseTubeLength);
                   
                    $("#CapColor").val(response.capColor); 
                    $("#CapLength").val(response.capLength); 
                       $("#CapDiameter").val(response.capDiameter); 
                    $("#CapMaterial").val(response.capMaterialid);
                    $("#CaseTubeDiameter").val(response.caseTubeDiameter);
                    $("#BaseShape").val(response.baseShape);
                    $("#BaseMarking").val(response.baseMarking);
                    $("#BatchCode").val(response.batchCode);
                         
                    $("#detoRemarks").val(response.memRemarks);
                   }, 
                    error: function (response) {  
                        alert("error");  
                    } 

  
                });          
      
        }
  

</script>