@{
    Layout = null;
}

<div class="row no-gutters">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h5>Power Source Form</h5>

        <form class="forms-sample">
          <fieldset class="border p-3">
            <legend class="float-none w-auto p-2" style="font-size: 12px">
              Power Source Details
            </legend>
            <div class="form-group row">
              <label for="pscategory" class="col-sm-2 col-form-label"  style="font-size: 13px">Category</label>
              <div class="col-sm-4">
                   <select id="pscategory" class="form-control">
                  <option value="" disabled selected>
                    Select 
                  </option>
                  <option>COMMERCIAL</option>
                  <option>MILITARY</option>
                  <option>IMPROVISED</option>
                  <option>UNKNOWN</option>
                </select>
              </div>
          
            </div>

            <div class="form-group row">
              <label  for="type" class="col-sm-2 col-form-label"  style="font-size: 13px">Type
              </label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="pstype" placeholder="" />
              </div>
              <label
                for="psother"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Other</label>
              <div class="col-sm-4">
                <input type="text" class="form-control"   id="psother" placeholder=""
                />
              </div>
            </div>

            <div class="form-group row">
              <label
                for="psMake"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Make
              </label>
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="psMake"
                  placeholder=""
                />
              </div>
              <label
                for="psManufacturer"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Manufacturer</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="psManufacturer"
                  placeholder=""
                />
              </div>
            </div>
           
            <div class="form-group row">
              <label
                for="Time"
                class="col-sm-2 col-form-label"
                style="font-size: 13px" 
                >Country Of Origin</label
              >
              <div class="col-sm-4">
                   <select class="form-control" id="psCountryOrigin"></select>
               
              </div>
              <label for="Time" class="col-sm-2 col-form-label"
                >Country of Recovery</label
              >
              <div class="col-sm-4">
                   <select class="form-control" id="psCountryRecovery"></select>
              
              </div>
            </div>
            <div class="form-group row">
              <label
                for="psSize"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Size</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="psSize"
                  placeholder=""
                />
              </div>
              <label
                for="psLength"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Length</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="psLength"
                  placeholder=""
                />
              </div>
            </div>
        
            <div class="form-group row">
              <label
                for="psWidth"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Width</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="psWidth"
                  placeholder=""
                />
              </div>
              <label
                for="psHeight"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"   
                >Height</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                 id="psHeight"
                  placeholder=""
                />
              </div>
            </div>

            <div class="form-group row">
              <label
                for="psDiameter"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Diameter</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="psDiameter"
                  placeholder=""
                />
              </div>
              <label
                for="psVoltage"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Voltage</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="psVoltage"
                  placeholder=""
                />
              </div>
            </div>
          
            <div class="form-group row">
              <label
                for="psMarkings"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Markings</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="psMarkings" placeholder=""
                />
              </div>
              <label for="psColour" class="col-sm-2 col-form-label">Colour</label>
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="psColour"
                  placeholder=""
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="psBatchCode" class="col-sm-2 col-form-label"
                >Batch Codes</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="psBatchCode"
                  placeholder=""
                />
              </div>
              <label for="psSerialNumber" class="col-sm-2 col-form-label"
                >Serial Numbers</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="psSerialNumber"
                  placeholder=""
                />
              </div>
            </div>

            <div class="form-group row">
              <label for="psNumberRecovered" class="col-sm-2 col-form-label"
                >Number Recovered</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="psNumberRecovered"
                  placeholder=""
                />
              </div>
            </div>
          </fieldset>
          <fieldset class="border p-3">
            <br />
            <div class="form-group row">
              <label for="Remarks"   class="col-sm-2 col-form-label" style="font-size: 13px">Remarks</label>
              <div class="col-sm-10">
                <textarea class="form-control" id="PsRemarks" rows="4"></textarea>
              </div>
            </div>
          </fieldset>
          <br />
          <button type="button" class="btn btn-primary mr-2" onclick="PowerSourceClick()">Save</button>
          <button class="btn btn-dark">Cancel</button>
        </form>
      </div>
    </div>
  </div>
  @*<div class="col-md-3 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Matched Records</h4>
        <p class="card-description">No data to display</p>
      </div>
    </div>
  </div>*@
</div>
<script src="~/Content/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
       var vpage_name ="";
      var vparam_x ="";
      var vpage_status = "";
     
     
     $(document).ready(function () {
         const urlParams = new URLSearchParams(window.location.search);
         const param_x = urlParams.get('id');
         const page_status = urlParams.get('pageStatus');
         const page_name= urlParams.get('pageName');
         vpage_name=page_name;
         vparam_x=param_x;
         vpage_status=page_status;

             LoadPSCountry();
            
           if(page_status == "u" && param_x != "" && page_name == "PreviewPowerSourceRecord")
            {
                loadPowerSource(param_x);
            }
           else
           {
           }
    });
    function PowerSourceInsertion() {    
      var pscategory = $("#pscategory").val();
      var pstype = $('#pstype').val();
      var psother = $('#psother').val();     
      var psMake = $('#psMake').val();
      var psManufacturer = $('#psManufacturer').val();
      var psCountryOrigin = $('#psCountryOrigin').val();
      var psCountryRecovery = $('#psCountryRecovery').val();
      var psSize = $('#psSize').val();         
      var psLength = $('#psLength').val();  
      var psWidth = $('#psWidth').val();
      var psHeight = $('#psHeight').val();       
      var psDiameter = $('#psDiameter').val();
      var psVoltage = $('#psVoltage').val();
      var psMarkings = $('#psMarkings').val();
      var psColour = $('#psColour').val();
        var psSerialNumber = $('#psSerialNumber').val();
      var psBatchCode = $('#psBatchCode').val();
      var PsRemarks = $('#PsRemarks').val();
      var psNumberRecovered = $('#psNumberRecovered').val();
     
      var settings = {
      "url": "/api/PowerSources",
      "method": "POST",
      "timeout": 0,
      "headers": {
        "Content-Type": "application/json"
          },
      "data": JSON.stringify({
        "intID": 0,
        "strURN": "string",
        "Category": pscategory,
         "Type": pstype,      
        "Make": psMake,
        "Other": psother,       
        "Manufacturer": psManufacturer,
        "CountryOrigin": psCountryOrigin,
        "CountryRecovered": psCountryRecovery,
        "Size": psSize,
        "Length": psLength,
        "Width": psWidth,
        "Height": psHeight,              
        "Diameter": psDiameter,
        "Voltage": psVoltage,        
        "Colour": psColour,
         "SerialNumber": psSerialNumber,
         "Markings": psMarkings,     
        "BatchCode": psBatchCode,
         "NumberRecovered": psNumberRecovered,
        "memRemarks": PsRemarks,
        "createdBy": "Admin",
        "lastModifiedBy": "Admin",
        "isDeleted": false
      }),
    };

    $.ajax(settings).done(function (response) {
      console.log(response);
        alert("Data has been added successfully");
          if (confirm('Do you want to add Media File ?')) {
                 
                   console.log("Media File.");
                   localStorage.setItem("strURN", response.strURN);
                   localStorage.setItem("tableName", "PowerSource");
                   window.location.href = "/Admin/Records/AddMedia";
                  }
                  else
                  {
                     localStorage.setItem("strURN", response.strURN);
                   localStorage.setItem("tableName", "PowerSource");
                     var id=response.strURN;
                        window.location.href = "/Admin/Records/PreviewRecord?controller=PowerSources&id="+id;
        
                     //window.location.href = "/Admin/Records/PreviewPowerSourceRecord?id="+id;
                  }
    });
  }
    function PowerSourceClick()
         {
            if(vpage_status == "u" && vparam_x != "" && vpage_name == "PreviewPowerSourceRecord")
            {
                PowerSourceUpdation();
               
            } 
            else
            {
               PowerSourceInsertion();
            }
            
         }
    function PowerSourceUpdation() {
      var strid=vparam_x;
      var pscategory = $("#pscategory").val();
      var pstype = $('#pstype').val();
      var psother = $('#psother').val();     
      var psMake = $('#psMake').val();
      var psManufacturer = $('#psManufacturer').val();
      var psCountryOrigin = $('#psCountryOrigin').val();
      var psCountryRecovery = $('#psCountryRecovery').val();
      var psSize = $('#psSize').val();      
      var psLength = $('#psLength').val();  
      var psWidth = $('#psWidth').val();
      var psHeight = $('#psHeight').val();       
      var psDiameter = $('#psDiameter').val();
      var psVoltage = $('#psVoltage').val();
      var psMarkings = $('#psMarkings').val();
      var psColour = $('#psColour').val();
      var psSerialNumber = $('#psSerialNumber').val();
      var psBatchCode = $('#psBatchCode').val();
      var PsRemarks = $('#PsRemarks').val();
      var psNumberRecovered = $('#psNumberRecovered').val();
     
     
      var settings = {
      "url": "/api/PowerSources/"+strid,
      "method": "Put",
      "timeout": 0,
      "headers": {
        "Content-Type": "application/json"
          },
      "data": JSON.stringify({
        "intID": 0,
        "strURN": strid,
         "Category": pscategory,
         "Type": pstype,      
        "Make": psMake,
        "Other": psother,       
        "Manufacturer": psManufacturer,
        "CountryOrigin": psCountryOrigin,
        "CountryRecovered": psCountryRecovery,
        "Size": psSize,
        "Length": psLength,
        "Width": psWidth,
        "Height": psHeight,              
        "Diameter": psDiameter,
        "Voltage": psVoltage,        
        "Colour": psColour,
         "SerialNumber": psSerialNumber,
         "Markings": psMarkings,     
        "BatchCode": psBatchCode,
         "NumberRecovered": psNumberRecovered,
        "memRemarks": PsRemarks,
        "lastModifiedBy": "Admin",
        "isDeleted": false
      }),
    };

    $.ajax(settings).done(function (response) {
      console.log(response);
        alert("Data has been updated successfully");
         window.location.href = "/Admin/Records/PreviewRecord?controller=PowerSources&id="+strid;
        
      //    window.location.href = "https://localhost:44313/Admin/Records/PreviewPowerSourceRecord?id="+strid;

    });
  }
    function loadPowerSource(x)
    {

            var url = "/api/PowerSources/GetpowerSourceById?id="+x;           
            $.ajax({  
            type: "GET",  
            url: url,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (response) {  
                  //alert(JSON.stringify(response));
                  //alert((response.strURN.toString()));
                     $("#pscategory").val(response.category);
                      $('#pstype').val(response.type);
                      $('#psother').val(response.other);     
                      $('#psMake').val(response.make);
                      $('#psManufacturer').val(response.manufacturer);
                      $('#psCountryOrigin').val(response.countryOrigin);
                      $('#psCountryRecovery').val(response.countryRecovered);
                      $('#psSize').val(response.size);         
                      $('#psLength').val(response.length);  
                      $('#psWidth').val(response.width);
                      $('#psHeight').val(response.height);       
                      $('#psDiameter').val(response.diameter);
                      $('#psVoltage').val(response.voltage);
                      $('#psMarkings').val(response.markings);
                      $('#psColour').val(response.colour);
                      $('#psSerialNumber').val(response.serialNumber);
                      $('#psBatchCode').val(response.batchCode);
                      $('#PsRemarks').val(response.memRemarks);
                      $('#psNumberRecovered').val(response.numberRecovered);
                         
            },
            error: function (response) {  
                //alert("error");  
            }
        });         
            
    }
     function LoadPSCountry()
    {
      var psCountryRecovery = $('#psCountryRecovery');
      var psCountryOrigin = $('#psCountryOrigin');
     
        try {
        $.ajax({
            url: '/api/Countries',
              method: 'Get',
            //headers: {
              //  'Content-Type': 'application/x-www-form-urlencoded'
            //},
            dataType: 'json',
           
            success: function ( data) {

           var v = JSON.stringify(data);
             var selOpts = "";
             selOpts += "<option value='' disabled selected>--Select--</option>";
              $.each(data, function (k, v) {
                   var id = data[k].strCountry;
                   var val = data[k].strCountry;
                   selOpts += "<option value='" + id + "'>" + val + "</option>";
                    });
                     psCountryRecovery.append(selOpts); 
                        psCountryOrigin.append(selOpts); 
                 

             },
            error: function (request, status, error) {
           
                //alert("Error.");
            }
        });
    }
    catch (err) {
        exceptionHandeld(err)
    }
    }
    </script>