
@{
   

}
<style>
    .table-responsive {
        max-height: 650px;
    }

        .table-responsive tbody {
            width: 100%;
            display: table;
        }
</style>
<div class="row no-gutters">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h5>Source</h5>

                <form class="forms-sample">

                    <div class="form-group row text-dark">
                        <div class="row">
                            <label for="ForwardLocking" class="col-sm-3 col-form-label">Databases</label>
                            <div class="col-sm-5">

                                <select class="form-control" id="src_database">
                                </select>
                                <br />
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" id="src_searchText" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-sm btn-primary" type="button" id="src_searchBtn">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h5>Destination</h5>


                <form class="forms-sample">

                    <div class="form-group row text-dark">
                        <div class="row">
                            <label for="ForwardLocking" class="col-sm-3 col-form-label">Databases</label>
                            <div class="col-sm-5">

                                <select class="form-control" id="des_database">
                                </select>
                                <br />
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="des_searchText" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-sm btn-primary" type="button" id="des_searchBtn">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>

<div class="row no-gutters">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card panel-body" style="max-height:400PX">

            <div class="d-flex p-2 bg-gradient-primary justify-content-center text-white" id="source_table_name"><b>Source Table</b></div>
            <br />
            <div class="container" style="text-align:center">
                <button class="btn btn-primary mr-2" href="#" id="src_pre"><</button>
                <button class="btn btn-primary mr-2" href="#" id="src_next">></button>
            </div>
            <br/>
            <table class="table text-dark  table-responsive" id="table1">

                <tbody style="text-align:center" id="table1body">
                
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-6 grid-margin stretch-card">
        <div class="card panel-body" style="max-height:400PX">

            <div class="d-flex p-2 bg-gradient-primary justify-content-center text-white" id="destination_table_name"><b>Destination Table</b></div>
            <br>
            <div class="container" style="text-align:center">
                <button class="btn btn-primary mr-2" href="#" id="des_pre"><</button>
                <button class="btn btn-primary mr-2" href="#" id="des_next">></button>
            </div>
            <br />
            <table class="table text-dark  table-responsive" id="table2">

                <tbody style="text-align:center" id="table2body">
                   
                </tbody>
            </table>

        </div>

    </div>
</div>
<br />
<div class="row">
    <div class="col-12 grid-margin">
        <div class="card text-dark">
            <div class="card-body">
                <h5>Linking</h5>
                <form class="form-sample">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Source Evaluation</label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="src_evaluation">
                                        <option disabled>Select</option>
                                        <option value="1">A - Always Reliable</option>
                                        <option value="2">B - Mostly Reliable</option>
                                        <option value="3">C - Sometimes Relibale</option>
                                        <option value="4">D - Unreliable</option>
                                        <option value="5">E - Untested Source</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Information Evaluation</label>
                                <div class="col-sm-9">
                                    @*<input type="text" class="form-control" id="info_evaluation">*@
                                    <select class="form-control" id="info_evaluation">
                                        <option disabled>Select</option>
                                        <option value="1">A - Always Reliable</option>
                                        <option value="2">B - Mostly Reliable</option>
                                        <option value="3">C - Sometimes Relibale</option>
                                        <option value="4">D - Unreliable</option>
                                        <option value="5">E - Untested Source</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Reason for Linking</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="reason_link">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" id="isBidirectional" value="false"> Is link bi-directional? <i class="input-helper"></i>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                    </div>
                    <br>
                    <button type="button" class="btn btn-primary btn-fw ml-5" id="Create_Link">Create Link</button>
            

                </form>
            </div>
        </div>
    </div>
</div>
<br>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
@*
<div class="row">

    <div class="col">

        <div class="row text-dark">
            <div class="col">
                <div class="e-panel card">
                    <div class="card-body">
                        <div class="card-title">
                        </div>

                        <table id="commonLinkTable" class="table table-bordered text-dark">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th class="max-width">Source Name</th>
                                    <th class="max-width">Destination Name</th>
                                    <th class="max-width">Creation Date</th>
                                    <th class="max-width">Reason</th>
                                    <th class="max-width">Actions </th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>


    </div>
</div>*@
<script>
    var ID=1;
    var ID2 = 1;
    var SrcStrURn="";
    var DestStrUrn="";
    $(document).ready(function () {
        $.ajax({

            url: '/Jsonside/GetAllDatabaselist',
            type: 'GET',
            data: {},
            contentType: 'application/json',
            success: function (response) {
               // console.log(response)
                $("#src_database").empty();
                $("#src_database").append(`<option value="">Select Database</option>`);
                $("#des_database").empty();
                $("#des_database").append(`<option value="">Select Database</option>`);
                for (var i = 0; i < response.length; i++) {

                    addOption(response[i].strTable, response[i].strTable, '#src_database')
                    addOption(response[i].strTable, response[i].strTable, '#des_database')

                }
                if (response.length == 0) {
                    $("#src_database").empty();
                    $("#des_database").empty();

                }
                else {
                    $('.spinner').css('display', 'none');
                }


            }
        });
        });
        function addOption(value, text, userid) {
            $(userid).append(`<option value="${value}">${text}</option>`);
        }

    $('#src_database').change(function () {
        if ($(this).val() == "") {
       
            $("#table1body").empty();
        }
        else 
        {
            ID=1;
            getdata('#table1body', ID, $(this).val(), $('#src_searchText').val(),"Left")
        }
    });
    $('#des_database').change(function () {
        if ($(this).val() == "") {

            $("#table2body").empty();
        }
        else {
            ID2=1;
            getdata('#table2body', ID2, $(this).val(), null,"Right")
        }
    });


    function getdata(tableid,Count,Tabname,Searchrec,callby)
    {
        $.ajax({

            url: '/Jsonside/GetSingleRec',
            type: 'GET',
            data: { ID: Count, TableName: Tabname, Search: Searchrec },
            contentType: 'application/json',
            success: function (response) {
                console.log(response)
                $(tableid).empty();
                for (var i = 0; i < response.length; i++) 
                {
                    if (response[i].propertName == "strURN" && callby=="Left")
                    {
                        SrcStrURn = response[i].propertValue;
                    }
                    else if (response[i].propertName == "strURN" && callby == "Right") {
                        DestStrUrn = response[i].propertValue;
                    }

                    $(tableid).append("<tr style='text-aling:left'><td>" + response[i].propertName + "</b></td>><td>" + response[i].propertValue + "</td></tr>");

                }




            }
        });
    }
   
    ///Prevous
    

    $("#src_searchBtn").click(function () {
        if($('#src_database').val()=='')
        {
            alert('Select database');
        }
        else
        {
            ID = 1;
            getdata('#table1body', ID, $('#src_database').val(), $('#src_searchText').val(),"Left")
        }
      
        
    });
    $("#des_searchBtn").click(function () {
        if ($('#des_database').val() == '') {
            alert('Select database');
        }
        else {
            ID2 = 1;
            getdata('#table2body', ID2, $('#des_database').val(), $('#des_searchText').val(),"Right")
        }



      

    });

    

    $("#src_pre").click(function () {
        ID=ID-1;
        if(ID==0)
        {
            $("#src_pre").attr("disabled", true);
          
        }
        else if($('#src_database').val()=='')
        {
            alert('Select database');
        }
        else
        {
            getdata('#table1body', ID, $('#src_database').val(), $('#src_searchText').val(),"Left")
        }
    });
    $("#src_next").click(function () {
        ID = ID + 1;
        $("#src_pre").attr("disabled", false);
        if (ID == 0) {

            $("#src_pre").attr("disabled", true);

        }
        else if ($('#src_database').val() == '') {
            alert('Select database');
        }
        else {
            getdata('#table1body', ID, $('#src_database').val(), $('#src_searchText').val(),"Left")
        }
    });
    //Next
    $("#des_pre").click(function () {
        ID2 = ID2 - 1;
        if (ID2 == 0) {
            $("#des_pre").attr("disabled", true);

        }
        else if ($('#des_database').val() == '') {
            alert('Select database');
        }
        else {
            getdata('#table2body', ID2, $('#des_database').val(), $('#des_searchText').val(),"Right")
        }
    });
    $("#des_next").click(function () {
        ID2 = ID2 + 1;
        $("#des_pre").attr("disabled", false);
        if (ID2 == 0) {

            $("#des_next").attr("disabled", true);

        }
        else if ($('#des_database').val() == '') {
            alert('Select database');
        }
        else {
            getdata('#table2body', ID2, $('#des_database').val(), $('#des_searchText').val(),"Right")
        }
    });


    $("#Create_Link").click(function () {
        if ($('#src_database').val() != '' && $('#des_database').val() != '' && SrcStrURn != "" && DestStrUrn != "") {
            $('.spinner').css('display', 'block');
            $.ajax({

                url: '/CommonLinks/AddLink',
                type: 'GET',
                data: { SrcTab: $('#src_database').val(), Desttab: $('#des_database').val(), srcStrn: SrcStrURn, deststrn: DestStrUrn, SE: $('#src_evaluation').val(), RE: $('#info_evaluation').val(), RL: $('#reason_link').val(), BI: $('#isBidirectional').val() },
                contentType: 'application/json',
                success: function (response) {
     
                    $('.spinner').css('display', 'none');
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: 'Record Successfully added',
                        showConfirmButton: false,
                        timer: 1500
                    });
                     location.reload();
                }
            });
            
            
          
          
        }
        else
        {
            alert("Please select all Entries");
        }
       
   


    });


</script>

