@model IEnumerable<CTW_FIA.Models.DatabaseModels.CommonLinks>
@{
   

}


    <style>
        .container {
            display: flex;
            justify-content: space-between;
            margin: 20px;
        }

        .portion-box {
            flex: 1;
            border: 1px solid #ccc;
            padding: 20px;
            box-sizing: border-box;
            margin-right: 10px;
        }

            .portion-box:last-child {
                margin-right: 0;
            }

            .portion-box label,
            .portion-box select,
            .portion-box input {
                width: 100%;
                box-sizing: border-box;
                margin-bottom: 10px; /* Add vertical margin */
            }

        .portion-buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
        }

        .portion-buttons-text {
            flex: 1;
        }

        .portion-buttons button {
            margin-left: 5px;
        }

        .table-container {
            margin-top: 20px;
            overflow-x: auto;
        }

            .table-container table {
                border-collapse: collapse;
                width: 100%;
                border: 1px solid #ccc;
            }

            .table-container th, .table-container td {
                border: 1px solid #ccc;
                padding: 8px;
                text-align: center;
            }

        .MainHeading {
            margin-left: 30px;
        }

        .horizontal-box {
            margin-left: 30px;
            position: absolute;
            right: auto;
            border: 1px solid #ccc;
            height: 220px;
            width: 84%;
        }

        .flexbox2 {
            display: flex;
        }

        .flexbox-item {
            width: 200px;
        }

        .extra-linking {
            display: flex;
        }

        .linkitems {
            flex: 1;
            margin-top: 20px;
            margin-left: 60px;
        }

        .Mainflex {
            display: flex;
        }

        .Rightside {
            display: flex;
        }
    </style>


    <h2 class="MainHeading">Create Links</h2>

    <div class="container">
        <div class="portion-box">
            <h4>Source</h4>
            <label for="sourceDatabaseSelect">Database:</label>
            <select id="sourceDatabaseSelect" name="SourceSelectedDatabase">
                <option value="select">Select</option>
                <option value="table1">Table1</option>
                <!-- Add more options as needed -->
            </select>
       @*     <label for="sourceKeywordSearch">Province</label>
            <select id="selectprovince" name="SelectProvince">
                <option value="select">Select</option>
                <option value="select">Value1</option>
                <option value="select">Value2</option>
            </select>*@
            <label for="sourceKeywordSearch">Search any Keyword:</label>

            <input type="text" id="sourceKeywordSearch" name="SourceKeyword" />
        <button class="btn btn-sm btn-primary" type="button" id="src_searchBtn">Search</button>
            <div class="table-container">
            <table id="table1body">
                    <thead id="tbllefthdr">
                    </thead>
                    <tbody id="tblleftbody">

                    </tbody>
              
             
        
                </table>
            </div>
            <div class="portion-buttons">
           
                <div class="portion-buttons-buttons">
                <button id="src_pre">Previous</button>
                <button id="src_next">Next</button>
                </div>
            </div>
        </div>

        <div class="portion-box">
            <h4>Destination</h4>
            <label for="destinationDatabaseSelect">Database:</label>
            <select id="destinationDatabaseSelect" name="DestinationSelectedDatabase">
                <option value="select">Select</option>
                <option value="table1">Table1</option>
                <!-- Add more options as needed -->
            </select>
       @*     <label for="sourceKeywordSearch">Province</label>
            <select id="selectprovince" name="SelectProvince">
                <option value="select">Select</option>
                <option value="select">Value1</option>
                <option value="select">Value2</option>
            </select>*@
            <label for="destinationKeywordSearch">Search any Keyword:</label>
            <input type="text" id="destinationKeywordSearch" name="DestinationKeyword" />
        <button class="btn btn-sm btn-primary" type="button" id="des_searchBtn">Search</button>

            <div class="table-container">
            <table id="table2body">
                <thead id="tblrightthdr">
                </thead>
                <tbody id="tblrighttbody">
                </tbody>

           

                </table>
            </div>
            <div class="portion-buttons">
            
                <div class="portion-buttons-buttons">
                <button id="des_pre">Previous</button>
                <button id="des_next">Next</button>
                </div>
            </div>
        </div>
    </div>



    <div class="horizontal-box">
        <h4 style="margin-left: 10px; margin-top: 10px;">Linking</h4>

        <div class="Mainflex">
            <div class="flexbox2">
                <h6 style="margin-left: 10px; margin-top: 10px;" class="flexbox-item"> Source Evaluation</h6>
            <select id="src_evaluation" name="SourceEvaluation" class="flexbox-item">
                <option disabled>Select</option>
                <option value="1">A - Always Reliable</option>
                <option value="2">B - Mostly Reliable</option>
                <option value="3">C - Sometimes Relibale</option>
                <option value="4">D - Unreliable</option>
                <option value="5">E - Untested Source</option>
                </select>
            </div>

            <div class="flexbox2">
                <h6 style="margin-left: 210px; margin-top: 10px;" class="flexbox-item"> Information Evaluation</h6>
            <select id="info_evaluation" name="InformationEvaluation" class="flexbox-item">
                <option disabled>Select</option>
                <option value="1">A - Always Reliable</option>
                <option value="2">B - Mostly Reliable</option>
                <option value="3">C - Sometimes Relibale</option>
                <option value="4">D - Unreliable</option>
                <option value="5">E - Untested Source</option>
                </select>
            </div>
        </div>

        <div class="extra-linking">
            <h6 style="margin-left: 10px; margin-top: 22px;"> Reason For Linking</h6>
            <div class="linkitems">
            <input style="width: 200px" id="reason_link" type="text" />
            </div>
        </div>

        <div style="display: flex; justify-content:center;margin-left:140px; align-items: center;">
        <input type="checkbox" name="biDirectionalCheckbox" id="isBidirectional" value="false"/>
            <label style="margin-left: 15px;">Is link bi-directional:</label>
        </div>

        <div style="text-align: center; margin-top: 30px;">
        <button  id="Create_Link">Create Link</button>
        </div>
    </div>


    <div style="margin-top:280px;margin-left:30px; ">
    <div class="row">

        <div class="col">

            <div class="row text-dark">
                <div class="col">
                    <div class="e-panel card">
                        <div class="card-body">
                            <div class="card-title">
                            </div>

                            <table id="commonLinkTable" class="table table-bordered text-dark">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th class="max-width">Source Name</th>
                                        <th class="max-width">Destination Name</th>
                                        <th class="max-width">Creation Date</th>
                                        <th class="max-width">Reason</th>
                                        <th class="max-width">Actions </th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
    </div>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <script>
        var LSID = 1;
        var LEID = 3;
        var RSID2 = 1;
        var REID2 = 3;
        var SrcStrURn = "";
        var DestStrUrn = "";
        $(document).ready(function () {
            $.ajax({

                url: '/Jsonside/GetAllDatabaselist',
                type: 'GET',
                data: {},
                contentType: 'application/json',
                success: function (response) {
                    // console.log(response)
                    $("#sourceDatabaseSelect").empty();
                    $("#sourceDatabaseSelect").append(`<option value="">Select Database</option>`);
                    $("#destinationDatabaseSelect").empty();
                    $("#destinationDatabaseSelect").append(`<option value="">Select Database</option>`);
                    for (var i = 0; i < response.length; i++)
                    {

                        addOption(response[i].strTable, response[i].strTable, '#sourceDatabaseSelect')
                        addOption(response[i].strTable, response[i].strTable, '#destinationDatabaseSelect')

                    }
                    if (response.length == 0) {
                        $("#sourceDatabaseSelect").empty();
                        $("#destinationDatabaseSelect").empty();

                    }
                    else {
                        $('.spinner').css('display', 'none');
                    }


                }
            });
        });
        function addOption(value, text, userid) {
            $(userid).append(`<option value="${value}">${text}</option>`);
        }

        $('#sourceDatabaseSelect').change(function () {
            if ($(this).val() == "") {

                $("#table1body").empty();
            }
            else {
                LSID = 1;
                LEID=3;
                //alert(LSID+' dd'+LEID);
                getdata('#table1body', LSID,LEID, $(this).val(), $('#sourceKeywordSearch').val(), "Left")
            }
        });
        $('#destinationDatabaseSelect').change(function () {
            if ($(this).val() == "") {

                $("#table2body").empty();
            }
            else {
            RSID2 = 1;
            REID2 = 3;
            
            getdata('#table2body', RSID2, REID2, $(this).val(), $('#destinationKeywordSearch').val(), "Right")
           
            }
        });


        function getdata(tableid, startcount,EndCount, Tabname, Searchrec, callby) {
            $.ajax({
             url: '/Jsonside/GetSingleRec',
                type: 'GET',
            data: { SID: startcount, EID:EndCount, TableName: Tabname, Search: Searchrec },
                contentType: 'application/json',
                success: function (response) {
                var jsonObject = JSON.parse(response);
                  var newRow='';
                console.log(jsonObject);
                switch (Tabname) {
                    case 'Person':
                    {
                            $(tableid).find('thead').empty();
                            $(tableid).find('tbody').empty();
                            $(tableid).find('thead').append("<tr><th>Select </th><th>S.No</th > <th>Str URn</th><th>Name</th> </tr>");
                            for (var i = 0; i < jsonObject.length; i++) {
                                $(tableid).find('tbody').append('<tr><td><input type="radio" onclick="assignval(\'' + callby + '\', \'' + jsonObject[i].strURN + '\')"  name="' + callby + '" value="' + jsonObject[i].strURN + '"/></td><td>' + jsonObject[i].SerialNo + '</td><td>' + jsonObject[i].strURN + '</td><td>' + jsonObject[i].Name + '</td></tr>');
                            }
                            break;

                    }
                    case 'Incident':
                        {

                            $(tableid).find('thead').empty();
                            $(tableid).find('tbody').empty();
                            $(tableid).find('thead').append("<tr><th>Select </th><th>S.No</th > <th>Str URn</th><th>Subject</th> </tr>");
                            for (var i = 0; i < jsonObject.length; i++) {
                                $(tableid).find('tbody').append('<tr><td><input type="radio" onclick="assignval(\'' + callby + '\', \'' + jsonObject[i].strURN + '\')"  name="' + callby + '" value="' + jsonObject[i].strURN + '"/></td><td>' + jsonObject[i].SerialNo + '</td><td>' + jsonObject[i].strURN + '</td><td>' + jsonObject[i].strOperationName + '</td></tr>');
                            }
                            break;
                        }
                    case 'Address':
                        {

                            $(tableid).find('thead').empty();
                            $(tableid).find('tbody').empty();
                            $(tableid).find('thead').append("<tr><th>Select </th><th>S.No</th > <th>Str URn</th><th>Address</th> </tr>");
                            for (var i = 0; i < jsonObject.length; i++) {
                                $(tableid).find('tbody').append('<tr><td><input type="radio" onclick="assignval(\'' + callby + '\', \'' + jsonObject[i].strURN + '\')"  name="' + callby + '" value="' + jsonObject[i].strURN + '"/></td><td>' + jsonObject[i].SerialNo + '</td><td>' + jsonObject[i].strURN + '</td><td>' + jsonObject[i].AdressName + '</td></tr>');
                            }
                            break;
                        }
                        case 'Group':
                        {

                            $(tableid).find('thead').empty();
                            $(tableid).find('tbody').empty();
                            $(tableid).find('thead').append("<tr><th>Select </th><th>S.No</th > <th>Str URn</th><th>Group Name</th> </tr>");
                            for (var i = 0; i < jsonObject.length; i++) {
                                $(tableid).find('tbody').append('<tr><td><input type="radio" onclick="assignval(\'' + callby + '\', \'' + jsonObject[i].strURN + '\')"  name="' + callby + '" value="' + jsonObject[i].strURN + '"/></td><td>' + jsonObject[i].SerialNo + '</td><td>' + jsonObject[i].strURN + '</td><td>' + jsonObject[i].GroupName + '</td></tr>');
                            }
                            break;
                        }
                        case 'Vehicle':
                        {

                            $(tableid).find('thead').empty();
                            $(tableid).find('tbody').empty();
                            $(tableid).find('thead').append("<tr><th>Select </th><th>S.No</th > <th>Str URn</th><th>Vehicle Type</th> </tr>");
                            for (var i = 0; i < jsonObject.length; i++) {
                                $(tableid).find('tbody').append('<tr><td><input type="radio" onclick="assignval(\'' + callby + '\', \'' + jsonObject[i].strURN + '\')"  name="' + callby + '" value="' + jsonObject[i].strURN + '"/></td><td>' + jsonObject[i].SerialNo + '</td><td>' + jsonObject[i].strURN + '</td><td>' + jsonObject[i].VehicleType + '</td></tr>');
                            }
                            break;
                        }
                        case 'Detonator':
                        {

                            $(tableid).find('thead').empty();
                            $(tableid).find('tbody').empty();
                            $(tableid).find('thead').append("<tr><th>Select </th><th>S.No</th > <th>Str URn</th><th>Category</th> </tr>");
                            for (var i = 0; i < jsonObject.length; i++) {
                                $(tableid).find('tbody').append('<tr><td><input type="radio" onclick="assignval(\'' + callby + '\', \'' + jsonObject[i].strURN + '\')"  name="' + callby + '" value="' + jsonObject[i].strURN + '"/></td><td>' + jsonObject[i].SerialNo + '</td><td>' + jsonObject[i].strURN + '</td><td>' + jsonObject[i].Category + '</td></tr>');
                            }
                            break;
                        }
                    case 'Explosive':
                        {

                            $(tableid).find('thead').empty();
                            $(tableid).find('tbody').empty();
                            $(tableid).find('thead').append("<tr><th>Select </th><th>S.No</th > <th>Str URn</th><th>Brand Name</th> </tr>");
                            for (var i = 0; i < jsonObject.length; i++) {
                                $(tableid).find('tbody').append('<tr><td><input type="radio" onclick="assignval(\'' + callby + '\', \'' + jsonObject[i].strURN + '\')"  name="' + callby + '" value="' + jsonObject[i].strURN + '"/></td><td>' + jsonObject[i].SerialNo + '</td><td>' + jsonObject[i].strURN + '</td><td>' + jsonObject[i].BrandName + '</td></tr>');
                            }
                            break;
                        }
                        case 'Ordinance':
                        {

                            $(tableid).find('thead').empty();
                            $(tableid).find('tbody').empty();
                            $(tableid).find('thead').append("<tr><th>Select </th><th>S.No</th > <th>Str URn</th><th>Category</th> </tr>");
                            for (var i = 0; i < jsonObject.length; i++) {
                                $(tableid).find('tbody').append('<tr><td><input type="radio" onclick="assignval(\'' + callby + '\', \'' + jsonObject[i].strURN + '\')"  name="' + callby + '" value="' + jsonObject[i].strURN + '"/></td><td>' + jsonObject[i].SerialNo + '</td><td>' + jsonObject[i].strURN + '</td><td>' + jsonObject[i].Category + '</td></tr>');
                            }
                            break;
                        }
                        case 'PowerSource':
                        {

                            $(tableid).find('thead').empty();
                            $(tableid).find('tbody').empty();
                            $(tableid).find('thead').append("<tr><th>Select </th><th>S.No</th > <th>Str URn</th><th>Category</th> </tr>");
                            for (var i = 0; i < jsonObject.length; i++) {
                                $(tableid).find('tbody').append('<tr><td><input type="radio" onclick="assignval(\'' + callby + '\', \'' + jsonObject[i].strURN + '\')"  name="' + callby + '" value="' + jsonObject[i].strURN + '"/></td><td>' + jsonObject[i].SerialNo + '</td><td>' + jsonObject[i].strURN + '</td><td>' + jsonObject[i].Category + '</td></tr>');
                            }
                            break;
                        }
                        case 'InitiationSystem':
                        {

                            $(tableid).find('thead').empty();
                            $(tableid).find('tbody').empty();
                            $(tableid).find('thead').append("<tr><th>Select </th><th>S.No</th > <th>Str URn</th><th>Category</th> </tr>");
                            for (var i = 0; i < jsonObject.length; i++) {
                                $(tableid).find('tbody').append('<tr><td><input type="radio" onclick="assignval(\'' + callby + '\', \'' + jsonObject[i].strURN + '\')"  name="' + callby + '" value="' + jsonObject[i].strURN + '"/></td><td>' + jsonObject[i].SerialNo + '</td><td>' + jsonObject[i].strURN + '</td><td>' + jsonObject[i].Category + '</td></tr>');
                            }
                            break;
                        }
                        case 'Firearms':
                        {

                            $(tableid).find('thead').empty();
                            $(tableid).find('tbody').empty();
                            $(tableid).find('thead').append("<tr><th>Select </th><th>S.No</th > <th>Str URn</th><th>Make</th> </tr>");
                            for (var i = 0; i < jsonObject.length; i++) {
                                $(tableid).find('tbody').append('<tr><td><input type="radio" onclick="assignval(\'' + callby + '\', \'' + jsonObject[i].strURN + '\')"  name="' + callby + '" value="' + jsonObject[i].strURN + '"/></td><td>' + jsonObject[i].SerialNo + '</td><td>' + jsonObject[i].strURN + '</td><td>' + jsonObject[i].Make + '</td></tr>');
                            }
                            break;
                        } 
                        case 'CBRN':
                        {

                            $(tableid).find('thead').empty();
                            $(tableid).find('tbody').empty();
                            $(tableid).find('thead').append("<tr><th>Select </th><th>S.No</th > <th>Str URn</th><th>Category</th> </tr>");
                            for (var i = 0; i < jsonObject.length; i++) {
                                $(tableid).find('tbody').append('<tr><td><input type="radio" onclick="assignval(\'' + callby + '\', \'' + jsonObject[i].strURN + '\')"  name="' + callby + '" value="' + jsonObject[i].strURN + '"/></td><td>' + jsonObject[i].SerialNo + '</td><td>' + jsonObject[i].strURN + '</td><td>' + jsonObject[i].Category + '</td></tr>');
                            }
                            break;
                        }
                        case 'Components':
                        {

                            $(tableid).find('thead').empty();
                            $(tableid).find('tbody').empty();
                            $(tableid).find('thead').append("<tr><th>Select </th><th>S.No</th > <th>Str URn</th><th>Type</th> </tr>");
                            for (var i = 0; i < jsonObject.length; i++) {
                                $(tableid).find('tbody').append('<tr><td><input type="radio" onclick="assignval(\'' + callby + '\', \'' + jsonObject[i].strURN + '\')"  name="' + callby + '" value="' + jsonObject[i].strURN + '"/></td><td>' + jsonObject[i].SerialNo + '</td><td>' + jsonObject[i].strURN + '</td><td>' + jsonObject[i].Type + '</td></tr>');
                            }
                            break;
                        }
                        case 'Communications':
                        {

                            $(tableid).find('thead').empty();
                            $(tableid).find('tbody').empty();
                            $(tableid).find('thead').append("<tr><th>Select </th><th>S.No</th > <th>Str URn</th><th>Communication Type</th> </tr>");
                            for (var i = 0; i < jsonObject.length; i++) {
                                $(tableid).find('tbody').append('<tr><td><input type="radio" onclick="assignval(\'' + callby + '\', \'' + jsonObject[i].strURN + '\')"  name="' + callby + '" value="' + jsonObject[i].strURN + '"/></td><td>' + jsonObject[i].SerialNo + '</td><td>' + jsonObject[i].strURN + '</td><td>' + jsonObject[i].CommType + '</td></tr>');
                            }
                            break;
                        }
                        case 'Chemical':
                        {

                            $(tableid).find('thead').empty();
                            $(tableid).find('tbody').empty();
                            $(tableid).find('thead').append("<tr><th>Select </th><th>S.No</th > <th>Str URn</th><th>Name</th> </tr>");
                            for (var i = 0; i < jsonObject.length; i++) {
                                $(tableid).find('tbody').append('<tr><td><input type="radio" onclick="assignval(\'' + callby + '\', \'' + jsonObject[i].strURN + '\')"  name="' + callby + '" value="' + jsonObject[i].strURN + '"/></td><td>' + jsonObject[i].SerialNo + '</td><td>' + jsonObject[i].strURN + '</td><td>' + jsonObject[i].Name + '</td></tr>');
                            }
                            break;
                        }
                        case 'Evidence':
                        {

                            $(tableid).find('thead').empty();
                            $(tableid).find('tbody').empty();
                            $(tableid).find('thead').append("<tr><th>Select </th><th>S.No</th > <th>Str URn</th><th>Item</th> </tr>");
                            for (var i = 0; i < jsonObject.length; i++) {
                                $(tableid).find('tbody').append('<tr><td><input type="radio" onclick="assignval(\'' + callby + '\', \'' + jsonObject[i].strURN + '\')"  name="' + callby + '" value="' + jsonObject[i].strURN + '"/></td><td>' + jsonObject[i].SerialNo + '</td><td>' + jsonObject[i].strURN + '</td><td>' + jsonObject[i].Item + '</td></tr>');
                            }
                            break;
                        }
                        case 'Equipment':
                        {

                            $(tableid).find('thead').empty();
                            $(tableid).find('tbody').empty();
                            $(tableid).find('thead').append("<tr><th>Select </th><th>S.No</th > <th>Str URn</th><th>Name</th> </tr>");
                            for (var i = 0; i < jsonObject.length; i++) {
                                $(tableid).find('tbody').append('<tr><td><input type="radio" onclick="assignval(\'' + callby + '\', \'' + jsonObject[i].strURN + '\')"  name="' + callby + '" value="' + jsonObject[i].strURN + '"/></td><td>' + jsonObject[i].SerialNo + '</td><td>' + jsonObject[i].strURN + '</td><td>' + jsonObject[i].Name + '</td></tr>');
                            }
                            break;
                        }
                    case 'PoliceStation':
                        {

                            $(tableid).find('thead').empty();
                            $(tableid).find('tbody').empty();
                            $(tableid).find('thead').append("<tr><th>Select </th><th>S.No</th > <th>Str URn</th><th>Name</th> </tr>");
                            for (var i = 0; i < jsonObject.length; i++) {
                                $(tableid).find('tbody').append('<tr><td><input type="radio" onclick="assignval(\'' + callby + '\', \'' + jsonObject[i].strURN + '\')"  name="' + callby + '" value="' + jsonObject[i].strURN + '"/></td><td>' + jsonObject[i].SerialNo + '</td><td>' + jsonObject[i].strURN + '</td><td>' + jsonObject[i].Name + '</td></tr>');
                            }
                            break;
                        }
                        case 'BankAccount':
                        {

                            $(tableid).find('thead').empty();
                            $(tableid).find('tbody').empty();
                            $(tableid).find('thead').append("<tr><th>Select </th><th>S.No</th > <th>Str URn</th><th>Bank</th> </tr>");
                            for (var i = 0; i < jsonObject.length; i++) {
                                $(tableid).find('tbody').append('<tr><td><input type="radio" onclick="assignval(\'' + callby + '\', \'' + jsonObject[i].strURN + '\')"  name="' + callby + '" value="' + jsonObject[i].strURN + '"/></td><td>' + jsonObject[i].SerialNo + '</td><td>' + jsonObject[i].strURN + '</td><td>' + jsonObject[i].Bank + '</td></tr>');
                            }
                            break;
                        }
                        case 'Property':
                        {

                            $(tableid).find('thead').empty();
                            $(tableid).find('tbody').empty();
                            $(tableid).find('thead').append("<tr><th>Select </th><th>S.No</th > <th>Str URn</th><th>Property Name</th> </tr>");
                            for (var i = 0; i < jsonObject.length; i++) {
                                $(tableid).find('tbody').append('<tr><td><input type="radio" onclick="assignval(\'' + callby + '\', \'' + jsonObject[i].strURN + '\')"  name="' + callby + '" value="' + jsonObject[i].strURN + '"/></td><td>' + jsonObject[i].SerialNo + '</td><td>' + jsonObject[i].strURN + '</td><td>' + jsonObject[i].PropertyName + '</td></tr>');
                            }
                            break;
                        }
                        case 'tblMedia':
                        {

                            $(tableid).find('thead').empty();
                            $(tableid).find('tbody').empty();
                            $(tableid).find('thead').append("<tr><th>Select </th><th>S.No</th > <th>Str URn</th><th>Title</th> </tr>");
                            for (var i = 0; i < jsonObject.length; i++) {
                                $(tableid).find('tbody').append('<tr><td><input type="radio" onclick="assignval(\'' + callby + '\', \'' + jsonObject[i].strURN + '\')"  name="' + callby + '" value="' + jsonObject[i].strURN + '"/></td><td>' + jsonObject[i].SerialNo + '</td><td>' + jsonObject[i].strURN + '</td><td>' + jsonObject[i].Title + '</td></tr>');
                            }
                            break;
                        }
                    default:
                        $(tableid).find('thead').empty();
                        $(tableid).find('tbody').empty();

                }
             
                   // $(tableid).empty();
                    //for (var i = 0; i < response.length; i++) 
                    //{
                    //    if (response[i].propertName == "strURN" && callby == "Left") {
                    //        SrcStrURn = response[i].propertValue;
                    //    }
                    //    else if (response[i].propertName == "strURN" && callby == "Right") {
                    //        DestStrUrn = response[i].propertValue;
                    //    }

                    //    $(tableid).append("<tr style='text-aling:left'><td>" + response[i].propertName + "</b></td>><td>" + response[i].propertValue + "</td></tr>");

                    //}




                }
            });
        }

        ///Prevous

    function assignval(callby,strUrn) 
    {
        if(callby=='Left')
        {
            SrcStrURn=strUrn;
        }
        else if(callby == 'Right')
        {
            DestStrUrn=strUrn;
        }
       

    }
        $("#src_searchBtn").click(function () {
            if ($('#sourceDatabaseSelect').val() == '') {
                alert('Select database');
            }
            else {
            LSID = 1;
            LEID = 3;
            getdata('#table1body', LSID, LEID, $('#sourceDatabaseSelect').val(), $('#sourceKeywordSearch').val(), "Left")
            }


        });
        $("#des_searchBtn").click(function () {
            if ($('#destinationDatabaseSelect').val() == '') {
                alert('Select database');
            }
            else {
            RSID2 = 1;
            REID2 = 3;
            getdata('#table2body', RSID2, REID2, $('#destinationDatabaseSelect').val(), $('#destinationKeywordSearch').val(), "Right")
            }





        });



        $("#src_pre").click(function () {
        LSID = LSID - 3;
        LEID=LEID-3;
        if (LSID <= 0) {
                $("#src_pre").attr("disabled", true);

            }
            else if ($('#sourceDatabaseSelect').val() == '') {
                alert('Select database');
            }
            else {
                getdata('#table1body', LSID,LEID, $('#sourceDatabaseSelect').val(), $('#sourceKeywordSearch').val(), "Left")
            }
        });
        $("#src_next").click(function () {
        LSID = LSID + 3;
        LEID = LEID + 3;
            $("#src_pre").attr("disabled", false);
        if (LSID == 0) {

                $("#src_pre").attr("disabled", true);

            }
            else if ($('#sourceDatabaseSelect').val() == '') {
                alert('Select database');
            }
            else {
                getdata('#table1body', LSID,LEID, $('#sourceDatabaseSelect').val(), $('#sourceKeywordSearch').val(), "Left")
            }
        });
        //Next
        $("#des_pre").click(function () {
        RSID2 = RSID2 - 3;
        REID2 = REID2 - 3;

        if (RSID2 <= 0) {
                $("#des_pre").attr("disabled", true);

            }
            else if ($('#destinationDatabaseSelect').val() == '') {
                alert('Select database');
            }
            else {
                getdata('#table2body', RSID2,REID2, $('#destinationDatabaseSelect').val(), $('#destinationKeywordSearch').val(), "Right")
            }
        });
        $("#des_next").click(function () {
        RSID2 = RSID2 - 3;
        REID2 = REID2 - 3;
            $("#des_pre").attr("disabled", false);
        if (RSID2 == 0) {

                $("#des_next").attr("disabled", true);

            }
            else if ($('#destinationDatabaseSelect').val() == '') {
                alert('Select database');
            }
            else {
            getdata('#table2body', RSID2, REID2, $('#destinationDatabaseSelect').val(), $('#destinationKeywordSearch').val(), "Right")
        }
        });


        $("#Create_Link").click(function () {
            if ($('#sourceDatabaseSelect').val() != '' && $('#destinationDatabaseSelect').val() != '' && SrcStrURn != "" && DestStrUrn != "") {
                $('.spinner').css('display', 'block');
                $.ajax({

                    url: '/CommonLinks/AddLink',
                    type: 'GET',
                    data: { SrcTab: $('#sourceDatabaseSelect').val(), Desttab: $('#destinationDatabaseSelect').val(), srcStrn: SrcStrURn, deststrn: DestStrUrn, SE: $('#src_evaluation').val(), RE: $('#info_evaluation').val(), RL: $('#reason_link').val(), BI: $('#isBidirectional').val() },
                    contentType: 'application/json',
                    success: function (response) {

                        $('.spinner').css('display', 'none');
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: 'Record Successfully added',
                            showConfirmButton: false,
                            timer: 1500
                        });
                        location.reload();
                    }
                });




            }
            else {
                alert("Please select all Entries");
            }




        });


    </script>
