@{
    Layout = null;
}

<div class="row no-gutters">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form class="forms-sample">
                    <h5 class="float-none w-auto p-2">Bank Account Form</h5>

                    <fieldset class="border p-3">
                        <legend class="float-none w-auto p-2" style="font-size: 13px">
                            Account Title
                        </legend>

                        <div class="form-group row">
                            <label for="Description"
                                   class="col-sm-2 col-form-label"
                                   style="font-size: 13px">Account No.</label>
                            <div class="col-sm-10">
                                <input type="text"
                                       class="form-control"
                                       id="AccountNo"
                                       placeholder="" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="CommunicationsType"
                                   class="col-sm-2 col-form-label"
                                   style="font-size: 13px">Branch Code</label>
                            <div class="col-sm-10">
                                <input type="text"
                                       class="form-control"
                                       id="branchCode"
                                       placeholder="" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Address Name"
                                   class="col-sm-2 col-form-label"
                                   style="font-size: 13px">
                                Bank
                            </label>
                            <div class="col-sm-10">
                                <input type="text"
                                       class="form-control"
                                       id="bankId"
                                       placeholder="" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Address Name"
                                   class="col-sm-2 col-form-label"
                                   style="font-size: 13px">
                                Branch
                            </label>
                            <div class="col-sm-10">
                                <input type="text"
                                       class="form-control"
                                       id="Branch"
                                       placeholder="" />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="border p-3">
                        <br />
                        <div class="form-group row">
                            <label for="Remarks"
                                   class="col-sm-2 col-form-label"
                                   style="font-size: 13px">Remarks</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" id="bankRemarks" rows="4"></textarea>
                            </div>
                        </div>
                    </fieldset>
                    <br />

                    <button type="button" class="btn btn-primary mr-2" onclick="BankClick()">Save</button>
                    <button class="btn btn-dark">Cancel</button>
                </form>
            </div>
        </div>
    </div>


</div>

<script type="text/javascript">

    var vpage_name = "";
    var vparam_x = "";
    var vpage_status = "";
    $(document).ready(function () {

        const urlParams = new URLSearchParams(window.location.search);
        const param_x = urlParams.get('id');
        const page_status = urlParams.get('pageStatus');
        const page_name = urlParams.get('pageName');
        vpage_name = page_name;
        vparam_x = param_x;
        vpage_status = page_status;
        if (page_status == "u" && param_x != "" && page_name == "bankaccountPreview") {
            alert(page_status + " " + param_x + " " + page_name);
            ViewBankAccountById(param_x);
        }
    });

    function BankClick() {
        if (vpage_status == "u" && vparam_x != "" && vpage_name == "bankaccountPreview") {
            UpdateBankAccount();
        }
        else {
            BankAccount();
        }

    }
    function UpdateBankAccount() {
        var strid = vparam_x;
        var AccountNo = $("#AccountNo").val();
        var BranchCode = $("#branchCode").val();
        var Bank = $("#bankId").val();
        var Branch = $("#Branch").val();
        var bankRemarks = $("#bankRemarks").val();

        var settings = {
            "url": "/api/BankAccounts/" + strid,
            "method": "Put",
            "timeout": 0,
            "headers": {
                "Content-Type": "application/json"
            },

            "data": JSON.stringify({
                "intID": 0,
                "strURN": strid,
                "accountNo": AccountNo,
                "branchCode": BranchCode,
                "bank": Bank,
                "branch": Branch,
                "memRemarks": bankRemarks,
                "strCreatedBy": "Admin",
                "dateCreated": "2022-04-05T06:16:48.067Z",
                "dateLastModified": "2022-04-05T06:16:48.067Z",
                "strLastModifiedBy": "Admin",
                "isDeleted": false
            }),
        };

        $.ajax(settings).done(function (response) {
            alert("BankAccount has been updated successfully");
            //  window.location.href = "https://localhost:44313/Admin/Records/PreviewBankAccount?id="+strid;
            window.location.href = "/Admin/Records/PreviewRecord?controller=BankAccounts&id=" + strid;
        });
    }
    function ViewBankAccountById(x) {
        var url = "/api/BankAccounts/" + x;
        //alert(url);
        $.ajax({
            type: "GET",
            url: url,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                //alert(JSON.stringify(response));
                //    alert((response.strURN.toString()));
                //    alert(JSON.stringify(response));
                if (response.accountNo != "") {
                    $("#AccountNo").val(response.accountNo);
                }
                if (response.AccountNo != "") {
                    $("#AccountNo").val(response.AccountNo);
                }
                if (response.branchCode != "") {
                    $("#branchCode").val(response.branchCode);
                }
                if (response.BranchCode != "") {
                    $("#branchCode").val(response.BranchCode);
                }
                if (response.branch != "") {
                    $("#Branch").val(response.branch);
                }
                if (response.Branch != "") {
                    $("#Branch").val(response.Branch);
                }
                if (response.bank != "") {
                    $("#bankId").val(response.bank);
                }
                if (response.Bank != "") {
                    $("#bankId").val(response.Bank);
                }
                if (response.memRemarks != "") {
                    $("#bankRemarks").val(response.memRemarks);
                }
                if (response.MemRemarks != "") {
                    $("#bankRemarks").val(response.MemRemarks);
                }

            },
            error: function (response) {
                alert("error");
            }
        });
    }
    function BankAccount() {
        var AccountNo = $("#AccountNo").val();
        var BranchCode = $("#branchCode").val();
        var Bank = $("#bankId").val();
        var Branch = $("#Branch").val();
        var bankRemarks = $("#bankRemarks").val();
        //alert("Data Added Successlly");

        var settings = {
            "url": "/api/BankAccounts",
            "method": "POST",
            "timeout": 0,
            "headers": {
                "Content-Type": "application/json"
            },
            "data": JSON.stringify({
                "intID": 0,
                "strURN": "string",
                "accountNo": AccountNo,
                "branchCode": BranchCode,
                "bank": Bank,
                "branch": Branch,
                "memRemarks": bankRemarks,
                "strCreatedBy": "Admin",
                "dateCreated": "2022-04-05T06:16:48.067Z",
                "dateLastModified": "2022-04-05T06:16:48.067Z",
                "strLastModifiedBy": "Admin",
                "isDeleted": false
            }),
        };

        $.ajax(settings).done(function (response) {
            alert("BankAccount has been added successfully");
            if (confirm('Do you want to add Media File ?')) {
                console.log("Media File.");
                localStorage.setItem("strURN", response.strURN);
                localStorage.setItem("tableName", "BankAccounts");
                window.location.href = "/Admin/Records/AddMedia";
            }
            else {
                localStorage.setItem("strURN", response.strURN);
                localStorage.setItem("tableName", "BankAccounts");
                var id = response.strURN;
                window.location.href = "/Admin/Records/PreviewRecord?controller=BankAccounts&id=" + id;
                //   window.location.href = "/Admin/Records/GroupPreview?controller=Group&id="+strid;
                //window.location.href = "https://localhost:44313/Admin/Records/PreviewBankAccount?id="+id;

            }

        });
    }

</script>
