@model CTW_FIA.Models.DatabaseModels.Explosive
@{

}

<div class="row no-gutters">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form class="forms-sample" method="post" asp-action="AddExplosive" asp-controller="Explosives">
                    <h5 class="float-none w-auto p-2">Explosives Form</h5>

                    <fieldset class="border p-3">
                        <legend class="float-none w-auto p-2" style="font-size: 12px">
                            Explosives Details
                        </legend>

                        <div class="form-group row">
                            <label for="Category"
                                   class="col-sm-2 col-form-label"
                                   style="font-size: 13px">
                                Category
                            </label>
                            <div class="col-sm-4">
                                <select id="expCategory" asp-for="Category" class="form-control">
                                    <option>
                                        Select
                                    </option>
                                    <option>COMMERCIAL</option>
                                    <option>MILITARY</option>
                                    <option>IMPROVISED</option>
                                    <option>UNKNOWN</option>
                                </select>
                            </div>
                            <label for="Type"
                                   class="col-sm-2 col-form-label"
                                   style="font-size: 13px">
                                Type
                            </label>
                            <div class="col-sm-4">
                                <select id="expType" asp-for="Type" class="form-control">
                                    <option>
                                        Select
                                    </option>
                                    <option>Anti Tank Mine</option>
                                    <option>C4</option>
                                    <option>detonating device</option>
                                    <option>Gunpowder</option>
                                    <option>HBIED</option>
                                    <option>high explosive</option>
                                    <option>IED</option>
                                    <option>IED/RCIED</option>
                                    <option>Improvised Explosive Device</option>
                                    <option>Locally made IED</option>
                                    <option>Mortar Shell</option>
                                    <option>Potassium Chlorate</option>
                                    <option>Potassium Nitrate</option>
                                    <option>RCIED</option>
                                    <option>RCIED (Electrical)</option>
                                    <option>Remote Control Bomb</option>
                                    <option>SB</option>
                                    <option>Sucide Jacket</option>
                                    <option>Time Bomb</option>
                                    <option>VBIED</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Make"
                                   class="col-sm-2 col-form-label"
                                   style="font-size: 13px">
                                Quantity
                            </label>
                            <div class="col-sm-4">
                                <input asp-for="Quantity"
                                       type="text"
                                       class="form-control"
                                       id="expQuantity"
                                       placeholder="" />
                            </div>
                            <label for="MeasurementUnit"
                                   class="col-sm-2 col-form-label"
                                   style="font-size: 13px">Measurement Unit</label>
                            <div class="col-sm-4">
                                <input asp-for="MeasurementUnit"
                                       type="number"
                                       class="form-control"
                                       id="expMeasurementUnit"
                                       placeholder="" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="BrandName"
                                   class="col-sm-2 col-form-label"
                                   style="font-size: 13px">Brand Name</label>
                            <div class="col-sm-4">
                                <input asp-for="BrandName"
                                       type="text"
                                       class="form-control"
                                       id="expBrandName"
                                       placeholder="" />
                            </div>
                            <label for="Manufacturer"
                                   class="col-sm-2 col-form-label"
                                   style="font-size: 13px">Manufacturer</label>
                            <div class="col-sm-4">
                                <input asp-for="Manufacturer"
                                       type="text"
                                       class="form-control"
                                       id="expManufacturer"
                                       placeholder="" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Country"
                                   class="col-sm-2 col-form-label"
                                   style="font-size: 13px">Country of Origin</label>
                            <div class="col-sm-4">
                                <select id="expcountryOrigin" asp-for="CountryOrigin" class="form-control">
                                    @for (var i = 0; i < ViewBag.Allcountries.Count; i++)
                                    {
                                        <option>@ViewBag.Allcountries[i].strCountry</option>
                                    }

                                </select>

                            </div>
                            <label for="Country"
                                   class="col-sm-2 col-form-label"
                                   style="font-size: 13px">
                                Country of Recovery
                            </label>
                            <div class="col-sm-4">
                                <select id="expcountryRecovered" asp-for="CountryRecovered" class="form-control">
                                    @for (var i = 0; i < ViewBag.Allcountries.Count; i++)
                                    {
                                        <option>@ViewBag.Allcountries[i].strCountry</option>
                                    }

                                </select>

                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Markings"
                                   class="col-sm-2 col-form-label"
                                   style="font-size: 13px">Markings</label>
                            <div class="col-sm-4">
                                <input asp-for="Markings"
                                       type="text"
                                       class="form-control"
                                       id="expMarkings"
                                       placeholder="" />
                            </div>
                            <label for="Colour"
                                   class="col-sm-2 col-form-label"
                                   style="font-size: 13px">Colour</label>
                            <div class="col-sm-4">
                                <input asp-for="Colour"
                                       type="text"
                                       class="form-control"
                                       id="expColour"
                                       placeholder="" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Packaging"
                                   class="col-sm-2 col-form-label"
                                   style="font-size: 13px">Packaging</label>
                            <div class="col-sm-4">
                                <input asp-for="Packaging"
                                       type="text"
                                       class="form-control"
                                       id="expPackaging"
                                       placeholder="" />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="border p-3">
                        <legend class="float-none w-auto p-2" style="font-size: 11px">
                            Explosive Measurements
                        </legend>

                        <div class="form-group row">
                            <label for="ExplosiveLength"
                                   class="col-sm-2 col-form-label"
                                   style="font-size: 13px">Explosive Length</label>
                            <div class="col-sm-4">
                                <input asp-for="ExplosiveLength"
                                       type="text"
                                       class="form-control"
                                       id="ExplosiveLength"
                                       placeholder="" />
                            </div>
                            <label for="xplosiveWidth"
                                   class="col-sm-2 col-form-label"
                                   style="font-size: 13px">Explosive Width</label>
                            <div class="col-sm-4">
                                <input asp-for="ExplosiveWidth"
                                       type="text"
                                       class="form-control"
                                       id="ExplosiveWidth"
                                       placeholder="" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="ExplosiveHeight"
                                   class="col-sm-2 col-form-label"
                                   style="font-size: 13px">Explosive Height</label>
                            <div class="col-sm-4">
                                <input asp-for="ExplosiveHeight"
                                       type="text"
                                       class="form-control"
                                       id="ExplosiveHeight"
                                       placeholder="" />
                            </div>
                            <label for="ExplosiveWeight"
                                   class="col-sm-2 col-form-label"
                                   style="font-size: 13px">Explosive Weight</label>
                            <div class="col-sm-4">
                                <input asp-for="ExplosiveWeight"
                                       type="text"
                                       class="form-control"
                                       id="ExplosiveWeight"
                                       placeholder="" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="ExplosiveDiameter"
                                   class="col-sm-2 col-form-label"
                                   style="font-size: 13px">Explosive Diameter</label>
                            <div class="col-sm-4">
                                <input asp-for="ExplosiveDiameter"
                                       type="text"
                                       class="form-control"
                                       id="ExplosiveDiameter"
                                       placeholder="" />
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="border p-3">
                        <br />
                        <div class="form-group row">
                            <p for="Remarks"
                               class="col-sm-2 col-form-label"
                               style="font-size: 13px">
                                Remarks
                            </p>
                            <div class="col-sm-10">
                                <textarea asp-for="memRemarks" class="form-control" id="explosRemarks" rows="4"></textarea>
                            </div>
                        </div>
                    </fieldset>
                    <br />
                    <button type="submit" class="btn btn-primary mr-2">Save</button>
                    <button class="btn btn-dark">Cancel</button>
                </form>
            </div>
        </div>
    </div>
    @* <div class="col-md-3 grid-margin stretch-card">
    <div class="card">
    <div class="card-body">
    <h4 class="card-title">Matched Records</h4>
    <p class="card-description">No data to display</p>
    </div>
    </div>
    </div>*@
</div>

<script src="~/Content/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    var vpage_name = "";
    var vparam_x = "";
    var vpage_status = "";
    $(document).ready(function () {
        const urlParams = new URLSearchParams(window.location.search);
        const param_x = urlParams.get('id');
        const page_status = urlParams.get('pageStatus');
        const page_name = urlParams.get('pageName');
        vpage_name = page_name;
        vparam_x = param_x;
        vpage_status = page_status;
        LoadexpCountry();


        if (page_status == "u" && param_x != "" && page_name == "explosivesPreview") {
            // alert(page_status +" " +param_x +" " +page_name);
            ViewExplosiveById(param_x);
            ViewLinks(param_x);
        }
    });
    function ExplosiveClick() {
        if (vpage_status == "u" && vparam_x != "" && vpage_name == "explosivesPreview") {
            ExplosivesUpdation();
        }
        else {
            ExplosivesPost();
        }

    }

    function LoadexpCountry() {
        var expCountryOri = $('#expcountryOrigin');
        var expCountryRec = $('#expcountryRecovered');

        try {
            $.ajax({
                url: '/api/Countries',
                method: 'Get',
                //headers: {
                //  'Content-Type': 'application/x-www-form-urlencoded'
                //},
                dataType: 'json',

                success: function (data) {

                    var v = JSON.stringify(data);
                    var selOpts = "";
                    selOpts += "<option value='' disabled selected>--Select--</option>";
                    $.each(data, function (k, v) {
                        var id = data[k].strCountry;
                        var val = data[k].strCountry;
                        selOpts += "<option value='" + id + "'>" + val + "</option>";
                    });
                    expCountryOri.append(selOpts);

                    expCountryRec.append(selOpts);


                },
                error: function (request, status, error) {

                    //alert("Error.");
                }
            });
        }
        catch (err) {
            exceptionHandeld(err)
        }
    }

    function ExplosivesPost() {
        var expCategory = $("#expCategory").val();
        var expType = $("#expType").val();
        var expQuantity = $("#expQuantity").val();
        var expMeasurementUnit = $("#expMeasurementUnit").val();
        var expBrandName = $("#expBrandName").val();
        var expManufacturer = $("#expManufacturer").val();
        var expcountryOrigin = $("#expcountryOrigin").val();
        var expcountryRecovered = $("#expcountryRecovered").val();
        var expMarkings = $("#expMarkings").val();
        var expColour = $("#expColour").val();
        var expPackaging = $("#expPackaging").val();
        var ExplosiveLength = $("#ExplosiveLength").val();
        var ExplosiveWidth = $("#ExplosiveWidth").val();
        var ExplosiveHeight = $("#ExplosiveHeight").val();
        var ExplosiveWeight = $("#ExplosiveWeight").val();
        var ExplosiveDiameter = $("#ExplosiveDiameter").val();
        var expRemarks = $("#expRemarks").val();



        var settings = {
            "url": "/api/Explosives",
            "method": "POST",
            "timeout": 0,
            "headers": {
                "Content-Type": "application/json"
            },
            "data": JSON.stringify({
                "intID": 0,
                "strURN": "string",
                "category": expCategory,
                "type": expType,
                "quantity": expQuantity,
                "measurementUnit": expMeasurementUnit,
                "brandName": expBrandName,
                "manufacturer": expManufacturer,
                "countryOrigin": expcountryOrigin,
                "countryRecovered": expcountryRecovered,
                "markings": expMarkings,
                "colour": expColour,
                "packaging": expPackaging,
                "explosiveLength": ExplosiveLength,
                "explosiveWidth": ExplosiveWidth,
                "explosiveHeight": ExplosiveHeight,
                "explosiveWeight": ExplosiveWeight,
                "explosiveDiameter": ExplosiveDiameter,
                "memRemarks": expRemarks,
                "createdBy": "Admin",
                "dteCreated": "2022-04-03T19:10:39.522Z",
                "dteSent": "2022-04-03T19:10:39.522Z",
                "lastModifiedBy": "Admin",
                "lastModified": "2022-04-03T19:10:39.522Z"
            }),
        };

        $.ajax(settings).done(function (response) {
            console.log(response);
            alert("Explosive has been added Successfully");

            if (confirm('Do you want to add Media File ?')) {
                console.log("Media File.");
                localStorage.setItem("strURN", response.strURN);
                localStorage.setItem("tableName", "Explosives");
                window.location.href = "/Admin/Records/AddMedia";
            }
            else {
                localStorage.setItem("strURN", response.strURN);
                localStorage.setItem("tableName", "Explosives");
                var id = response.strURN;
                window.location.href = "/Admin/Records/PreviewRecord?controller=Explosives&id=" + id;

                //  window.location.href = "/Admin/Records/PreviewExplosivesRecord?id="+id;
            }
        });
    }

    function ExplosivesUpdation() {
        var strid = vparam_x;
        var expCategory = $("#expCategory").val();
        var expType = $("#expType").val();
        var expQuantity = $("#expQuantity").val();
        var expMeasurementUnit = $("#expMeasurementUnit").val();
        var expBrandName = $("#expBrandName").val();
        var expManufacturer = $("#expManufacturer").val();
        var expcountryOrigin = $("#expcountryOrigin").val();
        var expcountryRecovered = $("#expcountryRecovered").val();
        var expMarkings = $("#expMarkings").val();
        var expColour = $("#expColour").val();
        var expPackaging = $("#expPackaging").val();
        var ExplosiveLength = $("#ExplosiveLength").val();
        var ExplosiveWidth = $("#ExplosiveWidth").val();
        var ExplosiveHeight = $("#ExplosiveHeight").val();
        var ExplosiveWeight = $("#ExplosiveWeight").val();
        var ExplosiveDiameter = $("#ExplosiveDiameter").val();
        var expRemarks = $("#expRemarks").val();

        var settings = {
            "url": "/api/Explosives/" + strid,
            "method": "Put",
            "timeout": 0,
            "headers": {
                "Content-Type": "application/json"
            },
            "data": JSON.stringify({
                "intID": 0,
                "strURN": strid,
                "category": expCategory,
                "type": expType,
                "quantity": expQuantity,
                "measurementUnit": expMeasurementUnit,
                "brandName": expBrandName,
                "manufacturer": expManufacturer,
                "countryOrigin": expcountryOrigin,
                "countryRecovered": expcountryRecovered,
                "markings": expMarkings,
                "colour": expColour,
                "packaging": expPackaging,
                "explosiveLength": ExplosiveLength,
                "explosiveWidth": ExplosiveWidth,
                "explosiveHeight": ExplosiveHeight,
                "explosiveWeight": ExplosiveWeight,
                "explosiveDiameter": ExplosiveDiameter,
                "memRemarks": expRemarks,
                "createdBy": "string",
                "dteCreated": "2022-04-03T19:10:39.522Z",
                "dteSent": "2022-04-03T19:10:39.522Z",
                "lastModifiedBy": "string",
                "lastModified": "2022-04-03T19:10:39.522Z"

            }),
        };
        $.ajax(settings).done(function (response) {
            alert("Explosive has been updated successfully");
            window.location.href = "/Admin/Records/PreviewRecord?controller=Explosives&id=" + strid;

            //      window.location.href = "https://localhost:44313/Admin/Records/PreviewExplosivesRecord?id="+strid;

        });
    }


    function ViewExplosiveById(x) {
        var url = "/api/Explosives/" + x;
        $.ajax({
            type: "GET",
            url: url,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                //alert(JSON.stringify(response));
                //alert((response.strURN.toString()));
                if (response.type != "") {
                    $("#expType").val(response.type);
                }
                if (response.Type != "") {
                    $("#expType").val(response.Type);
                }
                if (response.quantity != "") {
                    $("#expQuantity").val(response.quantity);
                }
                if (response.Quantity != "") {
                    $("#expQuantity").val(response.Quantity);
                }
                if (response.measurementUnit != "") {
                    $("#expMeasurementUnit").val(response.measurementUnit);
                }
                if (response.MeasurementUnit != "") {
                    $("#expMeasurementUnit").val(response.MeasurementUnit);
                }
                if (response.brandName != "") {
                    $("#expBrandName").val(response.brandName);
                }
                if (response.BrandName != "") {
                    $("#expBrandName").val(response.BrandName);
                }
                if (response.category != "") {
                    $("#expCategory").val(response.category);
                }
                if (response.Category != "") {
                    $("#expCategory").val(response.Category);
                }
                if (response.manufacturer != "") {
                    $("#expManufacturer").val(response.manufacturer);
                }
                if (response.Manufacturer != "") {
                    $("#expManufacturer").val(response.Manufacturer);
                }
                if (response.countryOrigin != "") {
                    $("#expcountryOrigin").val(response.countryOrigin);
                }
                if (response.CountryOrigin != "") {
                    $("#expcountryOrigin").val(response.CountryOrigin);
                }
                if (response.countryRecovered != "") {
                    $("#expcountryRecovered").val(response.countryRecovered);
                }
                if (response.CountryRecovered != "") {
                    $("#expcountryRecovered").val(response.CountryRecovered);
                }
                if (response.markings != "") {
                    $("#expMarkings").val(response.markings);
                }
                if (response.Markings != "") {
                    $("#expMarkings").val(response.Markings);
                }
                if (response.colour != "") {
                    $("#expColour").val(response.colour);
                }
                if (response.Colour != "") {
                    $("#expColour").val(response.Colour);
                }
                if (response.packaging != "") {
                    $("#expPackaging").val(response.packaging);
                }
                if (response.Packaging != "") {
                    $("#expPackaging").val(response.Packaging);
                }

                if (response.explosiveLength != "") {
                    $("#ExplosiveLength").val(response.explosiveLength);
                }

                if (response.ExplosiveLength != "") {
                    $("#ExplosiveLength").val(response.ExplosiveLength);
                }
                if (response.explosiveWidth != "") {
                    $("#ExplosiveWidth").val(response.explosiveWidth);
                }

                if (response.ExplosiveWidth != "") {
                    $("#ExplosiveWidth").val(response.ExplosiveWidth);
                }
                if (response.explosiveHeight != "") {
                    $("#ExplosiveHeight").val(response.explosiveHeight);
                }

                if (response.ExplosiveHeight != "") {
                    $("#ExplosiveHeight").val(response.ExplosiveHeight);
                }
                if (response.explosiveWeight != "") {
                    $("#ExplosiveWeight").val(response.explosiveWeight);
                }

                if (response.ExplosiveWeight != "") {
                    $("#ExplosiveWeight").val(response.ExplosiveWeight);
                }
                if (response.explosiveDiameter != "") {
                    $("#ExplosiveDiameter").val(response.explosiveDiameter);
                }

                if (response.ExplosiveDiameter != "") {
                    $("#ExplosiveDiameter").val(response.ExplosiveDiameter);
                }
                if (response.memRemarks != "") {
                    $("#explosRemarks").val(response.memRemarks);
                }

                if (response.MemRemarks != "") {
                    $("#explosRemarks").val(response.MemRemarks);
                }

            },
            error: function (response) {
                //alert("error");
            }
        });
    }
</script>
