@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{

}

    <div class="row no-gutters" >

       @*  <div class="row no-gutters" style="justify-content: center;">*@
        @*<div class="col-md-6">
    <div class="card">
    <div class="card-body">
    <h6 class="font-weight-normal">Motive / Target Wise</h6>
    <canvas id="barChart2" style="position: relative; height:28vh; width:40vw"></canvas>
    </div>
    </div>
    </div>*@
      <div class="col-md-12"><h2 class="font-weight-normal text-center">Explosive Data Analysis – Graph </h2></div>
        <div class="row no-gutters">
          

            <div class="col-md-12">
              
                    <div class="card">
                    
                        <div class="card-body">
                        <h6 class="font-weight-normal text-center">Explosive Analysis <br/>(Incident Wise)</h6>
                        <canvas id="explosiveChart" style="position: relative; height:300px; width:280px"></canvas>
                    </div>
                    
                </div>
              
            </div>
           
        </div>

   @section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            const ctx_explosives = document.getElementById('explosiveChart');
            Chart.register(ChartDataLabels);
            Chart.defaults.set('plugins.datalabels', {
                color: '#000000'
            });
            const c_options = {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    },
                    x: {
                        stacked: true
                    }
                },
                legend: {
                    labels: {
                        // This more specific font property overrides the global property
                        font: {
                            size: 22
                        }
                    }
                },
                tooltips: {
                    enabled: false
                },
                plugins: {
                    datalabels: {
                        anchor: 'end',
                        align: 'end',
                        labels: {
                            value: {
                                color: 'black'
                            },
                            font: {
                                size: 22
                            }
                        }
                    }
                }
            };
            const c_background_colors =
                [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235,1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192,1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64,1)',
                    'rgba(9, 113, 7, 0.94)',
                    'rgba(10, 73, 231, 0.94)',
                    'rgba(73, 49, 226, 1)',
                    'rgba(138, 38, 64, 1)',

                ];
            console.log("ready!");
            $.ajax({
                type: "GET",
                url: "/Explosives/Getdashboard",
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (response) {

                    console.log(response);

                    const type = response.map(i => `${i.name}`);

                    const count_type = response.map(i => `${i.totalRecord}`);


                    console.log(type);
                    console.log(count_type);

                    const myChart = new Chart(ctx_explosives, {
                        type: 'pie',
                        data: {
                            labels: type,
                            datasets: [{
                                label: '# of Incidents Order By Provinces',
                                data: count_type,
                                backgroundColor: c_background_colors,
                                borderColor: c_background_colors,
                                borderWidth: 2

                            }]
                        },
                        options: {
                            responsive: true,
                            scales: {
                                    
                                y: {
                                      
                                    ticks: {
                                        // Include a dollar sign in the ticks

                                        fixedStepSize: 1
                                    }
                                }
                            },
                            legend: {
                                labels: {
                                    // This more specific font property overrides the global property
                                    font: {
                                        size: 22
                                    }
                                }
                            },
                            tooltips: {
                                enabled: false
                            },
                            plugins: {
                                datalabels: {
                                    anchor: 'end',
                                    align: 'end',
                                    labels: {
                                        value: {
                                            color: 'black'
                                        },
                                        font: {
                                            size: 22
                                        }
                                    }
                                }
                            }
                        }
                    });

                    //alert(arr);
                },
                error: function (response) {
                    alert("error");
                }
            });
        });
        </script>
}


