@model CTW_FIA.Models.DatabaseModels.Chemical
@{
    Layout = null;
}
<div class="row no-gutters">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h5>Chemical Form</h5>

                <form asp-action="YourAction" asp-controller="YourController" method="post" class="forms-sample">
                    <fieldset class="border p-3">
                        <legend class="float-none w-auto p-2" style="font-size: 12px">Chemical Details</legend>
                        <div class="form-group row">
                            <label for="Other" class="col-sm-2 col-form-label" style="font-size: 13px">Name</label>
                            <div class="col-sm-4">
                                <input asp-for="Name" class="form-control" />
                            </div>
                            <label for="Other" class="col-sm-2 col-form-label" style="font-size: 13px">Other Names</label>
                            <div class="col-sm-4">
                                <input asp-for="OtherNames" class="form-control" />
                            </div>
                        </div>

                        <!-- ... (previous code) ... -->

                        <div class="form-group row">
                            <label for="Time" class="col-sm-2 col-form-label" style="font-size: 13px">Molecular Mass</label>
                            <div class="col-sm-4">
                                <input  class="form-control" />
                            </div>
                            <label for="Time" class="col-sm-2 col-form-label" style="font-size: 13px">Atomic Mass</label>
                            <div class="col-sm-4">
                                <input  class="form-control" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Time" class="col-sm-2 col-form-label" style="font-size: 13px">Spillage Disposal</label>
                            <div class="col-sm-4">
                                <input asp-for="SpillageDisposal" class="form-control" />
                            </div>
                            <label for="Time" class="col-sm-2 col-form-label" style="font-size: 13px">Packaging</label>
                            <div class="col-sm-4">
                                <input asp-for="Packaging" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Time" class="col-sm-2 col-form-label" style="font-size: 13px">Labelling</label>
                            <div class="col-sm-4">
                                <input asp-for="Labelling" class="form-control" />
                            </div>
                            <label for="Time" class="col-sm-2 col-form-label" style="font-size: 13px">Safe Storage</label>
                            <div class="col-sm-4">
                                <input asp-for="SafeStorage" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Time" class="col-sm-2 col-form-label" style="font-size: 13px">Transport Emergency Card</label>
                            <div class="col-sm-4">
                                <input asp-for="TransportEmergencyCard" class="form-control" />
                            </div>
                            <label for="Time" class="col-sm-2 col-form-label" style="font-size: 13px">NFPA Code</label>
                            <div class="col-sm-4">
                                <input asp-for="NfpaCode" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Time" class="col-sm-2 col-form-label" style="font-size: 13px">UN Hazard Card</label>
                            <div class="col-sm-4">
                                <input asp-for="UnHazardClass" class="form-control" />
                            </div>
                            <label for="Time" class="col-sm-2 col-form-label" style="font-size: 13px">UN Subsidiary Class</label>
                            <div class="col-sm-4">
                                <input asp-for="UnSubsidiaryRisks" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Time" class="col-sm-2 col-form-label" style="font-size: 13px">UN Pack Group</label>
                            <div class="col-sm-10">
                                <input asp-for="UnPackGroup" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Remarks" class="col-sm-2 col-form-label" style="font-size: 13px">Hazard/Exposure</label>
                            <div class="col-sm-10">
                                <textarea asp-for="HazardExposure" class="form-control" rows="4"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Time" class="col-sm-2 col-form-label" style="font-size: 13px">Boiling Point (low)</label>
                            <div class="col-sm-4">
                                <input asp-for="BoilingPointLow" class="form-control" />
                            </div>
                            <label for="Time" class="col-sm-2 col-form-label" style="font-size: 13px">Boiling Point (high)</label>
                            <div class="col-sm-4">
                                <input asp-for="BoilingPointHigh" class="form-control" />
                            </div>
                        </div>
                        <!-- ... (previous code) ... -->

                        <div class="form-group row">
                            <label for="Time" class="col-sm-2 col-form-label" style="font-size: 13px">Melting Point (low)</label>
                            <div class="col-sm-4">
                                <input  class="form-control" />
                            </div>
                            <label for="Time" class="col-sm-2 col-form-label" style="font-size: 13px">Melting Point (high)</label>
                            <div class="col-sm-4">
                                <input asp-for="MeltingPointHigh" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Time" class="col-sm-2 col-form-label" style="font-size: 13px">Density g/cm 3 (low)</label>
                            <div class="col-sm-4">
                                <input asp-for="DensityLow" class="form-control" />
                            </div>
                            <label for="Time" class="col-sm-2 col-form-label" style="font-size: 13px">Density g/cm 3 (high)</label>
                            <div class="col-sm-4">
                                <input asp-for="DensityHigh" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Time" class="col-sm-2 col-form-label" style="font-size: 13px">Relative Density (water=1) (low)</label>
                            <div class="col-sm-4">
                                <input asp-for="RelativeDensityLow" class="form-control" />
                            </div>
                            <label for="Time" class="col-sm-2 col-form-label" style="font-size: 13px">Relative Density (water=1) (high)</label>
                            <div class="col-sm-4">
                                <input asp-for="RelativeDensityHigh" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Time" class="col-sm-2 col-form-label" style="font-size: 13px">Solubility in water g/100 ml at 20</label>
                            <div class="col-sm-4">
                                <input asp-for="WaterSolubility" class="form-control" />
                            </div>
                            <label for="Time" class="col-sm-2 col-form-label" style="font-size: 13px">Vapour pressure Pa at 24 C (low)</label>
                            <div class="col-sm-4">
                                <input asp-for="VapourPressureLow" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Time" class="col-sm-2 col-form-label" style="font-size: 13px">Vapour pressure Pa at 24 C (high)</label>
                            <div class="col-sm-4">
                                <input asp-for="VapourPressureHigh" class="form-control" />
                            </div>
                            <label for="Time" class="col-sm-2 col-form-label" style="font-size: 13px">Relative Density of the vapour/ Air-mi</label>
                            <div class="col-sm-4">
                                <input class="form-control" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Time" class="col-sm-2 col-form-label" style="font-size: 13px">Relative Vapour Density (air=1) (low)</label>
                            <div class="col-sm-4">
                                <input asp-for="RelativeVapourDensityLow" class="form-control" />
                            </div>
                            <label for="Time" class="col-sm-2 col-form-label" style="font-size: 13px">Relative Vapour Density (air=1) (high)</label>
                            <div class="col-sm-4">
                                <input asp-for="RelativeVapourDensityHigh" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Time" class="col-sm-2 col-form-label" style="font-size: 13px">Flash Point C (low)</label>
                            <div class="col-sm-4">
                                <input asp-for="FlashPointLow" class="form-control" />
                            </div>
                            <label for="Time" class="col-sm-2 col-form-label" style="font-size: 13px">Flash Point C (high)</label>
                            <div class="col-sm-4">
                                <input asp-for="FlashPointHigh" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Time" class="col-sm-2 col-form-label" style="font-size: 13px">Auto-Ignite C (low)</label>
                            <div class="col-sm-4">
                                <input asp-for="AutoIgnitionTempLow" class="form-control" />
                            </div>
                            <label for="Time" class="col-sm-2 col-form-label" style="font-size: 13px">Auto-Ignite C (high)</label>
                            <div class="col-sm-4">
                                <input asp-for="AutoIgnitionTempHigh" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Time" class="col-sm-2 col-form-label" style="font-size: 13px">Explosives Limit</label>
                            <div class="col-sm-4">
                                <input asp-for="ExplosiveLimits" class="form-control" />
                            </div>
                            <label for="Time" class="col-sm-2 col-form-label" style="font-size: 13px">Octanol/water partition coefficient as</label>
                            <div class="col-sm-4">
                                <input asp-for="OctanolWaterPartitionLow" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Time" class="col-sm-2 col-form-label" style="font-size: 13px">Octanol/water partition coefficient as</label>
                            <div class="col-sm-10">
                                <input asp-for="OctanolWaterPartitionHigh" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Remarks" class="col-sm-2 col-form-label" style="font-size: 13px">Inhalation Risk</label>
                            <div class="col-sm-10">
                                <textarea asp-for="InhalationRisk" class="form-control" rows="4"></textarea>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Remarks" class="col-sm-2 col-form-label" style="font-size: 13px">Environmental Data</label>
                            <div class="col-sm-10">
                                <textarea asp-for="EnvironmentalData" class="form-control" rows="4"></textarea>
                            </div>
                        </div>
                        <!-- ... (previous code) ... -->

                        <div class="form-group row">
                            <label for="Remarks" class="col-sm-2 col-form-label" style="font-size: 13px">Hazardous Reactions and Polymerization</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="4"></textarea>
                            </div>
                        </div>

               


                     

                        <!-- ... (next code) ... -->
                        <!-- ... (next code) ... -->
                        <!-- ... (next code) ... -->
                        <!-- Continue adding input fields for the remaining properties of the Chemical class -->
                        <!-- ... (next code) ... -->



                    </fieldset>
                    <fieldset class="border p-3">
                        <br />
                        <div class="form-group row">
                            <label for="Remarks" class="col-sm-2 col-form-label" style="font-size: 13px">Remarks</label>
                            <div class="col-sm-10">
                                <textarea asp-for="memRemarks" class="form-control" rows="4"></textarea>
                            </div>
                        </div>
                    </fieldset>
                    <br />
                    <button type="submit" class="btn btn-primary mr-2">Save</button>
                    <button type="button" class="btn btn-dark">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
