@{
    Layout = null;
}

<div class="row no-gutters" >
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h5>CBRN Form</h5>

        <fieldset class="border p-3">
          <legend class="float-none w-auto p-2" style="font-size: 12px">
            CBRN Details
          </legend>

          <form class="forms-sample">
            <div class="form-group row">
              <label
                for="Category"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Category
              </label>
              <div class="col-sm-4">
                <select class="form-control" id="CBRNcategory">
                  <option value="">
                    Select
                  </option>
                  <option>Chemical</option>
                  <option>Other</option>
                </select>
              </div>
              <label
                for="Type"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Type
              </label>
              <div class="col-sm-4">
                <select class="form-control" id="CBRNType">
                  <option value="">
                    Select
                  </option>
                  <option>Gas</option>
                  <option>Solid</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label
                for="Other"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Other</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="CBRNOther"
                  placeholder=""
                />
              </div>
            </div>
            <div class="form-group row">
              <label
                for="Manufacturer"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Manufacturer</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="CBRNManufacturer"
                  placeholder=""
                />
              </div>
              <label
                for="BrandName"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                > Name
              </label>
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="CBRNName"
                  placeholder=""
                />
              </div>
            </div>

            <div class="form-group row">
              <label
                for="Country"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Country of Origin</label
              >
              <div class="col-sm-4">
                  <select class="form-control" id="CBRNCountryOri"> </select>
               
              </div>
              <label
                for="CBRNCountryRec"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Country of Recovery</label
              >
              <div class="col-sm-4">
               <select class="form-control" id="CBRNCountryRec"> </select>
              </div>
            </div>

            <div class="form-group row">
              <label for="CBRNQuantity"
                class="col-sm-2 col-form-label"
                style="font-size: 13px">Quantity</label>
                 <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="CBRNQuantity"
                  placeholder=""
                />
              </div>
              <label
                for="CBRNQuanMeasurement"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Quantity Measurement</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="CBRNQuanMeasurement"
                  placeholder=""
                />
              </div>
            </div>

            <div class="form-group row">
              <label
                for="CBRNMethodDelivery"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Method Delivery</label
              >
               
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="CBRNMethodDelivery"
                  placeholder=""
                />
              </div>
              <label
                for="CBRNSpecialPrecaution"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Special Precaution</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="CBRNSpecialPrecaution"
                  placeholder=""
                />
              </div>
            </div>
           
            <div class="form-group row">
                 <label
                for="CBRNHazard"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Hazard</label
              >
              <div class="col-sm-4">
                <input type="text" class="form-control"  id="CBRNHazard" />
              </div>
             
              <label
                for="CBRNUNNumber"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >UN Number</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="CBRNUNNumber"
                  placeholder=""
                />
              </div>
            </div>     

          
            <div class="form-group row">
              <label
                for="CBRNDescription"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Description</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  id="CBRNDescription"
                  placeholder=""
                />
              </div>
             
            </div>

          
         
          </form>
        </fieldset>
        <fieldset class="border p-3">
          <br />
          <div class="form-group row">
            <label
              for="Remarks"
              class="col-sm-2 col-form-label"
              style="font-size: 13px"
              >Remarks</label>
            <div class="col-sm-10">
              <textarea class="form-control" id="CBRNRemarks" rows="4"></textarea>
            </div>
          </div>
        </fieldset>
        <br />
        <button type="button" class="btn btn-primary mr-2" onClick="CBRNClick()">Save</button>
        <button class="btn btn-dark">Cancel</button>
      </div>
    </div>
  </div>
  @*<div class="col-md-3 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Matched Records</h4>
        <p class="card-description">No data to display</p>
      </div>
    </div>
  </div>*@
</div>


<script type="text/javascript">
  
      var vpage_name ="";
         var vparam_x ="";
         var vpage_status = "";
         $(document).ready(function () {
         const urlParams = new URLSearchParams(window.location.search);
         const param_x = urlParams.get('id');
         const page_status = urlParams.get('pageStatus');
         const page_name= urlParams.get('pageName');
         vpage_name=page_name;
         vparam_x=param_x;
         vpage_status=page_status;
         LoadCBRNCountry();
        if(page_status == "u" && param_x != "" && page_name == "PreviewCBRNRecord")
            {
                  //alert(page_status +" " +param_x +" " +page_name);
                
                  loadCBRN(param_x);
                  ViewLinks(param_x);
            } 
       });

           function CBRNClick()
         {
            if(vpage_status == "u" && vparam_x != "" && vpage_name == "PreviewCBRNRecord")
            {
                CBRNUpdation();
            } 
            else
            {
              CBRNInsertion();
            }
            
         }
      function LoadCBRNCountry()
    {
        var CBRNCountryOri = $("#CBRNCountryOri");
        var CBRNCountryRec = $("#CBRNCountryRec");
  
        try {
        $.ajax({
            url: '/api/Countries',
              method: 'Get',
            //headers: {
              //  'Content-Type': 'application/x-www-form-urlencoded'
            //},
            dataType: 'json',
           
            success: function ( data) {

           var v = JSON.stringify(data);
             var selOpts = "";
             selOpts += "<option value='' disabled selected>--Select--</option>";
              $.each(data, function (k, v) {
                   var id = data[k].strCountry;
                   var val = data[k].strCountry;
                   selOpts += "<option value='" + id + "'>" + val + "</option>";
                    });
                     CBRNCountryOri.append(selOpts); 
                     CBRNCountryRec.append(selOpts); 
                  

              },
            error: function (request, status, error) {
           
                //alert("Error.");
            }
        });
    }
    catch (err) {
        exceptionHandeld(err)
    }
    }


          function loadCBRN(x)
        {
               srcindex = 0;
                 var url = "/api/CBRNs/GetCBRNById?id="+x;
                   // //alert(url);
                    $.ajax({  
                    type: "GET",  
                    url: url,
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function (response) {  
                    
                    $("#CBRNType").val(response.strType);
                    $("#CBRNcategory").val(response.strCategory);
                    $("#CBRNName").val(response.strName); 
                    $("#CBRNDescription").val(response.strDescription);
                    $("#CBRNManufacturer").val(response.strManufacturer);
                    $("#CBRNOther").val(response.strOther);     
                    $("#CBRNQuanMeasurement").val(response.strQuantityMeasurement);
                    $("#CBRNQuantity").val(response.intQuantity);
                    $("#CBRNCountryOri").val(response.strCountryOrigin);
                    $("#CBRNCountryRec").val(response.strCountryRecovered);
                    $("#CBRNHazard").val(response.strHazard); 
                    $("#CBRNSpecialPrecaution").val(response.strSpecialPrecautions); 
                    $("#CBRNMethodDelivery").val(response.strMethodDelivery);
                    $("#CBRNRemarks").val(response.memRemarks);
                    $("#CBRNUNNumber").val(response.strUNNumber);
                   
                   },    
                   error: function (response) {  
                        //alert("error");  
                    }
                });          
      
        }
  
     function CBRNInsertion()
    {
        var   CBRNcategory = $("#CBRNcategory").val();
       var   CBRNType = $("#CBRNType").val(); 
       var   CBRNOther = $("#CBRNOther").val(); 
       var   CBRNManufacturer = $("#CBRNManufacturer").val();
       var   CBRNName =  $("#CBRNName").val();   
       var   CBRNCountryOri = $("#CBRNCountryOri").val(); 
       var    CBRNCountryRec = $("#CBRNCountryRec").val();   
       var    CBRNQuantity = $("#CBRNQuantity").val(); 
       var    CBRNQuanMeasurement = $("#CBRNQuanMeasurement").val(); 
       var    CBRNMethodDelivery = $("#CBRNMethodDelivery").val();     
       var    CBRNSpecialPrecaution = $("#CBRNSpecialPrecaution").val();  
       var     CBRNDescription = $("#CBRNDescription").val(); 
       var    CBRNUNNumber = $("#CBRNUNNumber").val();  
       var     CBRNHazard = $("#CBRNHazard").val();    
       var    CBRNRemarks = $("#CBRNRemarks").val();  
        
          var settings = {   
                  "url": "/api/CBRNs",
                  "method": "POST",
                  "timeout": 0,
                  "headers": {
                    "Content-Type": "application/json"
                  },
              "data": JSON.stringify({
                "intID": 0,
                "strURN": "stri12",
                "strCategory": CBRNcategory,
                "strOther": CBRNOther,
                "strType": CBRNType,
                "intQuantity": CBRNQuantity,
                "strQuantityMeasurement": CBRNQuanMeasurement,
                "strManufacturer": CBRNManufacturer,
                "strName": CBRNName,
                "strMethodDelivery":CBRNMethodDelivery,
                "strCountryOrigin": CBRNCountryOri,
                "strCountryRecovered": CBRNCountryRec,
                "strDescription": CBRNDescription,
                "strSpecialPrecautions": CBRNSpecialPrecaution,
                "strUNNumber": CBRNUNNumber,
                "strHazard": CBRNHazard,
                "memRemarks": CBRNRemarks,
                "createdBy": "admin",
                "lastModifiedBy": "admin"
              }), 
            };
            $.ajax(settings).done(function (response) {
              console.log(response);
              alert("CBRN has been added Successfully");

              if (confirm('Do you want to add Media File ?')) {
                 
                  console.log("Media File.");
               localStorage.setItem("strURN", response.strURN);
               localStorage.setItem("tableName", "CBRN");
               window.location.href = "/Admin/Records/AddMedia";
              }
              else
              {
                   localStorage.setItem("strURN", response.strURN);
               localStorage.setItem("tableName", "CBRN");
                   var id=response.strURN;
                    window.location.href = "/Admin/Records/PreviewRecord?controller=CBRNs&id="+id;
                  
                   //  window.location.href = "/Admin/Records/PreviewCBRNRecord?id="+id;
             //    window.location.href = "/Admin/Records/PreviewIncidentRecord?id="+id;
              }
                 });
    }
    function CBRNUpdation()
    {
         var strid=vparam_x;
       var   CBRNcategory = $("#CBRNcategory").val();
       var   CBRNType = $("#CBRNType").val(); 
       var   CBRNOther = $("#CBRNOther").val(); 
       var   CBRNManufacturer = $("#CBRNManufacturer").val();
       var   CBRNName =  $("#CBRNName").val();   
       var   CBRNCountryOri = $("#CBRNCountryOri").val(); 
       var    CBRNCountryRec = $("#CBRNCountryRec").val();   
       var    CBRNQuantity = $("#CBRNQuantity").val(); 
       var    CBRNQuanMeasurement = $("#CBRNQuanMeasurement").val(); 
       var    CBRNMethodDelivery = $("#CBRNMethodDelivery").val();     
       var    CBRNSpecialPrecaution = $("#CBRNSpecialPrecaution").val();  
       var     CBRNDescription = $("#CBRNDescription").val(); 
       var    CBRNUNNumber = $("#CBRNUNNumber").val();  
       var     CBRNHazard = $("#CBRNHazard").val();    
       var    CBRNRemarks = $("#CBRNRemarks").val(); 
                        
         var settings = {
                  "url": "/api/CBRNs/"+strid,
                  "method": "Put",
                  "timeout": 0,
                  "headers": {
                    "Content-Type": "application/json"
                  },
              "data": JSON.stringify({
                "intID": 0,
                "strURN": strid,
                "strCategory": CBRNcategory,
                "strOther": CBRNOther,
                "strType": CBRNType,
                "intQuantity": CBRNQuantity,
                "strQuantityMeasurement": CBRNQuanMeasurement,
                "strManufacturer": CBRNManufacturer,
                "strName": CBRNName,
                "strMethodDelivery":CBRNMethodDelivery,
                "strCountryOrigin": CBRNCountryOri,
                "strCountryRecovered": CBRNCountryRec,
                "strDescription": CBRNDescription,
                "strSpecialPrecautions": CBRNSpecialPrecaution,
                "strUNNumber": CBRNUNNumber,
                "strHazard": CBRNHazard,
                "memRemarks": CBRNRemarks,
                "createdBy": "admin",
                "lastModifiedBy": "admin"
              }), 
            };
            $.ajax(settings).done(function (response) {
              console.log(response);
              alert("CBRN has been updated Successfully");

                    
                 var id=response.strURN;
                    //  window.location.href = "https://localhost:44313/Admin/Records/PreviewCBRNRecord?id="+strid;
                   window.location.href = "/Admin/Records/PreviewRecord?controller=CBRNs&id="+id;
                  
                 });
    }
  


    </script>
 