@{
    Layout = null;
}

<div class="row no-gutters" >
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h5>Components Form</h5>

        <form class="forms-sample">
          <fieldset class="border p-3">
            <legend class="float-none w-auto p-2" style="font-size: 12px">
              Components Details
            </legend>
            <div class="form-group row">
              <label
                for="Other"
                class="col-sm-2 col-form-label"
                style="font-size: 12px"
                >Type</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="copType"
                  placeholder=""
                />
              </div>
              <label
                for="Make"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Country of Origin
              </label>
              <div class="col-sm-4">
                <select id="copOrigin" class="form-control"></select>
              </div>
            </div>

            <div class="form-group row">
              <label
                for="Make"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Material
              </label>
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="copMaterial"
                  placeholder=""
                />
              </div>

              <label
                for="Time"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Manufacturer</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="copManufacturer"
                  placeholder=""
                />
              </div>
            </div>

            <div class="form-group row">
              <label
                for="Make"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Description
              </label>
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="copDescription"
                  placeholder=""
                />
              </div>
              <label
                for="Time"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Method of Delivery</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="copDelivery"
                  placeholder=""
                />
              </div>
            </div>

            <div class="form-group row">
              <label
                for="Time"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Quantity Weight</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="copQuantityWeight"
                  placeholder=""
                />
              </div>
              <label
                for="Time"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Quantity Number</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="copQuantityNo"

                  placeholder=""
                />
              </div>
            </div>
            <div class="form-group row">
              <label
                for="Time"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Country of Recovery</label
              >
              <div class="col-sm-4">
                <select id="copRecovery" class="form-control">
                </select>
              </div>
              <label
                for="Time"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Length</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="copLength"
                  placeholder=""
                />
              </div>
            </div>

            <div class="form-group row">
              <label
                for="Time"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Width</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="copWidth"
                  placeholder=""
                />
              </div>
              <label
                for="Time"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Height</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="copHeight"
                  placeholder=""
                />
              </div>
            </div>

            <div class="form-group row">
              <label
                for="Time"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Diameter</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="copDiameter"
                  placeholder=""
                />
              </div>
              <label
                for="Time"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Color</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="copColor"
                  placeholder=""
                />
              </div>
            </div>

            <div class="form-group row">
              <label
                for="Time"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Markings</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="copMarkings"
                  placeholder=""
                />
              </div>
            </div>
          </fieldset>
          <fieldset class="border p-3">
            <br />
            <div class="form-group row">
              <label
                for="Remarks"
                class="col-sm-2 col-form-label"
                style="font-size: 13px"
                >Remarks</label
              >
              <div class="col-sm-10">
                <textarea class="form-control" id="copRemarks" rows="4"></textarea>
              </div>
            </div>
          </fieldset>
          <br />
          <button type="button" class="btn btn-primary mr-2" onclick="ComponentsClick()">Save</button>
          <button class="btn btn-dark">Cancel</button>
        </form>
      </div>
    </div>
  </div>
  @*<div class="col-md-3 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Matched Records</h4>
        <p class="card-description">No data to display</p>
      </div>
    </div>
  </div>*@
</div>

<script type="text/javascript">
       var vpage_name ="";
         var vparam_x ="";
         var vpage_status = "";
         $(document).ready(function () {
         const urlParams = new URLSearchParams(window.location.search);
         const param_x = urlParams.get('id');
         const page_status = urlParams.get('pageStatus');
         const page_name= urlParams.get('pageName');
         vpage_name=page_name;
         vparam_x=param_x;
         vpage_status=page_status;
         LoadCountry();
        if(page_status == "u" && param_x != "" && page_name == "PreviewComponentsRecord")
            {
                  //alert(page_status +" " +param_x +" " +page_name);
                
                  loadComponents(param_x);
            } 
            
       });
         function ComponentsClick()
         {
            if(vpage_status == "u" && vparam_x != "" && vpage_name == "PreviewComponentsRecord")
            {
                ComponentUpdation();
            } 
            else
            {
                ComponentInsertion();
            }
            
         }
         function LoadCountry()
         {
              var ComCountryRec = $('#copRecovery');
              var ComCountryOrigin = $('#copOrigin');
    
                try {
                  $.ajax({
                            url: '/api/Countries',
                            method: 'Get',
                            //headers: {
                              //  'Content-Type': 'application/x-www-form-urlencoded'
                            //},
                            dataType: 'json',
           
                            success: function ( data) 
                            {
                                 var v = JSON.stringify(data);
                                 var selOpts = "";
                                 selOpts += "<option value='' disabled selected>--Select--</option>";
                                  $.each(data, function (k, v) {
                                       var id = data[k].strCountry;
                                       var val = data[k].strCountry;
                                       selOpts += "<option value='" + id + "'>" + val + "</option>";
                                     });
                                     ComCountryRec.append(selOpts); 
                                     ComCountryOrigin.append(selOpts); 
                       
                            },
                            error: function (request, status, error) {
           
                                //alert("Error.");
                            }
                        });
                 }
            catch (err) {
                exceptionHandeld(err)
            }
         }
    
    function ComponentInsertion() {
      var copType = $("#copType").val();
      var copOrigin = $('#copOrigin').val();
      var copMaterial = $('#copMaterial').val();
      var copManufacturer = $('#copManufacturer').val();
      var copDescription = $('#copDescription').val();
      var copDelivery = $('#copDelivery').val();
      var copQuantityWeight = $('#copQuantityWeight').val();
      var copQuantityNo = $('#copQuantityNo').val();
      var copQuantityNo = $('#copQuantityNo').val();
      var copRecovery = $('#copRecovery').val();
      var copLength = $('#copLength').val();
      var copWidth = $('#copWidth').val();
      var copHeight = $('#copHeight').val();
      var copDiameter = $('#copDiameter').val();
      var copColor = $('#copColor').val();
      var copMarkings = $('#copMarkings').val();
      var copRemarks = $('#copRemarks').val();
     
      var settings = {
      "url": "/api/Components",
      "method": "POST",
      "timeout": 0,
      "headers": {
        "Content-Type": "application/json"
          },
      "data": JSON.stringify({
        "intID": 0,
        "strURN": "string",
        "type": copType,
        "countryOrigin": copOrigin,
        "material": copMaterial,
        "manufacturer": copManufacturer,
        "description": copDescription,
        "methodDelivery": copDelivery,
        "quantityWeight": copQuantityWeight,
        "quantityNo": copQuantityNo,
        "countryRecovered": copRecovery,
        "length": copLength,
        "width": copWidth,
        "height": copHeight,
        "diameter": copDiameter,
        "colour": copColor,
        "markings": copMarkings,
        "memRemarks": copRemarks,
        "createdBy": "Admin",
        "dteCreated": "2022-04-04T06:48:35.333Z",
        "dteSent": "2022-04-04T06:48:35.333Z",
        "lastModifiedBy": "Admin",
        "lastModified": "2022-04-04T06:48:35.333Z",
        "isDeleted": false
      }),
    };

    $.ajax(settings).done(function (response) {
      console.log(response);
        alert("Data has been added successfully");
          if (confirm('Do you want to add Media File ?')) {
                 
                   console.log("Media File.");
                   localStorage.setItem("strURN", response.strURN);
                   localStorage.setItem("tableName", "Components");
                   window.location.href = "/Admin/Records/AddMedia";
                  }
                  else
                  {
                      localStorage.setItem("strURN", response.strURN);
                   localStorage.setItem("tableName", "Components");
                     var id=response.strURN;
                     //window.location.href = "/Admin/Records/PreviewComponentsRecord?id="+id;
                        window.location.href = "/Admin/Records/PreviewRecord?controller=Components&id="+id;
                  }
    });
  }

    function ComponentUpdation() {
          var strid=vparam_x;
      var copType = $("#copType").val();
      var copOrigin = $('#copOrigin').val();
      var copMaterial = $('#copMaterial').val();
      var copManufacturer = $('#copManufacturer').val();
      var copDescription = $('#copDescription').val();
      var copDelivery = $('#copDelivery').val();
      var copQuantityWeight = $('#copQuantityWeight').val();
      //var copQuantityNo = $('#copQuantityNo').val();
      var copQuantityNo = $('#copQuantityNo').val();
      var copRecovery = $('#copRecovery').val();
      var copLength = $('#copLength').val();
      var copWidth = $('#copWidth').val();
      var copHeight = $('#copHeight').val();
      var copDiameter = $('#copDiameter').val();
      var copColor = $('#copColor').val();
      var copMarkings = $('#copMarkings').val();
      var copRemarks = $('#copRemarks').val();
     
      var settings = {
      "url": "/api/Components/"+strid,
      "method": "Put",
      "timeout": 0,
      "headers": {
        "Content-Type": "application/json"
          },
      "data": JSON.stringify({
        "intID": 0,
        "strURN": strid,
        "type": copType,
        "countryOrigin": copOrigin,
        "material": copMaterial,
        "manufacturer": copManufacturer,
        "description": copDescription,
        "methodDelivery": copDelivery,
        "quantityWeight": copQuantityWeight,
        "quantityNo": copQuantityNo,
        "countryRecovered": copRecovery,
        "length": copLength,
        "width": copWidth,
        "height": copHeight,
        "diameter": copDiameter,
        "colour": copColor,
        "markings": copMarkings,
        "memRemarks": copRemarks,
        "createdBy": "Admin",
        "dteCreated": "2022-04-04T06:48:35.333Z",
        "dteSent": "2022-04-04T06:48:35.333Z",
        "lastModifiedBy": "Admin",
        "lastModified": "2022-04-04T06:48:35.333Z",
        "isDeleted": false
      }),
    };

    $.ajax(settings).done(function (response) {
      console.log(response);
        alert("Data has been updated successfully");
         // window.location.href = "/Admin/Records/PreviewComponentsRecord?id="+strid;
            window.location.href = "/Admin/Records/PreviewRecord?controller=Components&id="+strid;
         
    });
  }
    function loadComponents(x)
    {
            var url = "/api/Components/GetComponentsById?id="+x;         
            $.ajax({  
            type: "GET",  
            url: url,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (response) {  
                  //alert(JSON.stringify(response));
                  //alert((response.strURN.toString()));
                    $("#copType").val(response.type);
                    $("#copOrigin").val(response.countryOrigin);
                    $("#copMaterial").val(response.material);  
                    $("#copManufacturer").val(response.manufacturer);
                    $("#copDescription").val(response.description);  
                    $("#copDelivery").val(response.methodDelivery);
                    $("#copQuantityWeight").val(response.quantityWeight);
                    $("#copQuantityNo").val(response.quantityNo);       
                    $("#copRecovery").val(response.countryRecovered);
                    $("#copLength").val(response.length);        
                    $("#copWidth").val(response.width);
                    $("#copHeight").val(response.height);
                    $("#copDiameter").val(response.diameter);
                    $("#copColor").val(response.colour);
                    $("#copMarkings").val(response.markings);
                    $("#copRemarks").val(response.memRemarks);
                      
            },
            error: function (response) {  
                //alert("error");  
            }
        });         
            
    }
</script>
