@{
    Layout = null;
}

<div class="row no-gutters">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h5>Evidence Form</h5>

                <form class="forms-sample">
                    <fieldset class="border p-3">
                        <legend class="float-none w-auto p-2" style="font-size: 12px">
                            Evidence Details
                        </legend>

                        <div class="form-group row">
                            <label for="Other"
                                   class="col-sm-2 col-form-label"
                                   style="font-size: 13px">Item</label>
                            <div class="col-sm-10">
                                <input type="text"
                                       class="form-control"
                                       id="evItem"
                                       placeholder="" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Make"
                                   class="col-sm-2 col-form-label"
                                   style="font-size: 13px">
                                Quantity
                            </label>
                            <div class="col-sm-4">
                                <input type="text"
                                       class="form-control"
                                       id="evQuantity"
                                       placeholder="" />
                            </div>

                            <label for="QuantityMeasurement"
                                   class="col-sm-2 col-form-label"
                                   style="font-size: 13px">Date</label>
                            <div class="col-sm-4">
                                <input type="date"
                                       class="form-control"
                                       id="evDate"
                                       placeholder="" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Time"
                                   class="col-sm-2 col-form-label"
                                   style="font-size: 13px">Time</label>
                            <div class="col-sm-4">
                                <input type="time"
                                       class="form-control"
                                       id="evTime"
                                       placeholder="" />
                            </div>

                            <label for="Seizedby"
                                   class="col-sm-2 col-form-label"
                                   style="font-size: 13px">Seized by / Collected by</label>
                            <div class="col-sm-4">
                                <input type="text"
                                       class="form-control"
                                       id="evSeizedby"
                                       placeholder="" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Location"
                                   class="col-sm-2 col-form-label"
                                   style="font-size: 13px">Location</label>
                            <div class="col-sm-4">
                                <select id="evLocation" class="form-control">
                                    <option>Select</option>
                                    <option>From Crime Scene Primises</option>
                                    <option>From Accused</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="border p-3">
                        <br />
                        <div class="form-group row">
                            <label for="Remarks"
                                   class="col-sm-2 col-form-label"
                                   style="font-size: 13px">Remarks</label>

                            <div class="col-sm-10">
                                <textarea class="form-control" id="evRemarks" rows="4"></textarea>
                            </div>
                        </div>
                    </fieldset>
                    <br />
                    <button type="button" class="btn btn-primary mr-2" onclick="addEvidence()">Save</button>
                    <button class="btn btn-dark">Cancel</button>
                </form>
            </div>
        </div>
    </div>
    @* <div class="col-md-3 grid-margin stretch-card">
    <div class="card">
    <div class="card-body">
    <h4 class="card-title">Matched Records</h4>
    <p class="card-description">No data to display</p>
    </div>
    </div>
    </div>*@
</div>
<script src="~/Content/jquery-3.6.0.min.js"></script>
<script type="text/javascript">

    var vpage_name = "";
    var vparam_x = "";
    var vpage_status = "";
    $(document).ready(function() {
        const urlParams = new URLSearchParams(window.location.search);
        const param_x = urlParams.get('id');
        const page_status = urlParams.get('pageStatus');
        const page_name = urlParams.get('pageName');
        vpage_name = page_name;
        vparam_x = param_x;
        vpage_status = page_status;

        if (page_status == "u" && param_x != "" && page_name == "PreviewEvidenceRecord") {
            alert(page_status + " " + param_x + " " + page_name);
            ViewEvidenceById(param_x);
        }
    });
    function addEvidence() {
        if (vpage_status == "u" && vparam_x != "" && vpage_name == "PreviewEvidenceRecord") {
            EvidenceUpdation();
        }
        else {
            EvidenceInsertion();
        }

    }

    function EvidenceInsertion() {
        var evItem = $("#evItem").val();
        var evQuantity = $("#evQuantity").val();
        var evDate = $("#evDate").val();
        var evTime = $("#evTime").val();
        var evSeizedby = $("#evSeizedby").val();
        var evLocation = $("#evLocation").val();
        var evRemarks = $("#evRemarks").val();

        var settings = {
            "url": "/api/Evidence",
            "method": "POST",
            "timeout": 0,
            "headers": {
                "Content-Type": "application/json"
            },
            "data": JSON.stringify({
                "intID": 0,
                "strURN": "string",
                "item": evItem,
                "quantity": evQuantity,
                "date": evDate,
                "time": evTime,
                "collectedBy": evSeizedby,
                "location": evLocation,
                "memRemarks": evRemarks,
                "createdBy": "Admin",
                "dteCreated": "2022-04-03T20:00:07.632Z",
                "dteSent": "2022-04-03T20:00:07.632Z",
                "lastModifiedBy": "Admin",
                "lastModified": "2022-04-03T20:00:07.632Z"
            }),
        };

        $.ajax(settings).done(function(response) {
            console.log(response);
            alert("Evidence has been added successfully");
            if (confirm('Do you want to add Media File ?')) {

                console.log("Media File.");
                localStorage.setItem("strURN", response.strURN);
                localStorage.setItem("tableName", "Evidence");
                window.location.href = "/Admin/Records/AddMedia";
            }
            else {
                   localStorage.setItem("strURN", response.strURN);
                localStorage.setItem("tableName", "Evidence");

                var id = response.strURN;
                // window.location.href = "/Admin/Records/PreviewEvidenceRecord?id="+id;
                window.location.href = "/Admin/Records/PreviewRecord?controller=Evidence&id="+id;
         
            }
        });

    }

    function EvidenceUpdation() {
        var strid=vparam_x;
        var evItem = $("#evItem").val();
        var evQuantity = $("#evQuantity").val();
        var evDate = $("#evDate").val();
        var evTime = $("#evTime").val();
        var evSeizedby = $("#evSeizedby").val();
        var evLocation = $("#evLocation").val();
        var evRemarks = $("#evRemarks").val();

        var settings = {
            "url": "/api/Evidence/"+strid,
            "method": "PUT",
            "timeout": 0,
            "headers": {
                "Content-Type": "application/json"
            },
            "data": JSON.stringify({
                "intID": 0,
                "strURN": strid,
                "item": evItem,
                "quantity": evQuantity,
                "date": evDate,
                "time": evTime,
                "collectedBy": evSeizedby,
                "location": evLocation,
                "memRemarks": evRemarks,
                "createdBy": "Admin",
                "dteCreated": "2022-04-03T20:00:07.632Z",
                "dteSent": "2022-04-03T20:00:07.632Z",
                "lastModifiedBy": "Admin",
                "lastModified": "2022-04-03T20:00:07.632Z"
            }),
        };

        $.ajax(settings).done(function(response) {
            console.log(response);
            alert("Evidence has been Updated successfully");
           // window.location.href = "/Admin/Records/PreviewEvidenceRecord?id="+strid;
             window.location.href = "/Admin/Records/PreviewRecord?controller=Evidence&id="+strid;
            });

        }

    function ViewEvidenceById(x) {

        var url = "/api/Evidence/GetEvidenceById?id="+x;

        $.ajax({
            type: "GET",
            url: url,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function(response) {
                //alert(JSON.stringify(response));
                alert((response.strURN.toString()));
               $("#evItem").val(response.item);
               $("#evQuantity").val(response.quantity);
                 $("#evDate").val(response.quantity);
                 $("#evTime").val(response.date);
                 $("#evSeizedby").val(response.collectedBy);
                 $("#evLocation").val(response.location);
                 $("#evRemarks").val(response.memRemarks);
            
                //$("#evItem").val(response.Item);
                //$("#evQuantity").val(response.Quantity);
                //$("#evDate").val(response.Date);
                //$("#evTime").val(response.Time);
                //$("#evSeizedby").val(response.CollectedBy);
                //$("#evLocation").val(response.Location);
                //$("#evRemarks").val(response.memRemarks);

            },
            error: function(response) {
                alert("error");
            }
        });

    }

</script>
