
﻿@{
    Layout = null;
} 


<div class="row no-gutters">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h5>Group Form</h5>

                        <fieldset class="border p-3">
                            <legend class="float-none w-auto p-2" style="font-size: 12px">Group Form</legend>


                            <form class="forms-sample">
                                <div class="form-group row">
                                    <label for="groupname" class="col-sm-2 col-form-label" style="font-size: 13px;">Group Name </label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="groupname" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="GroupCategory" class="col-sm-2 col-form-label" style="font-size: 13px;"> Category </label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="GroupCategory" placeholder="">
                                    </div>
                                </div>
                               @*  <div class="form-group row">
                                    <label for="GCategory" class="col-sm-2 col-form-label" style="font-size: 13px;"> Category </label>
                                    <div class="col-sm-10">
                                        <div class="col-sm-4">
                                        <input type="checkbox" class="form-control" id="GCategory" placeholder="">
                                        </div>
                                    </div>
                                </div>*@
                               @*  <div class="form-group row">
                                    <label for="GroupList" class="col-sm-2 col-form-label" style="font-size: 13px;"> Group List </label>
                                    <div class="col-sm-10">
                                         <select class="form-control" id="GroupList">
                                        <option value="" disabled selected>Select</option>
                                        <option>CTW HQ</option>
                                        <option>CTW KP</option>
                                        <option>CTW Punjab</option>
                                        <option>CTW Balochistan</option>
                                        <option>CTW Sindth</option>
                                        <option>CTD</option>
                                        <option>CTD KP</option>
                                        <option>CTD Punjab</option>
                                        <option>CTD Balochistan</option>
                                        <option>CTD Sindh</option>
                                    </select>
                                    </div>
                                </div>*@
                             @*   <div class="form-group row">
                                    <label for="GroupTo" class="col-sm-2 col-form-label" style="font-size: 13px;">Group To</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="GroupTo" placeholder="">
                                    </div>
                                </div>*@
                                 
                                <div class="form-group row">
                                    <label for="GroupReportingAgency" class="col-sm-2 col-form-label" style="font-size: 13px;">Reporting Agency </label>
                                    <div class="col-sm-10">
                                    <select class="form-control" id="GroupReportingAgency">
                                        <option>Select</option>
                                        <option>CTW HQ</option>
                                        <option>CTW KP</option>
                                        <option>CTW Punjab</option>
                                        <option>CTW Balochistan</option>
                                        <option>CTW Sindth</option>
                                        <option>CTD</option>
                                        <option>CTD KP</option>
                                        <option>CTD Punjab</option>
                                        <option>CTD Balochistan</option>
                                        <option>CTD Sindh</option>
                                    </select>
                                </div>
                                </div>
                              @*  <div class="form-group row">
                                    <label for="DeclaredBy" class="col-sm-2 col-form-label" style="font-size: 13px;">Declared By </label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="DeclaredBy" placeholder="">
                                    </div>
                                </div>*@
                                <div class="form-group row">
                                    <label for="YearofEstablishment" class="col-sm-2 col-form-label" style="font-size: 13px;">Year of Establish </label>
                                    <div class="col-sm-10">
                                        <input type="date" class="form-control" id="YearofEstablishment" placeholder="dd/mm/yyyy">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="HeadName" class="col-sm-2 col-form-label" style="font-size: 13px;">Head Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="HeadName" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="GroupStrength" class="col-sm-2 col-form-label" style="font-size: 13px;">Strength </label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="GroupStrength" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="GroupArea" class="col-sm-2 col-form-label" style="font-size: 13px;">Area </label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="GroupArea" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="Goal" class="col-sm-2 col-form-label" style="font-size: 13px;">Goal </label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="GroupGoal" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="GroupCountry" class="col-sm-2 col-form-label" style="font-size: 13px;">Country Origin</label>
                                    <div class="col-sm-10">
                                         <select class="form-control" id="GroupCountry">

                                        </select>
                                    </div>
                                </div>
                               
                              
                            </form>
                        </fieldset>
                        <fieldset class="border p-3">
                              <legend class="float-none w-auto p-2" style="font-size: 12px">Address</legend>
                            <br>
                          
                                   <div class="form-group row">
                                    <label for="GroupCountryList" class="col-sm-2 col-form-label"  style="font-size: 13px;">Country</label>
                                 <div class="col-sm-4">
                                     <select class="form-control" id="GroupCountryList">
                                              <option>Select Country</option>
                                    @for (var i = 0; i < ViewBag.country.Count; i++)
                                    {
                                        <option>@ViewBag.country[i].Country</option>
                                    }
                                     </select>
                                     </div>
                                    
                                </div>
                                <div class="form-group row">
                                     <label for="GroupProvinceList" class="col-sm-2 col-form-label" style="font-size: 13px;">Province </label>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="GroupProvinceList">
                                              <option>Select the Province</option>
                                        </select>
                                   </div>
                                      <label for="GroupCity" class="col-sm-2 col-form-label" style="font-size: 13px;">City</label>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="GroupCity">
                                            <option value="">Select The City</option>
                                            
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    
                                    <label for="GroupDistrictList" class="col-sm-2 col-form-label" style="font-size: 13px;">District</label>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="GroupDistrictList">
                                            <option value="">Select the District</option>
                                          
                                        </select>
                                    </div>
                                    <label for="GroupPostalZip" class="col-sm-2 col-form-label" style="font-size: 13px;">Postal Zip</label>
                                     
                                    <div class="col-sm-4">
                                          <input type="text"  id="GroupPostalZip" class="form-control" />
                                    </div>
                                </div>
                              
                                <div class="form-group row">

                                    <label for="GroupAddress" class="col-sm-2 col-form-label" style="font-size: 13px;">Address</label>
                                    <div class="col-sm-10">
                                       
                                         <textarea  class="form-control" id="GroupAddress" rows="4"></textarea>
                                    </div>
                                </div>

                        </fieldset>
                      
                        <br>
                        <button type="button" class="btn btn-primary mr-2" id="GroupBtn" onclick="GroupClick()">Save</button>
                        <button class="btn btn-dark">Cancel</button>

                    </div>
                </div>
            </div>

            @*<div class="col-md-3 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Matched Records</h4>
                        <p class="card-description">No data to display</p>

                    </div>
                </div>
            </div>*@
        </div>


   <script src="~/Content/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
         var vpage_name ="";
         var vparam_x ="";
         var vpage_status = "";
         $(document).ready(function () {
         const urlParams = new URLSearchParams(window.location.search);
         const param_x = urlParams.get('id');
         const page_status = urlParams.get('pageStatus');
         const page_name= urlParams.get('pageName');
         vpage_name=page_name;
         vparam_x=param_x;
         vpage_status=page_status;
        // alert(page_status +" " +param_x +" " +page_name);
        // alert(page_status +" " +param_x +" " +page_name);
         LoadCountry();
        // LoadProvince();
         if(page_status == "u" && param_x != "" && page_name == "groupPreview")
            {
                // alert(page_status +" " +param_x +" " +page_name);
                  alert(page_status +" " +param_x +" " +page_name);
                  ViewGroupById(param_x);
            } 
            });
       
        function GroupClick()
         {
            if(vpage_status == "u" && vparam_x != "" && vpage_name == "groupPreview")
            {
                GroupUpdation(vparam_x);
            } 
            else
            {
               GroupInsertion();
            }
            
         }
    function LoadCountry()
    {
     // var GroupCountryList = $('#GroupCountryList');
       var GroupCountry = $('#GroupCountry'); 
     
        try {
        $.ajax({
            url: '/api/Countries',
              method: 'Get',
            //headers: {
              //  'Content-Type': 'application/x-www-form-urlencoded'
            //},
                dataType: 'json',
                success: function ( data) 
                {
                     var v = JSON.stringify(data);
                     var selOpts = "";
                     selOpts += "<option value='' disabled selected>--Select--</option>";
                      $.each(data, function (k, v) {
                           var id = data[k].strCountry;
                           var val = data[k].strCountry;
                           selOpts += "<option value='" + id + "'>" + val + "</option>";
                         });
                        // GroupCountryList.append(selOpts); 
                         GroupCountry.append(selOpts); 
                },
            error: function (request, status, error) {
           
                //alert("Error.");
            }
        });
    }
    catch (err) {
        exceptionHandeld(err)
    }
    }
     function LoadProvince()
    {
        var GroupProvinceList = $('#GroupProvinceList');   
      
       try {
        $.ajax({
            url: '/api/ProvinceLists',
              method: 'Get',
            //headers: {
              //  'Content-Type': 'application/x-www-form-urlencoded'
            //},
            dataType: 'json',
            success: function ( data) 
            {
             var v = JSON.stringify(data);
             var selOpts = "";
             selOpts += "<option value='' disabled selected>--Select--</option>";
              $.each(data, function (k, v) {
                   var id = data[k].strProvince;
                   var val = data[k].strProvince;
                   selOpts += "<option value='" + id + "'>" + val + "</option>";
                    });
                   GroupProvinceList.append(selOpts);
             },
            error: function (request, status, error) {
           
                //alert("Error.");
            }
        });
        }
        catch (err) {
            exceptionHandeld(err)
        }
    }
         
            function GroupInsertion()
            {
                 
                var groupname = $("#groupname").val();
                var GroupCategory = $("#GroupCategory").val();
               // var GroupTo = $("#GroupTo").val();
                var HeadName = $("#HeadName").val();
                var GroupGoal = $("#GroupGoal").val();
                var GroupStrength = $("#GroupStrength").val();
                var GroupArea = $("#GroupArea").val();
                var GroupCountry = $('#GroupCountry').val(); 
                var GroupCountryList = $('#GroupCountryList').val(); 
                var GroupProvinceList = $('#GroupProvinceList').val(); 
                var GroupCity = $('#GroupCity').val();   
                var GroupDistrictList = $('#GroupDistrictList').val();
                var GroupPostalZip = $('#GroupPostalZip').val();   
                var GroupAddress = $('#GroupAddress').val();
                var GroupmemRemarks = $('#GroupmemRemarks').val();
               
                var GroupReportingAgency= $('#GroupReportingAgency').val();
             var settings = {
              "url": "/api/Group",
              "method": "POST",
              "timeout": 0,
              "headers": {
                "Content-Type": "application/json"
              },
              "data": JSON.stringify({
                "intID": 0,
                "strURN": "string87",
                "GroupName": groupname,
                "SubCategory": GroupCategory,
                "CountryOrigin": GroupCountry,
                "GroupTo": "GroupTo",
                "HeadName": HeadName,
                "MemGoals": GroupGoal,
                "Strength": GroupStrength,
                "Area": GroupArea,
                "memRemarks": GroupmemRemarks,
                "Country": GroupCountry,
                "Province": GroupProvinceList,
                "City": GroupCity,
                "District": GroupDistrictList,
                "PostalZip": GroupPostalZip,
                "GroupReportingAgency": GroupReportingAgency,
                 "Address": GroupAddress,
                "CreatedBy": "Admin",
                "LastModifiedBy": "Admin"
              }),
            };
                $.ajax(settings).done(function (response) {
                alert("Group has been added successfully");
                if (confirm('Do you want to add Media File ?')) {
                 
                   console.log("Media File.");
                   localStorage.setItem("strURN", response.strURN);
                   localStorage.setItem("tableName", "Group");
                   window.location.href = "/Admin/Records/AddMedia";
                  }
                  else
                  {
                     localStorage.setItem("strURN", response.strURN);
                   localStorage.setItem("tableName", "Group");
                     var id=response.strURN;
                      window.location.href = "/Admin/Records/PreviewRecord?controller=Group&id="+id;
                    // window.location.href = "/Admin/Records/GroupPreview?id="+id;
                  }
                });
            }
        

          function GroupUpdation(z)
          {
                var strid=z;
                var groupname = $("#groupname").val();
                var GroupCategory = $("#GroupCategory").val();
                var HeadName = $("#HeadName").val();
                var GroupGoal = $("#GroupGoal").val();
                var GroupStrength = $("#GroupStrength").val();
                var GroupArea = $("#GroupArea").val();
                var GroupCountry = $('#GroupCountry').val(); 
                var GroupCountryList = $('#GroupCountryList').val(); 
                var GroupProvinceList = $('#GroupProvinceList').val(); 
                var GroupCity = $('#GroupCity').val();   
                var GroupDistrictList = $('#GroupDistrictList').val();
                var GroupPostalZip = $('#GroupPostalZip').val();   
                var GroupAddress = $('#GroupAddress').val();
                var GroupmemRemarks = $('#GroupmemRemarks').val();
               
                 var GroupReportingAgency= $('#GroupReportingAgency').val();
             var settings = {
              "url": "/api/Group/"+strid,
              "method": "Put",
              "timeout": 0,
              "headers": {
                "Content-Type": "application/json"
              },
              "data": JSON.stringify({
                "intID": 0,
                "strURN": strid,
                "GroupName": groupname,
                "SubCategory": GroupCategory,
                "CountryOrigin": GroupCountry,
                "GroupTo": "GroupTo",
                "HeadName": HeadName,
                "MemGoals": GroupGoal,
                "Strength": GroupStrength,
                "Area": GroupArea,
                "memRemarks": GroupmemRemarks,
                "Country": GroupCountry,
                "Province": GroupProvinceList,
                "City": GroupCity,
                 "Address": GroupAddress,
                "District": GroupDistrictList,
                "PostalZip": GroupPostalZip,
                "GroupReportingAgency": GroupReportingAgency,
                "CreatedBy": "Admin",
                "LastModifiedBy": "Admin"
              }),
            };
            $.ajax(settings).done(function (response) {
             alert("Group has been updated successfully");
          
          //   window.location.href = "/Admin/Records/GroupPreview?id="+strid;
                window.location.href = "/Admin/Records/PreviewRecord?controller=Group&id="+strid;
            });
          }


          function ViewGroupById(x)
          {
            var url = "/api/Group/GetGroupById?id="+x;
            $.ajax({  
            type: "GET",  
            url: url,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (response) {  
                  alert(JSON.stringify(response));
                  alert((response.strURN.toString()));
                  
                    $("#groupname").val(response.groupName);
                    $("#GroupCountryList").val(response.countryOrigin);
                    $("#HeadName").val(response.headName);
                    $("#GroupCategory").val(response.subCategory);
                    $("#GroupGoal").val(response.memGoals);    
                    //$("#DeclaredByWhomid").html(response.strDeclaredByWhom);
                    $("#GroupStrength").val(response.strength);
                    $("#GroupArea").val(response.area);
                    $("#GroupProvinceList").val(response.province);
                    $("#GroupCountry").val(response.country);
                    $("#GroupCity").val(response.city);
                    $("#GroupDistrictList").val(response.district);
                      $("#GroupReportingAgency").val(response.groupReportingAgency);
                    $("#GroupPostalZip").val(response.postalZip);
                    $("#GroupAddress").val(response.address);
                    $("#GroupmemRemarks").val(response.memRemarks);
            },
            error: function (response) {  
                alert("error");  
            }
            });         
          }
          
        $("#GroupCountryList").change(function () {
        var conceptName = $('#GroupCountryList').find(":selected").text();
        LoadCountryProvince(conceptName);
    });
    $("#GroupProvinceList").change(function () {
        var pn = $('#GroupProvinceList').find(":selected").text();
        getDistrictlist(pn);
    });
    function LoadCountryProvince(country)
    {
         $("#GroupProvinceList option").remove();
        $("#GroupCity option").remove();
        var personprovince = $('#GroupProvinceList');
        $.ajax({
            url: '/AllRcord/getProvinceList'
        , type: 'GET'
        , data: {country:country}
        , contentType: 'application/json'
        , success: function (response) {
         
                 var Prlist = "";
                 Prlist="<option>Select Province</option>";
                for (var m = 0; m < response.length; m++) {
                     Prlist += "<option value='" + response[m] + "'>" + response[m] + "</option>";
                    
                }
                personprovince.append(Prlist);
         
        }
    });
    }
    function getDistrictlist(Province)
    {
      
         $("#GroupCity option").remove();
         $("#GroupDistrictList option").remove();
        var Districlist = $('#GroupCity');
        var Districlt = $('#GroupDistrictList');
        $.ajax({
            url: '/AllRcord/getDistrictlist'
        , type: 'GET'
        , data: {Province:Province}
        , contentType: 'application/json'
        , success: function (response) {
         
                 var Dslist = "";
                 Dslist=null;

                for (var d = 0; d < response.length; d++) {
                     Dslist += "<option value='" + response[d] + "'>" + response[d] + "</option>";
                    
                }
                Districlist.append(Dslist);
                Districlt.append(Dslist);
         
        }
    });
    }

   </script>

























