@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{

}

<div class="row no-gutters">
    <div class="col-md-12"><h2 class="font-weight-normal text-center">Terrorist Groups Analysis – Graph </h2></div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h6 class="font-weight-normal text-center">Terrorist Groups</h6>
                <canvas id="pieChart"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">

            <div class="card-body">
                <h6 class="font-weight-normal text-center">Foreign</h6>
                <canvas id="foreignChart" style="position: relative; height:300px; width:280px"></canvas>
            </div>

        </div>
   @*     <div class="card">
            <div class="card-body">
                <h6 class="font-weight-normal text-center">Foreign </h6>
                <canvas id="foreignChart" style="position: relative; height:0px; width:0px"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h6 class="font-weight-normal text-center">Pakistani</h6>
                <canvas id="pakChart" style="position: relative; height:150px; width:150px"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="row no-gutters">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h6 class="font-weight-normal text-center">Top 10</h6>
                <canvas id="strengthChart" style="position: relative; height:150px; width:150px"></canvas>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            const ctx_foreign = document.getElementById('foreignChart');
            const ctx_pak = document.getElementById('pakChart');
            const ctx_strength = document.getElementById('strengthChart');
            Chart.register(ChartDataLabels);
            Chart.defaults.set('plugins.datalabels', {
                color: '#000000'
            });

            const c_options = {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    },
                    x: {
                        stacked: true
                    }
                },
                legend: {
                    labels: {
                        // This more specific font property overrides the global property
                        font: {
                            size: 22
                        }
                    }
                },
                tooltips: {
                    enabled: false
                },
                plugins: {
                    datalabels: {
                        anchor: 'end',
                        align: 'end',
                        labels: {
                            value: {
                                color: 'black'
                            },
                            font: {
                                size: 22
                            }
                        }
                    }
                }
            };
            const c_background_colors =
                [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235,1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192,1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64,1)',
                    'rgba(9, 113, 7, 0.94)',
                    'rgba(10, 73, 231, 0.94)',
                    'rgba(73, 49, 226, 1)',
                    'rgba(138, 38, 64, 1)',

                ];

            $.ajax({
                type: "GET",
                url: "/TerroristsGroups/Getdashboard",
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    const foreign = [];
                    const count_foreign = [];
                    const pak = [];
                    const count_pak = [];
                    const strength = [];
                    const count_strength = [];
                    var provinegroup = [];
                    var count_provincegroupt = [];
                    const gwname = [];
                    const gwcount = [];


                    for (let j = 0; j < response.length; j++) {
                        if (response[j].tablename === "FG") {
                            foreign.push(response[j].name);
                            count_foreign.push(response[j].totalRecord);
                        }
                        if (response[j].tablename === "PKG") {
                            pak.push(response[j].name);
                            count_pak.push(response[j].totalRecord);
                        }
                        if (response[j].tablename === "TopG") {
                            strength.push(response[j].name);
                            count_strength.push(response[j].totalRecord);
                        }
                        if (response[j].tablename == "GW" && response[j].name != 'UNKNOWN') {
                            // alert(j);
                            if (response[j].name == '') {
                                provinegroup.push('NULL');
                            }
                            else {
                                provinegroup.push(response[j].name);
                            }

                            count_provincegroupt.push(response[j].totalRecord);
                        }
                        if (response[j].tablename == "TGW") {
                            // alert(j);
                            gwname.push(response[j].name);
                            gwcount.push(response[j].totalRecord);
                        }
                    }


                    const ctx_gw = document.getElementById('GWChart');
                    const myChart2 = new Chart(ctx_gw, {
                        type: 'bar',
                        data: {
                            labels: gwname,
                            datasets: [{
                                label: '# errorist Incidents Analysis (Group Wise)',
                                data: gwcount,
                                backgroundColor: c_background_colors,
                                borderColor: c_background_colors,
                                borderWidth: 2

                            }]
                        },
                        options: c_options
                    });





                    const ctx_groupprovinces = document.getElementById('pieChart');

                    const pieChart = new Chart(ctx_groupprovinces, {
                        type: 'pie',
                        data: {
                            labels: provinegroup,
                            datasets: [{
                                label: '# of Groups Order by Province',
                                data: count_provincegroupt,
                                backgroundColor: c_background_colors,
                                borderColor: c_background_colors,
                                borderWidth: 1

                            }]
                        },
                        options: {
                            responsive: true,
                            scales: {
                                y: {
                                    ticks: {
                                        // Include a dollar sign in the ticks

                                        fixedStepSize: 1
                                    }
                                }
                            },
                            legend: {
                                labels: {
                                    // This more specific font property overrides the global property
                                    font: {
                                        size: 22
                                    }
                                }
                            },
                            tooltips: {
                                enabled: false
                            },
                            plugins: {
                                datalabels: {
                                    anchor: 'end',
                                    align: 'end',
                                    labels: {
                                        value: {
                                            color: 'black'
                                        },
                                        font: {
                                            size: 22
                                        }
                                    }
                                }
                            }
                        }
                    });
                    const myChart_foreign = new Chart(ctx_foreign, {
                        type: 'pie',
                        data: {
                            labels: foreign,
                            datasets: [{
                                label: '# of Groups in Foreign Countries',
                                data: count_foreign,
                                backgroundColor: c_background_colors,
                                borderColor: c_background_colors,
                                borderWidth: 2
                            }]
                        },
                        options: {
                            responsive: true,
                            scales: {
                                    
                                y: {
                                      
                                    ticks: {
                                        // Include a dollar sign in the ticks

                                        fixedStepSize: 1
                                    }
                                }
                            },
                            legend: {
                                labels: {
                                    // This more specific font property overrides the global property
                                    font: {
                                        size: 22
                                    }
                                }
                            },
                            tooltips: {
                                enabled: false
                            },
                            plugins: {
                                datalabels: {
                                    anchor: 'end',
                                    align: 'end',
                                    labels: {
                                        value: {
                                            color: 'black'
                                        },
                                        font: {
                                            size: 22
                                        }
                                    }
                                }
                            }
                        }
                    });


                    const myChart_pak = new Chart(ctx_pak, {
                        type: 'pie',
                        data: {
                            labels: pak,
                            datasets: [{
                                label: '# of Groups in Pakistan',
                                data: count_pak,
                                backgroundColor: c_background_colors,
                                borderColor: c_background_colors,
                                borderWidth: 2
                            }]
                        },
                        options: {
                            responsive: true,
                            scales: {
                                    
                                y: {
                                      
                                    ticks: {
                                        // Include a dollar sign in the ticks

                                        fixedStepSize: 1
                                    }
                                }
                            },
                            legend: {
                                labels: {
                                    // This more specific font property overrides the global property
                                    font: {
                                        size: 22
                                    }
                                }
                            },
                            tooltips: {
                                enabled: false
                            },
                            plugins: {
                                datalabels: {
                                    anchor: 'end',
                                    align: 'end',
                                    labels: {
                                        value: {
                                            color: 'black'
                                        },
                                        font: {
                                            size: 22
                                        }
                                    }
                                }
                            }
                        }
                    });


                    const myChart_strength = new Chart(ctx_strength, {
                        type: 'pie',
                        data: {
                            labels: strength,
                            datasets: [{
                                label: '# Top Groups with Strength',
                                data: count_strength,
                                backgroundColor: c_background_colors,
                                borderColor: c_background_colors,
                                borderWidth: 2
                            }]
                        },
                        options:{
                            responsive: true,
                            scales: {
                                    
                                y: {
                                      
                                    ticks: {
                                        // Include a dollar sign in the ticks

                                        fixedStepSize: 1
                                    }
                                }
                            },
                            legend: {
                                labels: {
                                    // This more specific font property overrides the global property
                                    font: {
                                        size: 22
                                    }
                                }
                            },
                            tooltips: {
                                enabled: false
                            },
                            plugins: {
                                datalabels: {
                                    anchor: 'end',
                                    align: 'end',
                                    labels: {
                                        value: {
                                            color: 'black'
                                        },
                                        font: {
                                            size: 22
                                        }
                                    }
                                }
                            }
                        }
                    });

                },
            });
        });
    </script>
}
