@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{

}

    <div class="row no-gutters">
         <div class="col-md-12"><h2 class="font-weight-normal text-center">Terrorist Incidents Analysis – Graphs </h2></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h6 class="font-weight-normal text-center">
                         
                            Terrorist Incident Analysis<br />
                        (Province Wise)
                      
                    </h6>
                    <canvas id="myChart" style="position: relative; height:60vh; width:80vw"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h6 class="font-weight-normal text-center">
                      
                            Terrorist Incident Analysis<br />
                        (Year Wise)
                      
                    </h6>
                    <canvas id="yearChart" style="position: relative; height:60vh; width:80vw"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h6 class="font-weight-normal text-center">
                        
                            Terrorist Incident Analysis<br/>
                            (Weapon Wise)
                       
                    </h6>
                    <canvas id="weaponChart" style="position: relative; height:60vh; width:80vw"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h6 class="font-weight-normal text-center">
                      
                            Terrorist Incident Analysis<br />
                        (Target Wise)
                      
                    </h6>
                    <canvas id="targetChart" style="position: relative; height:60vh; width:80vw"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h6 class="font-weight-normal text-center text-center">
                   Terrorist Incident Analysis<br/>
                    (Motive Wise)
                        
                </h6>
                <canvas id="motiveChart" style="position: relative; height:60vh; width:80vw"></canvas>
            </div>
        </div>
    </div>
<div class="col-md-6">
    <div class="card">
        <div class="card-body">
            <h6 class="font-weight-normal text-center text-center">
               Terrorist Incidents Analysis<br/>
                (Group Wise)
                       
            </h6>
            <canvas id="GWChart" style="position: relative; height:60vh; width:80vw"></canvas>
        </div>
    </div>
</div>
</div>

    @section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            const ctx_provinces = document.getElementById('myChart');
            const ctx_years = document.getElementById('yearChart');
            const ctx_weapon = document.getElementById('weaponChart');
            const ctx_target = document.getElementById('targetChart');
            const ctx_motive = document.getElementById('motiveChart');
            const ctx_gw = document.getElementById('GWChart');
            Chart.register(ChartDataLabels);
            Chart.defaults.set('plugins.datalabels', {
                color: '#000000'
            });
            const c_options = {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true,
                        grace: '70%', 
                        ticks: {
                            callback: function (value) {
                                if (value === this.max) {
                                    return value + ' (' + this.getLabelForValue(value) + ')'; // Display the count of the highest bar
                                } else {
                                    return value;
                                }
                            }
                        }
                    },
                    x: {
                        stacked: true
                    }
                },
                plugins: {
                    legend: {
                        display: false // Remove the legend
                    },
                    datalabels: {
                        anchor: 'end',
                        align: 'end',
                        labels: {
                            value: {
                                color: 'black'
                            },
                            font: {
                                size: 22
                            }
                        }
                    }
                }
            };



            const c_background_colors =
                [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235,1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192,1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64,1)',
                    'rgba(9, 113, 7, 0.94)',
                    'rgba(10, 73, 231, 0.94)',
                    'rgba(73, 49, 226, 1)',
                    'rgba(138, 38, 64, 1)',

                ];


          
            $.ajax({
                type: "GET",
                url: "/incidents/Getdashboard",
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (response) {

                    //  alert(response.length);
                    const count_province = [];

                    const province = [];
                    const years = [];

                    const count_years = [];

                    const weapon = [];

                    const count_weapon = [];

                    const target = [];

                    const count_target = [];

                    const motive = [];

                    const count_motive = [];

                    const gwname = [];
                    const gwcount = [];


                    const ctx_weapon = document.getElementById('weaponChart');

                    //console.log(response);

                    for (let j = 0; j < response.length; j++) {
                        if (response[j].tablename == "PW") {
                            // alert(j);
                            province.push(response[j].name);
                            count_province.push(response[j].totalRecord);
                        }
                        if (response[j].tablename == "T10") {
                            // alert(j);hh
                            years.push(response[j].name);
                            count_years.push(response[j].totalRecord);
                        }
                        if (response[j].tablename == "WW") {
                            // alert(j);
                            weapon.push(response[j].name);
                            count_weapon.push(response[j].totalRecord);
                        }
                        if (response[j].tablename == "TW") {
                            // alert(j);
                            target.push(response[j].name);
                            count_target.push(response[j].totalRecord);
                        }
                        if (response[j].tablename == "MW") {
                            // alert(j);
                            motive.push(response[j].name);
                            count_motive.push(response[j].totalRecord);
                        }
                        if (response[j].tablename == "GW") {
                            // alert(j);
                            gwname.push(response[j].name);
                            gwcount.push(response[j].totalRecord);
                        }

                    }



                    //console.log (response)
                    //console.log(province);
                    //console.log(count_province);
                    //console.log(years);
                    //console.log(count_years);
                    //console.log(weapon);
                    //console.log(count_weapon);
                    console.log(target);
                    console.log(count_target);
                    //console.log(motive);
                    //console.log(count_motive);




                    const myChart = new Chart(ctx_provinces, {
                        type: 'bar',
                        data: {
                            labels: province,
                            datasets: [{
                                label: '# of Incidents Order By Provinces',
                                data: count_province,
                                backgroundColor: c_background_colors,
                                borderColor: c_background_colors,
                                borderWidth: 2

                            }]
                        },
                        options: c_options
                    });
                    const myChart2 = new Chart(ctx_gw, {
                        type: 'bar',
                        data: {
                            labels: gwname,
                            datasets: [{
                                label: '# errorist Incidents Analysis (Group Wise)',
                                data: gwcount,
                                backgroundColor: c_background_colors,
                                borderColor: c_background_colors,
                                borderWidth: 2

                            }]
                        },
                        options: c_options
                    });

                    const myChart_year = new Chart(ctx_years, {
                        type: 'bar',
                        data: {
                            labels: years,
                            datasets: [{
                                label: '# of Incidents Order By Years',
                                data: count_years,
                                backgroundColor: c_background_colors,
                                borderColor: c_background_colors,
                                borderWidth: 2

                            }]
                        },
                        options: c_options,
                    });

                    const myChart_weapon = new Chart(ctx_weapon, {
                        type: 'bar',
                        data: {
                            labels: weapon,
                            datasets: [{
                                label: '# of Incidents Order By Weapons',
                                data: count_weapon,
                                backgroundColor: c_background_colors,
                                borderColor: c_background_colors,
                                borderWidth: 1

                            }]
                        },
                        options: c_options,
                    });

                    const myChart_target = new Chart(ctx_target, {
                        type: 'bar',
                        data: {
                            labels: target,
                            datasets: [{
                                label: '# of Incidents Order By Targets',
                                data: count_target,
                                backgroundColor: c_background_colors,
                                borderColor: c_background_colors,
                                borderWidth: 2

                            }]
                        },
                        options: c_options,
                    });

                    const myChart_motive = new Chart(ctx_motive, {
                        type: 'bar',
                        data: {
                            labels: motive,
                            datasets: [{
                                label: '# of Incidents Order By Motives',
                                data: count_motive,
                                backgroundColor: c_background_colors,
                                borderColor: c_background_colors,
                                borderWidth: 2

                            }]
                        },
                        options: c_options,
                    });









                },

            });

        });











    </script>





}