@model CTW_FIA.Models.DatabaseModels.Evidence
@{
    //Layout = null;
}

<h2>Evidence Form</h2>
<form class="forms-sample" method="post" asp-action="AddEvidence" asp-controller="Evidence">
    <fieldset class="border p-3">
        <legend class="float-none w-auto p-2" style="font-size: 12px">
            Evidence Details
        </legend>

        <div class="form-group row">
            <label for="evItem" class="col-sm-2 col-form-label" style="font-size: 13px">Item</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="evItem" name="Item" placeholder="" />
            </div>
        </div>

        <div class="form-group row">
            <label for="evQuantity" class="col-sm-2 col-form-label" style="font-size: 13px">Quantity</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="evQuantity" name="Quantity" placeholder="" />
            </div>

            <label for="evDate" class="col-sm-2 col-form-label" style="font-size: 13px">Date</label>
            <div class="col-sm-4">
                <input type="date" class="form-control" id="evDate" name="Date" placeholder="" />
            </div>
        </div>

        <div class="form-group row">
            <label for="evTime" class="col-sm-2 col-form-label" style="font-size: 13px">Time</label>
            <div class="col-sm-4">
                <input type="time" class="form-control" id="evTime" name="Time" placeholder="" />
            </div>

            <label for="evSeizedby" class="col-sm-2 col-form-label" style="font-size: 13px">Seized by / Collected by</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="evSeizedby" name="SeizedBy" placeholder="" />
            </div>
        </div>

        <div class="form-group row">
            <label for="evLocation" class="col-sm-2 col-form-label" style="font-size: 13px">Location</label>
            <div class="col-sm-4">
                <select id="evLocation" class="form-control" name="Location">
                    <option>Select</option>
                    <option>From Crime Scene Premises</option>
                    <option>From Accused</option>
                </select>
            </div>
        </div>
    </fieldset>

    <fieldset class="border p-3">
        <br />
        <div class="form-group row">
            <label for="evRemarks" class="col-sm-2 col-form-label" style="font-size: 13px">Remarks</label>

            <div class="col-sm-10">
                <textarea class="form-control" id="evRemarks" name="Remarks" rows="4"></textarea>
            </div>
        </div>
    </fieldset>
    <br />
    <button type="submit" class="btn btn-primary mr-2">Save</button>
    <button class="btn btn-dark">Cancel</button>
</form>
